---
layout: default
navPage: docs
heading: Export Manager
breadcrumbs:
  - Modules,/modules
  - Export Manager,/modules/export_manager
  - Main Functionality,/modules/export_manager/main/
  - Adding Export Groups
prev: Main Functionality,/modules/export_manager/main/
next: Editing Export Groups,/modules/export_manager/main/editing_export_groups/
category: modules
---

{% include open_section.html nav='nav_export_manager.html' selected='adding_export_groups' %}

  <h3>Adding Export Groups</h3>

  {% include screenshot.html item="i179.gif" %}
  <p>
    Any time you need to do so, you can add your own Export Groups. Just select the module
    from the Modules page in the Form Tools admin interface and on the main page, click
    "Add Export Group". That will take you to a page looking like the screenshot to the
    right. Enter the appropriate information and add the export group.
  </p>

  <p>
    Note: if there isn't an appropriate icon for your export group, you can upload your
    own. See the Export Group Icons section for more information on that.
  </p>


{% include close_section.html %}
