---
layout: default
navPage: docs
heading: Export Manager
breadcrumbs:
  - Modules,/modules
  - Export Manager,/modules/export_manager
  - Main Functionality
prev: "Upgrading to 2.x: special instructions,/modules/export_manager/v2changes/upgrading"
next: Adding Export Groups,/modules/export_manager/main/adding_export_groups/
categories: modules
tags: data_export
---

{% include open_section.html nav='nav_export_manager.html' selected='main_functionality' %}

  <h3>Main Functionality</h3>

  <p>
    Alright, now let's look at the actual functionality offered by the module and how
    you can use it.
  </p>

  <ul>
    <li><a href="adding_export_groups/">Adding Export Groups</a></li>
    <li><a href="editing_export_groups/">Editing Export Groups</a></li>
    <li><a href="permissions/">Permissions</a></li>
    <li><a href="managing_export_types/">Managing Export Types</a></li>
    <li><a href="permissions/">Settings</a></li>
    <li><a href="reset_defaults/">Reset to Defaults</a></li>
  </ul>

{% include close_section.html %}
