---
layout: default
navPage: docs
heading: Export Manager
breadcrumbs:
  - Modules,/modules
  - Export Manager,/modules/export_manager
  - Main Functionality,/modules/export_manager/main/
  - Reset to Defaults
prev: Settings,/modules/export_manager/main/settings
next: Reference and Advanced Stuff,/modules/export_manager/reference/
---

{% include open_section.html nav='nav_export_manager.html' selected='reset_defaults' %}

  <h3>Reset Defaults</h3>

  {% include screenshot.html item="i184.gif" %}

  <p>
    This page was added in the 2.0.0 version of the Export Manager. It lets you reset all the
    Export Manager to the "factory defaults". The problem was Form Tools
    2.1 changed the way the submission data is stored in the database, which was central to
    the way the Export Manager worked. So when upgrading to 2.x of the Export Manager, you'll
    need to come here and reset your settings to the default. Be sure to read the page on
    <a href="{{site.baseurl}}/modules/export_manager/v2changes/upgrading">Upgrading to 2.x: special instructions</a> first, though!
  </p>

  <p>
    This page can be handy any time you accidentally mess up your Export Group or Types.
  </p>

{% include close_section.html %}
