---
layout: default
navPage: docs
heading: Export Manager
breadcrumbs:
  - Modules,/modules
  - Export Manager,/modules/export_manager
  - Main Functionality,/modules/export_manager/main/
  - Settings
prev: Managing Export Types,/modules/export_manager/main/managing_export_types/
next: Reset to defaults,/modules/export_manager/main/reset_defaults
categories: modules
---

{% include open_section.html nav='nav_export_manager.html' selected='settings' %}

  <h3>Settings</h3>

  {% include screenshot.html item="i185.gif" %}

  <p>
    The Settings page contains a couple of settings for the module. Specificaly, the
    Export Manager allows you to generate actual files on the server instead of popping
    them open in a popup or prompting download through a dialog window. For the file
    generation option, here you can control which folder should be used to create and store
    the files.
  </p>


{% include close_section.html %}
