---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set,/modules/form_builder/customization/anatomy
  - Template Types,/modules/form_builder/customization/anatomy/template_types
  - Footer
prev: Header,/modules/form_builder/customization/anatomy/header/
next: Form Page,/modules/form_builder/customization/anatomy/form_page/
categories: modules
---

{% include open_section.html nav='fb_nav_customization.html' selected='footer' %}

  <h3>Footer</h3>

  <p>
    As you'd expect from the name, the Footer Template Type contains the markup for the bottom of your page. It should
    contain the closing &lt;/body&gt; and &lt;/html&gt; tags. Here's what this Template Type usually contains:
  </p>

  {% raw %}
<textarea class="codemirror" data-lang="smarty">
</body>
</html></textarea>
  {% endraw %}

{% include close_section.html %}
