---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set
prev: Customization,/modules/form_builder/customization/
next: Template Types,/modules/form_builder/customization/anatomy/template_types/
categories: modules
---

{% include open_section.html nav='fb_nav_customization.html' selected='template_set_anatomy' %}

  <h3>Anatomy of a Template Set</h3>

  {% include screenshot.html item="i376.jpg" %}

  <h4>What makes up a Template Set?</h4>

  <p>
    A Template Set is made up of three components:
  </p>

  <ul>
    <li><b>Templates</b>. These contain the HTML for your forms. The Templates are split into
      discrete, semantic "Template Types" which contain the markup for a particular element
      of the form page (see following section).</li>
    <li><b>Resources</b>. These are optional CSS or JS files that for use in your templates.</li>
    <li><b>Placeholders</b>. These are optional variables that can be used in your template
      and resource files to control the appearance and behaviour of your forms.</li>
  </ul>


{% include close_section.html %}
