---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set,/modules/form_builder/customization/anatomy
  - Template Types,/modules/form_builder/customization/anatomy/template_types
  - Navigation
next: Benefits,/modules/form_builder/benefits/
---

{% include open_section.html nav='fb_nav_customization.html' selected='navigation' %}

  <h3>Navigation</h3>

{% include close_section.html %}
