---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set,/modules/form_builder/customization/anatomy
  - Template Types,/modules/form_builder/customization/anatomy/template_types
  - Page Layout
prev: The Template Types,/modules/form_builder/customization/anatomy/template_types/
next: Header,/modules/form_builder/customization/anatomy/header/
---

{% include open_section.html nav='fb_nav_customization.html' selected='page_layout' %}

  <h3>Page Layout</h3>

{% include close_section.html %}
