---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set,/modules/form_builder/customization/anatomy
  - Resources
prev: Error Message,/modules/form_builder/customization/anatomy/error_message/
next: Placeholders,/modules/form_builder/customization/anatomy/placeholders/
---

{% include open_section.html nav='fb_nav_customization.html' selected='resources' %}

  <h3>Resources</h3>

  <p>
    {% include screenshot.html item="i377.jpg" %}
    All generated forms contain some CSS provided by the Form Builder / Form Tools to display
    and render the field types properly. But in order to style each form differently,
    you can use Template Set <i>Resources</i>. What's special about Resources is that they can
    contain Smarty logic to output different content based on whatever criteria you want -
    for example, the choice selected for a placeholder. This lets you change what's outputted
    for each form.
  </p>

  <p>
    Resources can be either CSS or JS, but by and large, CSS will be by far the more common
    usage.
  </p>

{% include close_section.html %}
