---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set,/modules/form_builder/customization/anatomy
  - Template Types,/modules/form_builder/customization/anatomy/template_types
  - Review Page
prev: Form Page,/modules/form_builder/customization/anatomy/form_page/
next: Thankyou Page,/modules/form_builder/customization/anatomy/thankyou_page/
---

{% include open_section.html nav='fb_nav_customization.html' selected='review_page' %}

  <h3>Review Page</h3>

  <p>
    The Review page is an optional page that appears in your form. It's placed on the
    penultimate page before the final thankyou/receipt page. The purpose of this page is to
    list all fields to show the user what they'd entered: in other words, provide a
    final confirmation to the user before they submit their form.
  </p>

  <p>
    As with the Form Page, the Smarty logic in this template is quite complex. Here's the
    content from the Default Template Set:
  </p>

  <hr size="1">

{% raw %}
  <textarea class="codemirror" data-lang="smarty2">
{{navigation}}

<h2>{{$review_page_title}}</h2>

<form action="{{$page_url}}" method="post" enctype="multipart/form-data">
  {{foreach from=$grouped_fields item=curr_group}}
  {{assign">assign">assign var=group value=$curr_group.group}}
  {{assign">assign">assign var=fields value=$curr_group.fields}}

  {{if $fields|@count > 0}}
  <h3>
    <a href="?page={{$group.custom_data}}#s{{$group.group_id}}">EDIT</a>
    {{$group.group_name}}
  </h3>

  <table class="table_1" cellpadding="1" cellspacing="1" border="0" width="798">
    {{/if}}

    {{foreach from=$fields item=curr_field}}
    {{assign">assign">assign var=field_id value=$field.field_id}}
    <tr>
      <td width="200" class="pad_left_small" valign="top">{{$curr_field.field_title}}</td>
      <td class="answer" valign="top">
        <div class="pad_left">
          {{edit_custom_field form_id=$form_id submission_id=$submission_id
          field_info=$curr_field field_types=$field_types settings=$settings}}
        </div>
      </td>
    </tr>
    {{/foreach}}

    {{if $fields|@count > 0}}
  </table>
  {{/if}}
  {{/foreach}}

  {{continue_block}}
</form></textarea>
{% endraw %}

{% include close_section.html %}
