---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Anatomy of a Template Set,/modules/form_builder/customization/anatomy
  - Template Types,/modules/form_builder/customization/anatomy/template_types
  - Thankyou Page
prev: Review Page,/modules/form_builder/customization/anatomy/review_page/
next: Form Offline page,/modules/form_builder/customization/anatomy/form_offline_page/
---

{% include open_section.html nav='fb_nav_customization.html' selected='thankyou_page' %}

  <h3>Thankyou Page</h3>

{% include close_section.html %}
