---
layout: default
navPage: docs
heading: File Upload Field
breadcrumbs:
- Modules,/modules
- File Upload Field
next: Default file settings,/modules/field_type_file/default_file_settings
categories: modules
tags: field_types,files
---

{% include open_section.html nav='nav_file_upload.html' selected='introduction' %}

<p>
    {% include screenshot.html item="edit_submission_multiple_files.png" %}
    The File Upload module handles all file uploads for Form Tools. You'll need this module installed if want to upload
    files through your internal, external and Form Builder forms. Up until version <b>2.1.0</b> of this module, you could
    only upload a single file per form field. But now you have the option to upload as many files as you want.
</p>

<p>
    Because uploading files is such a commonly needed task, this module has come preinstalled on all Form Tools
    bundles since Form Tools 2.1. But in case you don't have it installed, see the
    <a href="{{site.baseurl}}/userdoc/modules/installing/">installation instructions</a> here. All modules are installed
    the same way.
</p>

{% include close_section.html %}
