---
layout: default
navPage: docs
heading: File Upload Field
breadcrumbs:
- Modules,/modules
- File Upload Field
next: Installing the module,/modules/field_type_file/installing
categories: modules
tags: field_types
---

{% include open_section.html nav='nav_file_upload.html' selected='introduction' %}

<p>
    {% include screenshot.html item="edit_submission_multiple_files.png" %}
    The File Upload module handles file uploading for Form Tools. It lets you upload files through your internal,
    external and Form Builder forms. Up until version <b>2.1.0</b> of this module, you could upload a single file
    through a single form field. But now you have the option to upload as many files as you want through a form
    field. See the <a href="">uploading multiple files</a> page for more information.
</p>

{% include close_section.html %}
