---
layout: default
navPage: docs
heading: File Upload Field
breadcrumbs:
  - Modules,/modules
  - File Upload Field,/modules/field_type_file
  - Installing
prev: Introduction,/modules/field_type_file/
next: File Settings,/modules/field_type_file/file_settings
---

{% include open_section.html nav='nav_file_upload.html' selected='installing' %}

  <h3>Installing</h3>

  <p>
    In order to use the file upload field type in Form Tools 2.1.x, you'll need to first install the module. Download
    the latest version from the Modules section above. Then, follow the instructions on
    <a href="/userdoc/modules/installing">this page</a>. That explains how to install any Form Tools module.
  </p>

  <p>
    Once the module has been installed, on the Edit Form -&gt; Fields tab you'll see a new "File" field type in the
    Field Types dropdowns for each field.
  </p>

  <p>
    The <a href="../file_settings">next page</a> explains the various options for your form fields.
  </p>


{% include close_section.html %}
