---
layout: default
navPage: docs
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding a Single Page Form with the API
heading: Adding a Single Page Form with the API
next: "Configuring your Form Page"
nextLink: tutorials/api_single_page_form/step1/
---

{% include open_section.html nav='nav_tutorial_aspf.html' selected='introduction' nav_width=4 %}

	<p>
		This tutorial explains how to integrate the Form Tools API functions to submit a single-page form. There are
		a number of benefits to using the API for single-page forms, including: the option to add server-side (PHP)
		validation and the option to display a CAPTCHA in your form using the API Recaptcha function.
	</p>

	<h4>Assumptions</h4>

	<ol>
		<li>You have already created your web form and a simple "thankyou" page where the user will be directed to
			after a successful submission.</li>
		<li>The pages are accessible via a web browser on a server running PHP.</li>
	</ol>

{% include close_section.html %}
