---
layout: default
navPage: docs
heading: Adding a single-page form with the API
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding a single-page form with the API
next: Configuring your Form Page,/tutorials/api_single_page_form/step1/
---

{% include open_section.html nav='nav_tutorial_aspf.html' selected='introduction' nav_width=4 %}

    <p class="alert alert-warning">
        This tutorial is for version 1.x of the API, which is for Form Tools 2. If you're using Form Tools 3,
        please check out <a href="../api_v2_single_page_form">this tutorial instead</a>.
    </p>

	<p>
		This tutorial explains how to integrate the Form Tools API functions to submit a single-page form. There are
		a number of benefits to using the API for single-page forms, including: the option to add server-side (PHP)
		validation and the option to display a CAPTCHA in your form using the API Recaptcha function.
	</p>

	<h4>Assumptions</h4>

	<ol>
		<li>You have already created your web form and a simple "thankyou" page where the user will be directed to
			after a successful submission.</li>
		<li>The pages are accessible via a web browser on a server running PHP.</li>
	</ol>

{% include close_section.html %}
