---
layout: default
navPage: docs
heading: Configuring your "Thankyou" Page
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding a single-page form with the API,/tutorials/api_single_page_form/
  - Configuring your "Thankyou" Page
prev: Configuring your Form Page,/tutorials/api_single_page_form/step1/
next: The Test Submission,/tutorials/api_single_page_form/step3/
category: tutorial,api
version: FT2
---

{% include open_section.html nav='nav_tutorial_aspf.html' selected='step2' nav_width=4 %}

	<p>
		This bit's easy. At the top of your thank you page (again, don't forget it has to be a
		PHP file), add the following code:
	</p>

	{% codemirror php %}
<?php
require_once("path/to/global/api/api.php");
$fields = ft_api_init_form_page();
ft_api_clear_form_sessions();
?>
	{% endcodemirror %}

	<p>
		Don't forget to update the path to the API file, just like with your form page.
	</p>

	<hr size="1" />
	<h3>Explanation of Code</h3>

	<p>
		This code does two main things. One, it returns all form values entered by the user
		in the $fields variable. You can use that variable to display information in the page,
		if you so need. Two, it closes sessions. The API stores information supplied by the users
		in "sessions" (temporary PHP storage) so that the information isn't lost as they go from
		page to page. To ensure that the next time the user returns to the form they don't see
		the old information, this page empties the sessions. Note: it's VERY important while
		you're setting up your form that sessions are cleared. Otherwise, the test values won't
		overridden and you'll never be able to finish setting up your form!
	</p>


{% include close_section.html %}
