---
layout: default
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding CAPTCHAs to your POST form
subnavSectionLink: tutorials/post_form_captchas/
heading: Adding a CAPTCHA to your form
prev: Before you start / requirements
prevLink: tutorials/post_form_captchas/requirements/
next: Re-entering form fields
nextLink: tutorials/post_form_captchas/reentering_fields/
---

{% include open_section.html nav='nav_tutorial_post_form_captchas.html' selected='adding_captcha' nav_width=4 %}



{% include close_section.html %}
