---
layout: default
navPage: docs
heading: Adding a CAPTCHA to your form
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding CAPTCHAs to your POST form,/tutorials/post_form_captchas/
  - Adding a CAPTCHA to your form
prev: Before you start / requirements,/tutorials/post_form_captchas/requirements/
next: Re-entering form fields,/tutorials/post_form_captchas/reentering_fields/
---

{% include open_section.html nav='nav_tutorial_post_form_captchas.html' selected='adding_captcha' nav_width=4 %}

	<p>
		Okay! Now let's add the CAPTCHA.
	</p>

	<p>
		<b>1.</b> At the top of your form page, add the following PHP:
	</p>

{% codemirror php %}
<?php
require_once("/path/to/formtools/global/api/API.class.php");
$api = new FormTools\API(array("start_sessions" => true));
$fields = isset($_SESSION["form_tools_form_data"]) ?
    FormTools\General::stripTags($_SESSION["form_tools_form_data"]) : array();
?>
{% endcodemirror %}

	<p>
        You need to include a valid path from your form page to the <code>API.class.php</code> file. This can be an
        absolute or relative path (but not a URL!).
	</p>

	<p>
		<b>2.</b> At an appropriate spot in your form (usually the bottom, but before the form submit button, add this
        line of PHP to add the CAPTCHA:
	</p>

{% codemirror php %}
<?php $api->displayCaptcha(); ?>
{% endcodemirror %}

	<p>
		<b>3.</b> Include a hidden field in your form that contains the full URL of the
		form page. This is optional, but may be required depending on your server. Try it
		without it.
	</p>

{% codemirror html %}
<input type="hidden" name="form_tools_form_url" value="" />
{% endcodemirror %}

	<p>
		<b>4.</b> Add this code to the top of your form. In the event of the user incorrectly
		entering CAPTCHA it displays the error.
	</p>


{% codemirror php %}
<?php $api->displayPostFormCaptchaError(); ?>
{% endcodemirror %}

	<p>
		So far so good! Here's a sample form that should give you an idea of what your form should
		look like at this point.
	</p>

{% codemirror php %}
<?php
require_once("/path/to/formtools/global/api/API.class.php");
$api = new FormTools\API(array("start_sessions" => true));
$fields = isset($_SESSION["form_tools_form_data"]) ?
    FormTools\General::stripTags($_SESSION["form_tools_form_data"]) : array();
?>
<!DOCTYPE html>
<html>
<head>
	<title>POST Form With CAPTCHA</title>
</head>
<body>

<h1>Example form</h1>

<?php $api->displayPostFormCaptchaError(); ?>

<form action="http://www.yoursite.com/formtools/process.php" method="post">
	<input type="hidden" name="form_tools_form_id" value="1" />

	First Name: <input type="text" name="first_name" value="" /><br />
	Last Name: <input type="text" name="last_name" value="" /><br />
	Email: <input type="text" name="email" value="" /><br />
	Age: <select name="age">
	<option value="Under 18">Under 18</option>
	<option value="15-25">15-25</option>
	<option value="25-40">25-40</option>
	<option value="40+">40+</option>
</select><br />

	<?php $api->displayCaptcha(); ?>

	<input type="submit" value="Submit" />
</form>

</body>
</html>
{% endcodemirror %}

	<p>
		Now try loading up the form in your browser and putting through a couple of submissions to confirm that the
        CAPTCHA is working as expected. You may notice that when you fail to check the field it incorrectly, you're
        returned to the form page but (a) your field values are all lost and (b) the error message is displayed but
        doesn't look the way you want, or contains some text you don't like. Both these issues are addressed in the
        next two steps.
	</p>

{% include close_section.html %}
