---
layout: default
navPage: docs
heading: Adding CAPTCHAs to your POST form
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding CAPTCHAs to your POST form
next: Before you start / requirements,/tutorials/post_form_captchas/requirements/
---

{% include open_section.html nav='nav_tutorial_post_form_captchas.html' selected='introduction' nav_width=4 %}

    <p class="alert alert-warning">
        This tutorial is for <b>Form Tools 3 only</b>. Google deprecated the old reCAPTCHA v1 method which was used
        by Form Tools 2.
    </p>

	<h3>Overview</h3>

	<p>
		If you find your form has become subject to spammers, adding a CAPTCHA is a standard way to cut down
        on spam. CAPTCHA is an acronym for <i>Completely Automated Public Turing test to tell Computers and Humans
        Apart.</i> There are many types of CAPTCHA out there. The Form Tools API provides an easy integration
        with reCAPTCHA V2 - a Google service - that shows an "I'm not a robot" checkbox in your form that users
        must click in order to submit the form.
	</p>

	<p>
		Please note, this only works for forms that are found on the same website as your Form Tools installation.
	</p>


{% include close_section.html %}
