---
layout: default
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding CAPTCHAs to your POST form
subnavSectionLink: tutorials/post_form_captchas/
heading: Re-entering fields
prev: Adding a CAPTCHA to your form
prevLink: tutorials/post_form_captchas/adding_captcha/
next: The error message
nextLink: tutorials/post_form_captchas/error_message/
---

{% include open_section.html nav='nav_tutorial_post_form_captchas.html' selected='reentering_fields' nav_width=4 %}



{% include close_section.html %}
