---
layout: default
navPage: docs
heading: Related links
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding CAPTCHAs to your POST form,/tutorials/post_form_captchas/
  - Related links
prev: The error message,/tutorials/post_form_captchas/error_message/
category: tutorial
version: FT3
---

{% include open_section.html nav='nav_tutorial_post_form_captchas.html' selected='related_links' nav_width=4 %}

	<h4>Method reference</h4>

	<p>
		All the methods mentioned in this tutorial are documented at the following locations:
	</p>

	<ul>
		<li><a href="{{site.baseurl}}/api/v2/display_captcha/">displayCaptcha()</a></li>
		<li><a href="{{site.baseurl}}/api/v2/display_post_form_captcha_error/">displayPostFormCaptchaError()</a></li>
	</ul>

{% include close_section.html %}
