---
layout: default
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding CAPTCHAs to your POST form
subnavSectionLink: tutorials/post_form_captchas/
heading: Before you start / requirements
prev: Introduction
prevLink: tutorials/post_form_captchas/
next: Adding a CAPTCHA to your form
nextLink: tutorials/post_form_captchas/adding_captcha/
---

{% include open_section.html nav='nav_tutorial_post_form_captchas.html' selected='requirements' nav_width=4 %}



{% include close_section.html %}
