---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - Viewing your visualizations,/modules/data_visualization/viewing/
  - The Pages module
prev: The Quicklinks Dialog,/modules/data_visualization/viewing/quicklinks_dialog
next: In your own pages,/modules/data_visualization/viewing/external_pages
categories: modules
---

{% include open_section.html nav='nav_data_visualization.html' selected='pages_module' %}

  <h3>The Pages module</h3>

  {% include screenshot.html item="i295.gif" %}

  <p>
    The quicklinks dialog is a very convenient way to view and browse a form's visualizations,
    but sometimes you may want to draw emphasis to a particular one. For example, you may want
    to welcome all client accounts when they log in with a dashboard-like page containing
    Activity Charts for the forms that they are concerned with.
  </p>

  <p>
    No problem! The Data Visualization module was designed to be compatible with the Pages
    module, which lets you create custom pages to include in your Form Tools UI. Give
    the <a href="{{site.baseurl}}/modules/pages/">Pages module documentation</a> a look
    over for more information. The Pages module comes bundled with all Form Tools installations
    so the odds are good that you already have it installed.
  </p>

  <h4>Creating a new page and adding it to your menu</h4>

  {% include screenshot.html item="i281.gif" %}

  <p>
    Since adding a page containing a visualization is a pretty common request, the module has
    the functionality built-in. It's just a question of point and click!
  </p>

  <p>
    Edit one of your visualizations and go to the final "Advanced" tab. There, click the
    "Create Page and Add to Menu »" button. That will open up the dialog window shown
    to the right. Fill in the various fields, including the menu and position where you want
    to insert the page, then submit the form. If you just added the page to admin menu,
    the menu will be automatically updated.
  </p>

  <h4>Customizing the Page</h4>

  <p>
    The mechanism described above it simply to help cut down on configuration time. But
    chances are that you'll want to customize the page further: maybe resize the
    visualization, add in some text or maybe other visualizations. To do that, go to your
    Pages module (found under "Modules"), locate the page and edit it.
  </p>

{% include close_section.html %}
