---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - Activity Charts
prev: The module interface,/modules/data_visualization/interface
next: Default Settings,/modules/data_visualization/activity_charts/default_settings
categories: modules
---

{% include open_section.html nav='nav_data_visualization.html' selected='activity_charts' %}

  <h3>Activity Charts</h3>

  {% include screenshot.html item="i295.gif" %}

  <p>
    As mentioned in the <a href="{{site.baseurl}}/modules/data_visualization">introduction</a>, <b>Activity Charts</b> are used to
    display the activity on your forms for a particular period of time. You can choose between Line Charts,
    Area Charts and Column Charts to display the activity.
  </p>

  <ul>
    <li><a href="default_settings/">Default Settings</a></li>
    <li><a href="chart_types/">Chart Types</a></li>
    <li><a href="creating/">Creating an Activity Chart</a></li>
    <li><a href="editing/">Editing an Activity Chart</a></li>
  </ul>


{% include close_section.html %}
