---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - Field Charts,/modules/data_visualization/field_charts
  - Chart Types
prev: Default Settings,/modules/data_visualization/field_charts/default_settings/
next: Creating a Field Chart,/modules/data_visualization/field_charts/creating/
categories: modules
---

{% include open_section.html nav='nav_data_visualization.html' selected='field_chart_types' %}

  <h3>Chart Types</h3>


  <table cellspacing="0" cellpadding="1" class="info">
    <tbody><tr>
      <td width="140" valign="top" class="blue">Pie Charts</td>
      <td valign="top">
        Pie Charts are a common way to visualize your field value breakdown. You can choose
        to display the pie chart as 2D or 3D.
      </td>
      <td>{% include screenshot.html item="i296.gif" %}
      </td>
    </tr>
    <tr>
      <td valign="top" class="blue">Bar Charts</td>
      <td valign="top">
        Bar Charts are like Column Charts, except they draw the bars horizontally
        instead of vertically.
      </td>
      <td>{% include screenshot.html item="i282.gif" %}
      </td>
    </tr>
    <tr>
      <td valign="top" class="blue">Column Charts</td>
      <td valign="top">
        Column Charts are also used to display Activity Charts. As with the other chart
        types, you can mouseover the columns to see the details for that column.
      </td>
      <td>{% include screenshot.html item="i279.gif" %}
      </td>
    </tr>
    </tbody></table>

{% include close_section.html %}
