---
layout: default
navPage: docs
heading: Form Backup
breadcrumbs:
  - Modules,/modules
  - Form Backup,/modules/form_backup
  - Settings
prev: Overview,/modules/form_backup/
---

{% include open_section.html nav='nav_form_backup.html' selected='settings' nav_width=2 %}

  <h3>Settings</h3>

  {% include screenshot.html item="i225.jpg" %}

  <p>
    The Settings page was added in version 1.1.0 of this module (July 2011). It contains
    a single setting: it lets you choose to display a "Back up form" button at the bottom of
    the administrator's main Forms page so you can link directly to the module. See the
    screenshots on this page to see and how the button looks.
  </p>

  <p>
    If backing-up/copying your forms is something you do quite often, this can save you
    a few annoying clicks to get to the page you want!
  </p>

  {% include screenshot.html item="i224.jpg" align="left" %}


{% include close_section.html %}
