---
layout: default
navPage: docs
heading: Client Audit
breadcrumbs:
  - Modules,/modules
  - Client Audit
next: Installation,/modules/client_audit/installation
category: modules
tags: security
---

{% include open_section.html nav='nav_module_client_audit.html' selected='introduction' %}

  <p>
    {% include screenshot.html item="i159.gif" %}
    The Client Audit module provides Form Tools administrators with a way to track
    key events / actions that occur on client accounts, such as when the clients accounts
    are logging in and out, when they are updated and what permission changes occur and
    at what time. This, coupled with a very simple but powerful search tool,
    provides an invaluable tool for security and auditing purposes.
  </p>

  <p>
    The following pages step through the functionality of the module to provide a little more
    information on the interface and what information is displayed.
  </p>

{% include close_section.html %}
