---
layout: default
navPage: docs
heading: Client Audit
breadcrumbs:
  - Modules,/modules
  - Client Audit,/modules/client_audit/
  - Search logs
prev: Installation,/modules/client_audit/installation
next: Clearing the logs,/modules/client_audit/clear_logs/
categories: modules
tags: security
---

{% include open_section.html nav='nav_module_client_audit.html' selected='search_logs' %}

  <p>
    {% include screenshot.html item="i159.gif" %}
    Alright! Now let's assume there's been some activity on your client accounts (if you still
    don't see anything when selecting the module, create a dud test account and trying
    tinkering around with it: update settings, login and logout etc). When you return to the
    module, you'll see all the activity logged in a table. Try changing a few search options -
    you'll get the hang of it pretty fast.
  </p>


{% include close_section.html %}
