---
layout: default
navPage: docs
heading: Code Hooks
breadcrumbs:
  - Module Development,/module_development/
  - Hooks,/module_development/hooks/
  - Code Hooks
prev: Hooks Methodology,/module_development/hooks_methodology/
next: Template Hooks,/module_development/template_hooks/
---

{% include open_section.html nav='nav_module_development.html' selected='code_hooks' nav_width=4 %}

	<p>
		The following table lists all code hooks available. The <b>values passed</b>
		column lists the variables passed to your function; the <b>overridable values</b> column
		lists which variables in the original function scope can be overridden by your code - if
		and only if they are returned in a hash, with the variable name as the hash key. We
		haven't listed the meaning of each variable; but the variable names generally give some
		idea of their meaning. Please see the actual code for more information.
	</p>

	<table cellspacing="0" cellpadding="1" width="100%" class="table table-condensed">
	<tr>
		<th>Core Function</th>
		<th>When</th>
		<th>Values Passed</th>
		<th>Overridable Values</th>
	</tr>
	<tr class="info">
		<td colspan="4"><strong>/process.php</strong></td>
	</tr>
	<tr>
		<td>ft_process_form</td>
		<td>start</td>
		<td>
			form_id (integer),
			form_data (array)
		</td>
		<td>
			form_data
		</td>
	</tr>
	<tr class="info">
		<td colspan="4"><strong>/global/code/api/api.php</strong></td>
	</tr>
	<tr>
		<td>ft_api_process_form</td>
		<td>start</td>
		<td>
			form_id (integer), form_data (array)
		</td>
		<td>
			form_data (array)
		</td>
	</tr>
	<tr class="info">
		<td colspan="4"><strong>/global/code/accounts.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_account_info</td>
		<td>main</td>
		<td>account_info (array)</td>
		<td>account_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_account_settings</td>
		<td>main</td>
		<td>account_id (integer), hash (hash)</td>
		<td>hash (hash)</td>
	</tr>
	<tr>
		<td>ft_login</td>
		<td>main</td>
		<td>account_info (array)</td>
		<td>account_info (array)</td>
	</tr>
	<tr>
		<td>ft_logout_user</td>
		<td>main</td>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_send_password</td>
		<td>start</td>
		<td>info (hash)</td>
		<td>info (hash)</td>
	</tr>
	<tr>
		<td>ft_send_password</td>
		<td>end</td>
		<td>success (boolean), message (string), info (hash)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_account_settings</td>
		<td>start</td>
		<td>account_id (integer), settings (hash)</td>
		<td>settings (hash)</td>
	</tr>
	<tr>
		<td>ft_set_account_settings</td>
		<td>end</td>
		<td>account_id (integer), settings (hash)</td>
		<td></td>
	</tr>
	<tr>
		<td>ft_set_account_settings</td>
		<td>start</td>
		<td>account_id (integer), settings (hash)</td>
		<td>settings (hash)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/administrator.php</strong></td>
	</tr>
	<tr>
		<td>ft_add_client</td>
		<td>start</td>
		<td>form_vals (hash)</td>
		<td>form_vals (hash)</td>
	</tr>
	<tr>
		<td>ft_add_client</td>
		<td>end</td>
		<td>new_user_id (integer), account_settings (hash)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_admin_update_client</td>
		<td>start</td>
		<td>infohash (hash), tab_num (integer)</td>
		<td>infohash (hash), tab_num (integer)</td>
	</tr>
	<tr>
		<td>ft_admin_update_client</td>
		<td>end</td>
		<td>infohash (hash), tab_num (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_admin_info</td>
		<td>main</td>
		<td>admin_info (hash)</td>
		<td>admin_info (hash)</td>
	</tr>
	<tr>
		<td>ft_update_admin_account</td>
		<td>start</td>
		<td>infohash (hash), account_id (integer)</td>
		<td>infohash (hash)</td>
	</tr>
	<tr>
		<td>ft_update_admin_account</td>
		<td>end</td>
		<td>infohash (hash), account_id (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/clients.php</strong></td>
	</tr>
	<tr>
		<td>ft_update_client</td>
		<td>start</td>
		<td>account_id (integer), info (array)</td>
		<td>info (array)</td>
	</tr>
	<tr>
		<td>ft_update_client</td>
		<td>end</td>
		<td>account_id (integer), info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_delete_client</td>
		<td>end</td>
		<td>account_id (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_search_clients</td>
		<td>start</td>
		<td>search_criteria (array)</td>
		<td>search_criteria (array)</td>
	</tr>
	<tr>
		<td>ft_search_clients</td>
		<td>end</td>
		<td>search_criteria (array), clients (array)</td>
		<td>clients (array)</td>
	</tr>
	<tr>
		<td>ft_get_client_form_views</td>
		<td>end</td>
		<td>account_id (integer), info (array)</td>
		<td>info (array)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/emails.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_email_templates</td>
		<td>end</td>
		<td>form_id (integer), return_hash (array)</td>
		<td>return_hash (array)</td>
	</tr>
	<tr>
		<td>ft_get_email_template_list</td>
		<td>end</td>
		<td>form_id (integer), info (array)</td>
		<td>info (array)</td>
	</tr>
	<tr>
		<td>ft_get_email_template</td>
		<td>end</td>
		<td>email_template (array)</td>
		<td>email_template (array)</td>
	</tr>
	<tr>
		<td>ft_send_test_email</td>
		<td>end</td>
		<td>info (array)</td>
		<td>info (array)</td>
	</tr>
	<tr>
		<td>ft_get_email_patterns</td>
		<td>end</td>
		<td>text_patterns (array), html_patterns (array)</td>
		<td>text_patterns (array), html_patterns (array)</td>
	</tr>
	<tr>
		<td>ft_update_form_email_settings</td>
		<td>end</td>
		<td>form_id (integer), infohash (array)</td>
		<td>form_id (integer), infohash (array)</td>
	</tr>
	<tr>
		<td>ft_update_email_template</td>
		<td>start</td>
		<td>email_id (integer), info (array)</td>
		<td>info (array)</td>
	</tr>
	<tr>
		<td>ft_update_email_template</td>
		<td>end</td>
		<td>email_id (integer), info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_edit_submission_email_templates</td>
		<td>end</td>
		<td>view_id (integer), email_info (array)</td>
		<td>email_info (array)</td>
	</tr>
	<tr>
		<td>ft_process_email_template</td>
		<td>start</td>
		<td>form_id (integer), submission_id (integer), email_id (integer), email_components (array)</td>
		<td>email_components (array)</td>
	</tr>
	<tr>
		<td>_ft_get_placeholder_hash</td>
		<td>end</td>
		<td>placeholders (array)</td>
		<td>placeholders (array)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/field_option_groups.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_field_option_groups</td>
		<td>end</td>
		<td>return_hash (array)</td>
		<td>return_hash (array)</td>
	</tr>
	<tr>
		<td>ft_update_field_option_group</td>
		<td>end</td>
		<td>group_id (integer), info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_delete_field_option_group</td>
		<td>end</td>
		<td>group_id (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/fields.php</strong></td>
	</tr>
	<tr>
		<td>ft_add_form_fields</td>
		<td>end</td>
		<td>form_id (integer), infohash (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_delete_form_fields</td>
		<td>end</td>
		<td>form_id (integer), infohash (array), success (boolean), message (string)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_field_options</td>
		<td>end</td>
		<td>field_id (integer), options (array)</td>
		<td>options (array)</td>
	</tr>
	<tr>
		<td>ft_get_form_field</td>
		<td>end</td>
		<td>field_id (integer), info (array)</td>
		<td>info (array)</td>
	</tr>
	<tr>
		<td>ft_get_form_field_settings</td>
		<td>end</td>
		<td>field_id (integer), module (string), settings (array)</td>
		<td>settings (array)</td>
	</tr>
	<tr>
		<td>ft_get_form_fields</td>
		<td>end</td>
		<td>form_id (integer), infohash (array)</td>
		<td>infohash (array)</td>
	</tr>
	<tr>
		<td>ft_get_extended_field_settings</td>
		<td>end</td>
		<td>field_id (integer), module (string), setting_name (string)</td>
		<td>settings (array)</td>
	</tr>
	<tr>
		<td>ft_delete_extended_field_settings</td>
		<td>end</td>
		<td>field_id (integer)</td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_update_field</td>
		<td>end</td>
		<td>field_id (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_multi_field_settings</td>
		<td>end</td>
		<td>field_id (integer), info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_field_file_settings</td>
		<td>end</td>
		<td>field_id (integer), infohash (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/files.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_unique_filename</td>
		<td>end</td>
		<td>return_filename (string)</td>
		<td>return_filename (string)</td>
	</tr>
	<tr>
		<td>ft_upload_submission_file</td>
		<td>start</td>
		<td>form_id (integer), submission_id (integer), field_id (integer), fileinfo (array)</td>
		<td>fileinfo (array)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/forms.php</strong></td>
	</tr>
	<tr>
		<td>ft_client_update_form_settings</td>
		<td>start</td>
		<td>infohash (array)</td>
		<td>infohash (array)</td>
	</tr>
	<tr>
		<td>ft_client_update_form_settings</td>
		<td>end</td>
		<td>infohash (array), success (boolean), message (string)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_delete_form</td>
		<td>start</td>
		<td>form_id (integer)</td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_finalize_form</td>
		<td>end</td>
		<td>form_id (integer)</td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_get_form</td>
		<td>end</td>
		<td>form_id (integer), form_info (array)</td>
		<td>form_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_form_clients</td>
		<td>end</td>
		<td>form_id (integer), accounts (array)</td>
		<td>accounts (array)</td>
	</tr>
	<tr>
		<td>ft_set_form_main_settings</td>
		<td>end</td>
		<td>infohash (array), success (boolean), message (string)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_set_form_database_settings</td>
		<td>start</td>
		<td>infohash (array), form_id (integer)</td>
		<td>infohash (array)</td>
	</tr>
	<tr>
		<td>ft_set_form_field_types</td>
		<td>start</td>
		<td>info (array), form_id (integer)</td>
		<td>info (array)</td>
	</tr>
	<tr>
		<td>ft_update_form_main_tab</td>
		<td>start</td>
		<td>infohash (array), form_id (integer)</td>
		<td>infohash (array)</td>
	</tr>
	<tr>
		<td>ft_update_form_main_tab</td>
		<td>end</td>
		<td>infohash (array), form_id (integer), success (boolean), message (string)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_form_fields_tab</td>
		<td>start</td>
		<td>infohash (array), form_id (integer)</td>
		<td>infohash (array)</td>
	</tr>
	<tr>
		<td>ft_update_form_database_tab</td>
		<td>start</td>
		<td>infohash (array), form_id (integer)</td>
		<td>infohash (array)</td>
	</tr>
	<tr>
		<td>ft_update_form_database_tab</td>
		<td>end</td>
		<td>infohash (array), form_id (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_search_forms</td>
		<td>start</td>
		<td>account_id (integer), is_admin (boolean), search_criteria (array)</td>
		<td>search_criteria (array)</td>
	</tr>
	<tr>
		<td>ft_search_forms</td>
		<td>end</td>
		<td>account_id (integer), is_admin (boolean), search_criteria (array), form_info (array)</td>
		<td>form_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_public_form_omit_list</td>
		<td>end</td>
		<td>client_ids (array), form_id (integer)</td>
		<td>client_ids (array)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/general.php</strong></td>
	</tr>
	<tr>
		<td>ft_eval_smarty_string</td>
		<td>end</td>
		<td>output (string), placeholder_str (string), placeholders (array), theme (string)</td>
		<td>output (string)</td>
	</tr>
	<tr>
		<td>ft_check_permission</td>
		<td>end</td>
		<td>account_type (string)</td>
		<td>boot_out_user (boolean), message_flag (string)</td>
	</tr>
	<tr>
		<td>ft_check_client_may_view</td>
		<td>main</td>
		<td>client_id (integer), form_id (integer), view_id (integer), permissions (array)</td>
		<td>boot_out_user (boolean), message_flag (string)</td>
	</tr>
	<tr>
		<td>ft_generate_js_messages</td>
		<td>end</td>
		<td>js (string)</td>
		<td>js (string)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/menus.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_menus</td>
		<td>end</td>
		<td>return_hash (array)</td>
		<td>return_hash (array)</td>
	</tr>
	<tr>
		<td>ft_get_menu_list</td>
		<td>end</td>
		<td>menus (array)</td>
		<td>menus (array)</td>
	</tr>
	<tr>
		<td>ft_get_admin_menu</td>
		<td>end</td>
		<td>menu_info (array)</td>
		<td>menu_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_client_menu</td>
		<td>end</td>
		<td>menu_items (array), menu_id (integer)</td>
		<td>menu_items (array)</td>
	</tr>
	<tr>
		<td>ft_get_menu_items</td>
		<td>end</td>
		<td>menu_items (array), menu_id (integer)</td>
		<td>menu_items (array)</td>
	</tr>
	<tr>
		<td>ft_update_admin_menu</td>
		<td>end</td>
		<td>success (boolean), message (string), info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_menu_order</td>
		<td>end</td>
		<td>menu_id (integer)</td>
		<td></td>
	</tr>
	<tr>
		<td>ft_update_client_menu</td>
		<td>end</td>
		<td>info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_page_url</td>
		<td>end</td>
		<td>page_identifier (string), params (array), message (string), full_url (string)</td>
		<td>full_url (string)</td>
	</tr>
	<tr>
		<td>ft_delete_menus</td>
		<td>start</td>
		<td>menu_id (integer)</td>
		<td></td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/modules.php</strong></td>
	</tr>
	<tr>
		<td>ft_uninstall_module</td>
		<td>end</td>
		<td>module_id (integer), success (boolean), message (string)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_module_menu_items</td>
		<td>end</td>
		<td>menu_items (array), module_id (integer), module_folder (string)</td>
		<td>menu_items (array)</td>
	</tr>
	<tr>
		<td>ft_get_module</td>
		<td>end</td>
		<td>module_id (integer), result (array)</td>
		<td>result (array)</td>
	</tr>
	<tr>
		<td>ft_get_modules</td>
		<td>start</td>
		<td>modules_info (array)</td>
		<td>modules_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_modules</td>
		<td>end</td>
		<td>account_info (array), module_folder (array)</td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_include_module</td>
		<td>end</td>
		<td>module_folder (array)</td>
		<td> </td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/settings.php</strong></td>
	</tr>
	<tr>
		<td>ft_include_module</td>
		<td>end</td>
		<td>settings (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_account_settings</td>
		<td>end</td>
		<td>settings (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_file_settings</td>
		<td>end</td>
		<td>settings (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_wysiwyg_settings</td>
		<td>end</td>
		<td>settings (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_update_theme_settings</td>
		<td>end</td>
		<td>settings (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/submissions.php</strong></td>
	</tr>
	<tr>
		<td>ft_create_blank_submission</td>
		<td>end</td>
		<td>form_id (integer)</td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_delete_submission</td>
		<td>end</td>
		<td>form_id (integer), view_id (integer), submission_id (integer), is_admin (true)</td>
		<td>success (true), message (string)</td>
	</tr>
	<tr>
		<td>ft_delete_submissions</td>
		<td>end</td>
		<td>form_id (integer), view_id (integer), submissions_to_delete (array),
			omit_list (array), search_fields (array), is_admin (boolean)</td>
		<td>success (true), message (string)</td>
	</tr>
	<tr>
		<td>ft_delete_file_submission</td>
		<td>end</td>
		<td>form_id (integer), submission_id (integer), field_id (integer), force_delete (boolean)</td>
		<td>success (true), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_submission</td>
		<td>end</td>
		<td>form_id (integer), submission_id (integer), view_id (integer), return_arr (array)</td>
		<td>return_arr (array)</td>
	</tr>
	<tr>
		<td>ft_get_submission_info</td>
		<td>end</td>
		<td>form_id (integer), submission_id (integer), submission (array)</td>
		<td>submission (array)</td>
	</tr>
	<tr>
		<td>ft_search_submissions</td>
		<td>end</td>
		<td>
			form_id (integer), submission_id (integer), view_id (integer), results_per_page (integer),
			page_num (integer), order (string), columns (array), search_fields (array),
			submission_ids (array), return_hash (array)
		</td>
		<td>return_hash (array)</td>
	</tr>
	<tr>
		<td>ft_update_submission</td>
		<td>start</td>
		<td>form_id (integer), form_data (hash)</td>
		<td>form_data (hash) </td>
	</tr>
	<tr>
		<td>ft_update_submission</td>
		<td>end</td>
		<td>form_id (integer), form_data (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/themes.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_theme</td>
		<td>end</td>
		<td>theme_id (integer), theme_info (array)</td>
		<td>theme_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_theme_by_theme_folder</td>
		<td>end</td>
		<td>theme_folder (string), theme_info (array)</td>
		<td>theme_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_themes</td>
		<td>end</td>
		<td>theme_info (array)</td>
		<td>theme_info (array)</td>
	</tr>
	<tr>
		<td>ft_update_theme_list</td>
		<td>end</td>
		<td> </td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_display_page</td>
		<td>main</td>
		<td>g_smarty (object), template (string), page_vars (array)</td>
		<td>g_smarty (object)</td>
	</tr>
	<tr>
		<td>ft_display_module_page</td>
		<td>main</td>
		<td>g_smarty (object), template (string), page_vars (array)</td>
		<td>g_smarty (object)</td>
	</tr>

	<tr class="info">
		<td colspan="4"><strong>/global/code/views.php</strong></td>
	</tr>
	<tr>
		<td>ft_get_view</td>
		<td>end</td>
		<td>view_id (integer), view_info (array)</td>
		<td>view_info (array)</td>
	</tr>
	<tr>
		<td>ft_get_views</td>
		<td>end</td>
		<td>return_hash (array)</td>
		<td>return_hash (array)</td>
	</tr>
	<tr>
		<td>ft_get_view_ids</td>
		<td>end</td>
		<td>view_ids (array)</td>
		<td>view_ids (array)</td>
	</tr>
	<tr>
		<td>ft_get_tab_info</td>
		<td>end</td>
		<td>view_id (integer), tab_info (array)</td>
		<td>tab_info (array)</td>
	</tr>
	<tr>
		<td>ft_create_new_view</td>
		<td>end</td>
		<td>view_id (integer)</td>
		<td> </td>
	</tr>
	<tr>
		<td>ft_delete_view</td>
		<td>end</td>
		<td>view_id (integer)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
		<td>ft_get_view_clients</td>
		<td>end</td>
		<td>account_info (array)</td>
		<td>account_info (array)</td>
	</tr>
	<tr>
		<td>ft_update_view</td>
		<td>end</td>
		<td>view_id (integer), info (array)</td>
		<td>success (boolean), message (string)</td>
	</tr>
	<tr>
	</tr><tr>
		<td>ft_get_form_views</td>
		<td>end</td>
		<td>view_hash (array)</td>
		<td>view_hash (array)</td>
	</tr>
	<tr>
		<td>ft_get_view_list</td>
		<td>end</td>
		<td>form_id (integer), result (array)</td>
		<td>result (array)</td>
	</tr>
	</table>


{% include close_section.html %}
