---
layout: default
navSection: Module Development
navSectionLink: module_development/
subnavSection: Example Modules
heading: Example Modules
prev: Common Tasks
prevLink: module_development/common_tasks/
---

{% include open_section.html nav='nav_module_development.html' selected='example_modules' nav_width=4 %}

	<h3>Example Modules</h3>

	<p>
		Because nothing beats the hands-on approach, here are three "Hello World" modules
		that you can install on your Form Tools installation to see how they work. See below
		for a link to instructions on how to install modules.
	</p>

	<div class="row">
		<div class="col-lg-3">
			<strong>Hello World!</strong>
		</div>
		<div class="col-lg-9">
			<a href="http://modules.formtools.org/hello_world/" class="btn btn-primary pull-right">Learn More</a>
			A simple module containing just the basics. Outputs a simple "Hello World!" message to the screen.
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<strong>Hello Tabs!</strong>
		</div>
		<div class="col-lg-9">
			<a href="http://modules.formtools.org/hello_tabs/" class="btn btn-primary pull-right">Learn More</a>
			A common technique for separating your content visually on the page is to use tabs to separate the data. This
			module demonstrates how to implement a tabset in your pages.
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<strong>Hello Database!</strong>
		</div>
		<div class="col-lg-9">
			<a href="http://modules.formtools.org/hello_database/" class="btn btn-primary pull-right">Learn More</a>
			This module demonstrates how to interact with the database with three simple examples:
			<ul>
				<li>The installation / uninstallation scripts are included which create a table of random numbers.</li>
				<li>The numbers are viewable via a basic UI</li>
				<li>A single setting is retrieved &amp; stored in the <b>settings</b> database table</li>
			</ul>
		</div>
	</div>


{% include close_section.html %}