---
layout: default
navSection: Module Development
navSectionLink: module_development/
subnavSection: library.php
heading: library.php
prev: lang/[lang file].php
prevLink: module_development/file_lang/
next: smarty/
nextLink: module_development/smarty/
---

{% include open_section.html nav='nav_module_development.html' selected='file_library' nav_width=4 %}

	<p>
		The library.php file has special meaning within a Form Tools module. It acts as the main
		hub for interactions with the core code.
	</p>

	<ol>
		<li>First, any PHP in this file is automatically imported by the
			<a href="{{site.baseurl}}/module_development/ft_init_module_page/">ft_init_module_page()</a> function.
		</li>
		<li>If any features of your module needs to be accessed outside of its own module
			folder (e.g. in one of the core Form Tools pages), the
			<a href="{{site.baseurl}}/module_development/ft_include_modules/">ft_include_modules()</a>
			function - which is used throughout Form Tools to include one or more modules
			on a single page - expects to find all the core functionality in the library.php
			file. If it doesn't exist, it won't work.
		</li>
		<li>
			If you register one or more <a href="{{site.baseurl}}/module_development/hooks/">hooks</a>, your hook function has
			to be defined in this file - or in a file that's included by the library.php file.
		</li>
		<li>
			This file may contain your "special" functions for installation, uninstallation and
			upgrading (see links below for more information on each).
		</li>
	</ol>

	<p class="alert alert-warning">
		Important! Please "namespace" your functions by giving them all a consistent
		prefix (like Form Tools does with it's <b>ft_</b> function prefix). We recommend
		using the module folder - or an abbreviation - as the function prefix. It will
		ensure compatibility with the core code and other modules being included at the same
		time.
	</p>

	<p>
		For more information on the following functions which should appear in this file,
		see the appropriate section.
	</p>

	<ul>
		<li><a href="{{site.baseurl}}/module_development/installation_function/">Installation function</a></li>
		<li><a href="{{site.baseurl}}/module_development/uninstallation_function/">Uninstallation function</a></li>
		<li><a href="{{site.baseurl}}/module_development/upgrade_function/">Upgrade function</a></li>
	</ul>

{% include close_section.html %}
