---
layout: default
navSection: Module Development
navSectionLink: module_development/
subnavSection: index.tpl
heading: index.tpl
prev: index.php
prevLink: module_development/file_index/
next: lang/[lang file].php
nextLink: module_development/file_lang/
---

{% include open_section.html nav='nav_module_development.html' selected='file_index_tpl' nav_width=4 %}

	<p>
		You're required to include at least <b>one</b> Smarty template to render your index.php page. This template
		can be located within the main module folder or any subfolder within it and named whatever you want. We
		suggest <b>index.tpl</b> to keep it simple.
	</p>

	<p>
		All HTML within Form Tools is generated through the Smarty template language.
	</p>

	<p>
		Here's the index.tpl file from the Hello World! module. All it does it output a localized "hello world!"
		string.
	</p>

	{% highlight smarty %}
{include file='modules_header.tpl'}

<div class="title">{$L.phrase_hello_world|upper}</div>

{include file='modules_footer.tpl'}
	{% endhighlight %}


{% include close_section.html %}
