---
layout: default
navPage: docs
heading: ft_check_module_enabled
breadcrumbs:
  - Module Development,/module_development/
  - Helper Functions,/module_development/helper_functions/
  - ft_check_module_enabled
prev: Helper Functions,/module_development/helper_functions/
next: ft_display_module_page,/module_development/ft_display_module_page/
---

{% include open_section.html nav='nav_module_development.html' selected='ft_check_module_enabled' nav_width=4 %}

	<p>
		This function returns a boolean, and accepts a single string as a parameter: the folder name of the module.
        This function is generally used in conjunction with <b>ft_include_module</b> described above. Example usage:
	</p>

	{% codemirror php %}
if (ft_check_module_enabled("pages"))
  ft_include_modules("pages");
	{% endcodemirror %}

{% include close_section.html %}
