---
layout: default
navPage: docs
navSection: Module Development
navSectionLink: module_development/
subnavSection: ft_get_module_hooks
heading: ft_get_module_hooks
prev: ft_get_dhtml_page_nav
prevLink: module_development/ft_get_dhtml_page_nav/
next: ft_get_module_settings
nextLink: module_development/ft_get_module_settings/
---

{% include open_section.html nav='nav_module_development.html' selected='ft_get_module_hooks' nav_width=4 %}

	<p>
		This function returns all hooks associated with this module. It's called like so:
	</p>

{% codemirror php %}
$hooks = ft_get_module_hooks("my_module");
{% endcodemirror %}

{% include close_section.html %}
