---
layout: default
navPage: docs
heading: Module Development
breadcrumbs:
  - Module Development
next: Anatomy of a Module,/module_development/anatomy/
categories: module_development
page_type: introduction
---

{% include open_section.html nav='nav_module_development_intro.html' selected='introduction' nav_width=3 %}

	<p>
		Want to write a Form Tools module? Awesome! There's an awful lot of information in this section, but we do
		recommend slogging your way through the whole thing. Even if you don't catch all the details it will still
		give you a sense of how it works and what exists to make your life easier. It won't be time wasted, honest.
	</p>

    <p>
        Form Tools 2 and 3 have a completely different codebase, so start by picking your Form Tools version.
    </p>

    <ul>
        <li><a href="index_ft2/">Form Tools 2</a></li>
        <li><a href="ft3/">Form Tools 3</a></li>
    </ul>

{% include close_section.html %}
