---
layout: default
navPage: docs
navSection: Module Development
navSectionLink: module_development/
subnavSection: smarty/
heading: smarty/
prev: library.php
prevLink: module_development/file_library/
next: Special Functions
nextLink: module_development/special_functions/
---

{% include open_section.html nav='nav_module_development.html' selected='folder_smarty' nav_width=4 %}

	<p>
		One of the many nice things about using Smarty templates is that you can abstract away
		logic and content into separate libraries, saving you having to write duplicate code and
		helping you keep the template file as clean and uncluttered as possible. It helps your
		templates stay focused as possible on what it <b>should</b> be handling: the appearance
		and presentation of the data - and not the logic.
	</p>

	<p>
		For example, say you need to display a "Province/State" dropdown on multiple pages in
		your module. First, you can write separate PHP function to generate the HTML content,
		then second, you can write a separate Smarty function file to use that PHP that can be
		called directly in your templates like so:
	</p>

	{% highlight smarty %}
{state_dropdown default=$default_state}
	{% endhighlight %}

	<p>
		All your Smarty functions and modifiers belong in the /smarty subfolder of your module
		folder. By defining them there, they are automatically accessible to your template
		pages within your module pages and even within the core script.
	</p>


{% include close_section.html %}
