---
layout: default
navPage: docs
heading: Arbitrary Settings
breadcrumbs:
  - Modules,/modules
  - Arbitrary Settings,/modules/arbitrary_settings
  - Creating the Settings
prev: Introduction,/modules/arbitrary_settings/
next: The Settings » Main tab,/modules/arbitrary_settings/main_tab/
---

{% include open_section.html nav='nav_module_arbitrary_settings.html' selected='creating' %}

  <h3>Creating the Settings</h3>

  <p>
    {% include screenshot.html item="i358.gif" %}
    Creating the settings is very simple. Just select the module from your Modules
    page and click the "Add Setting" page. There, define whatever information you want
    to have stored. You can choose between a number of different field types, to simply
    the process of the data entry.
  </p>

  <p>
    When you've added your field, go to your Settings &raquo; Main tab to see how it looks.
  </p>

{% include close_section.html %}
