---
layout: default
navPage: docs
heading: Arbitrary Settings
breadcrumbs:
- Modules,/modules
- Arbitrary Settings,/modules/arbitrary_settings
- The Settings &raquo; Main tab
prev: Creating the Settings,/modules/arbitrary_settings/creating/
next: How to Use,/modules/arbitrary_settings/how_to_use/
categories: modules
tags: developer,settings
---

{% include open_section.html nav='nav_module_arbitrary_settings.html' selected='main_tab' %}

  <h3>The Settings &raquo; Main tab</h3>

  <p>
    {% include screenshot.html item="i355.gif" %}
    After you create your new setting(s), the Settings -&gt; Main tab is where you'll see them
    listed.
  </p>

  <h4>The heading</h4>

  <p>
    Since "Arbitrary Settings" isn't exactly the clearest heading, you'll probably want to
    change it! For that, just return to the module and click on the "Labels" module nav item.
    You can change it there.
  </p>

{% include close_section.html %}
