---
layout: default
navPage: docs
heading: Adding / Editing Pages
breadcrumbs:
  - Modules,/modules
  - Pages,/modules/pages
  - Adding / Editing Pages
prev: Introduction,/modules/pages
next: Other,/modules/pages/other
categories: modules
---

{% include open_section.html nav='nav_pages.html' selected='manage_pages' %}

    {% include screenshot.html item="i49.jpg" %}

    <p>
        Here's what the various fields mean on the add and edit field pages. Most of it's
        pretty self-explanatory, but there's a few things that you can still learn.
    </p>

    <div class="clear"></div>

    <div class="row">
        <div class="col-lg-2">
            <b>Field</b>
        </div>
        <div class="col-lg-10">
            <b>Description</b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <code>Page Name</code>
        </div>
        <div class="col-lg-10">
            This value is used internally to help you identify the page and as the menu item label.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <code>Page Heading</code>
        </div>
        <div class="col-lg-10">
            This is the heading that appears on the page.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <code>Content Type</code>
        </div>
        <div class="col-lg-10">
            PHP, HTML or Smarty. This determines what kind of content type you enter into the page. HTML is the
            simplest, but PHP and Smarty give you far more control over the content of the page, as well as giving you
            access to the database and anything else server-side.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <code>Page Content</code>
        </div>
        <div class="col-lg-10">
            The actual page content.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <code>Who can access?</code>
        </div>
        <div class="col-lg-10">
            This provides a secure way to protect the page from being accessed by anyone in
            particular. However, as the comment notes: pages still need to be assigned to a
            client via their menu or a hardcoded link in order to be seen. This setting is for
            security purposes only.
        </div>
    </div>

{% include close_section.html %}
