---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization
prev: Field Validation,/modules/form_builder/usage/field_validation/
next: Anatomy of a Template Set,/modules/form_builder/customization/anatomy/
category: modules
---

{% include open_section.html nav='fb_nav_customization.html' selected='customization' %}

  <h3>Customization</h3>

  <p>
    You don't need any technical knowledge to use the Form Builder: you can create and
    publish forms on your website just by using the Form Tools and Form Builder
    interfaces. But for those of you who want to learn a bit more, and maybe develop
    some custom designs for your forms, you may want some more technical
    information - and that's the purpose of this section. It explains the ins and outs of
    Template Sets in fine detail, from the overall design to the individual Template
    Types themselves.
  </p>

  <ul>
    <li><a href="{{site.baseurl}}/modules/form_builder/customization/anatomy/">Anatomy of a Template Set</a>
      <ul>
        <li><a href="anatomy/template_types">Template types</a>
          <ul>
            <li><a href="anatomy/page_layout">Page Layout</a></li>
            <li><a href="anatomy/header">Header</a></li>
            <li><a href="anatomy/footer">Footer</a></li>
            <li><a href="anatomy/form_page">Form Page</a></li>
            <li><a href="anatomy/review_page">Review Page</a></li>
            <li><a href="anatomy/thankyou_page">Thankyou Page</a></li>
            <li><a href="anatomy/form_offline_page">Form Offline Page</a></li>
            <li><a href="anatomy/continue_block">Continue Block</a></li>
            <li><a href="anatomy/navigation">Navigation</a></li>
            <li><a href="anatomy/error_message">Error Message</a></li>
          </ul>
        </li>
        <li><a href="anatomy/resources">Resources</a></li>
        <li><a href="anatomy/placeholders">Placeholders</a></li>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/modules/form_builder/customization/smarty_lang/">Using the Smarty Templating Language</a></li>
    <li><a href="{{site.baseurl}}/modules/form_builder/customization/tips/">Customization Tips</a></li>
  </ul>

{% include close_section.html %}
