---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Using the Smarty templating language
prev: Placeholders,/modules/form_builder/customization/anatomy/placeholders/
next: Customization Tips,/modules/form_builder/customization/tips
---

{% include open_section.html nav='fb_nav_customization.html' selected='smarty_lang' %}

  <h3>Using the Smarty templating language</h3>

{% include close_section.html %}
