---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Customization,/modules/form_builder/customization
  - Customization Tips
prev: Using the Smarty templating language,/modules/form_builder/customization/smarty_lang/
next: Other Information,/modules/form_builder/other/
categories: modules
---

{% include open_section.html nav='fb_nav_customization.html' selected='customization_tips' %}

  <h3>Customization Tips</h3>

  <p>
    A few tips on creating your own Template Sets.
  </p>

  <h4>1. Don't start a Template Set from scratch</h4>
  <p>
    The Smarty content used for a few of the pages (like the Form Page and Review Pages) are extremely complex and
    difficult to reproduce from scratch. I've found that it's far easier to start a new Template Set by basing it on
    an existing one. There's less work involved and less likelihood of error.
  </p>

  <h4>2. Get your design working in your own IDE first</h4>
  <p>
    When developing the initial styles and general structure of the pages, I found that scraping the page of an
    existing Template Set, then modifying it independently of Form Tools and the Form Builder a far more efficacious
    way to design. Making changes within the Form Builder interface is fine for smaller things, but it's hardly your
    own, familiar IDE. I found that working this way, then pasting in the CSS and markup back into the Form Builder
    was a pretty good way to work.
  </p>

{% include close_section.html %}
