---
layout: default
navPage: docs
heading: Extended Client Fields
breadcrumbs:
  - Modules,/modules
  - Extended Client Fields,/modules/extended_client_fields/
  - Field Locations
prev: Adding Fields,/modules/extended_client_fields/adding_fields
next: Section Titles,/modules/extended_client_fields/section_titles
category: modules
---

{% include open_section.html nav='nav_extended_client_fields.html' selected='field_locations' %}

  <h3>Field Locations</h3>

  {% include screenshot.html item="i101.jpg" %}

  <p>
    There are a total of five places in the Edit Client pages you can choose to place your
    new fields. These are identical for both the administration and client pages.
  </p>

  <p>
    The two screenshots show the options available to you - the locations are highlighted
    with a blue box. These locations correspond to the "Page and Location" field in the Add
    and Edit Field pages in the module.
  </p>

  <br clear="all">

  {% include screenshot.html item="i102.jpg" %}

  <h4>Caveat!</h4>

  <p>
    As mentioned earlier, if you're assigning fields to the Settings page for the client, you
    <b>must have at least one field editable in their main settings page in order for your
      new extended fields to show up.</b>
  </p>


{% include close_section.html %}
