---
layout: default
navPage: docs
heading: Extended Client Fields
breadcrumbs:
  - Modules,/modules
  - Extended Client Fields,/modules/extended_client_fields/
  - Section Titles
prev: Field Locations,/modules/extended_client_fields/field_locations
next: Info for developers,/modules/extended_client_fields/developer_info
---

{% include open_section.html nav='nav_extended_client_fields.html' selected='section_titles' %}

  <h3>Section Titles</h3>

  <p>
    Sometimes you may find it appropriate to group your new fields under a particular heading. To do this, all you need
    to do is go to the Section Titles page found in the left nav, and enter the title for the section. There are five
    possible section locations, which correspond to the locations in the <a href="../field_locations">Field Locations</a>
    page.
  </p>

{% include close_section.html %}
