---
layout: default
navPage: docs
heading: Upgrading to 2.0.3
breadcrumbs:
  - Upgrading,/upgrading/
  - Upgrading to 2.0.3
prev: Upgrading,/upgrading
next: Upgrading to 2.1.0,/upgrading/2_1_0/
category: core,upgrading
---

{% include open_section.html nav='nav_upgrading.html' selected='2_0_3' %}

	<div class="alert alert-warning">
		<p>
			If you're upgrading your Form Tools installation from a version older than 2.0.3, you'll need to follow
            the instructions on this page.
		</p>
	</div>

	<p>
		With version 2.0.3 there was a minor change made to the structure of the files: the Themes page was moved out
        of Settings and into the root, alongside the Modules page. After upgrading normally, you'll need to make a
        change the administrator's menu to place the Themes page at the right spot. Here's how to do it.
	</p>

    <div class="row">
        <div class="col-lg-1"><b>1.</b></div>
        <div class="col-lg-11">
            {% include screenshot.html item='i165.gif' %}
            After upgrading, log into Form Tools and go to the Settings » Menu page. There,
            edit the administrator's menu. Assuming you haven't customized it, you should see a page
            something like the screenshot to the right. Note that the "Themes" tab is no longer
            there, but the navigation menu on the left still lists it under Settings. That's what
            we're going to fix!
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1"><b>2.</b></div>
        <div class="col-lg-11">
            {% include screenshot.html item='i166.gif' %}
            Enter in the values shown in the screenshot: move the Themes page after Modules (by
            entering 5.5 to sandwich it between position 5 and 6); uncheck the "submenu" checkbox
            and click update.
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1"><b>3.</b></div>
        <div class="col-lg-11">
            {% include screenshot.html item='i167.gif' %}
            And you're done! You should see the Themes page appear in the left navigation menu in
            its new position: like in the screenshot.
        </div>
    </div>

{% include close_section.html %}
