---
layout: default
navPage: docs
heading: Upgrading
breadcrumbs:
  - Upgrading
next: Upgrading to 2.0.3,/upgrading/2_0_3
---

{% include open_section.html nav='nav_upgrading.html' selected='upgrading' %}

	<p>
		{% include screenshot.html item="i176.gif" %}
		Form Tools is made up of a separate of components: the Core, Modules, Themes and the API - each of which needs
        to be updated individually. Since upgrading each component one by one would be rather tiresome, we created a
        upgrade script to simplify matters.
	</p>

	<h3>How to upgrade</h3>

	<p>
		Log into your Form Tools installation and click the "Upgrade" link. This appears in different locations
        in the UI depending on your selected theme. The default theme shows it in the top right; Classic Grey and
        Deep Blue show it in the left navigation menu. Click that link! This submits all relevant information about
        your installation - your installed components and their versions (nothing personal) - to the Form Tools
        website. We then do the job of figuring out what components have been upgrade and generates a custom zipfile
        containing the appropriate components.
	</p>

    <p class="alert alert-info">
        The following pages outline special Form Tools versions. If your installation is very out of date and you want
        to upgrade to the most recent version, upgrade to 2.0.3, THEN upgrade to 2.1.0, then to 3.0.0.
    </p>

	<hr size="1" />

	<h3>Upgrading Form Tools 1.x to 2.0.x</h3>

	<p>
		Form Tools 1 is very, very old! We used to have an upgrade script to allow you to update to 
		an old version of Form Tools 2, but even that is now out of date. I'm afraid there are no longer
		ways to update to the new versions.
	</p>


{% include close_section.html %}
