---
layout: default
navPage: docs
heading: Upgrading
breadcrumbs:
  - Upgrading
next: Upgrading to 2.0.3,/upgrading/2_0_3
---

{% include open_section.html nav='nav_upgrading.html' selected='upgrading' %}

	<p>
		{% include screenshot.html item="i176.gif" %}
		Form Tools is made up of a combination of components: the Core, Modules, Themes and
		the API - each of which needs to be updated individually. Since upgrading
		each component one by one would be rather tiresome, we created a custom upgrade script
		to simplify matters.
	</p>

	<h3>Upgrading from version 2.0.3 or later</h3>

	<p>
		After logging into your Form Tools installation, just click the "update" link. This appears 
		in different locations depending on your theme. The default theme shows it in the top right; 
		Classic Grey and Deep Blue show it in the left navigation menu. Click that link! This submits
		all relevant information about your installation - your installed components and their versions - 
		to the Form Tools website. We then do the job of figuring out what components have been
		upgrade and generates a custom zipfile containing the appropriate components.
	</p>

	<h3>Upgrading pre-2.0.3 versions</h3>

	<p>
		After logging in, go to the Settings » Main tab. Here, next to the version number,
		there's a button labeled "Check for Updates". Click it! This submits all relevant information about
		your installation - namely the versions of the various components you have installed - to
		the Form Tools website. We then do the job of figuring out what components have been upgraded
		recently, and let you generate a custom zipfile containing ONLY those files that have
		changed.
	</p>

	<p>
		After downloading this file, you need to overwrite your existing files. Simple upload the
		entire contents of the <b>formtools/</b> folder to your own installation.
	</p>

	<p>
		And that's it! Log out and log back in. Your installation will be automatically upgraded.
	</p>


	<hr size="1" />

	<h3>Upgrading Form Tools 1.x to 2.0.x</h3>

	<p>
		Form Tools 1 is very, very old! We used to have an upgrade script to allow you to update to 
		an old version of Form Tools 2, but even that is now out of date. I'm afraid there are no longer
		ways to update to the new versions.
	</p>


{% include close_section.html %}
