---
layout: default
navPage: docs
heading: Upgrading
breadcrumbs:
  - Upgrading
next: Upgrading to 2.0.3,/upgrading/2_0_3
category: core,upgrading
page_type: introduction
---

{% include open_section.html nav='nav_upgrading.html' selected='upgrading' %}

	<p>
		{% include screenshot.html item="i176.gif" %}
		Form Tools is made up of a separate of components: the Core, Modules, Themes and the API - each of which needs
        to be updated individually. Since upgrading each component one by one would be rather tiresome, we created a
        upgrade script to simplify matters.
	</p>

    <p class="alert alert-info">
        The following pages outline special Form Tools versions. If your installation is very out of date and you want
        to upgrade to the most recent version, upgrade to 2.0.3, THEN upgrade to 2.1.0, then to 3.0.0.
    </p>

	<h3>General upgrade instructions</h3>

	<ol>
        <li>Backup your database and files. No, seriously! Yes, it's a pain but do it anyway.</li>
        <li>
            Log into your Form Tools installation and click the "Upgrade" link. This appears in different locations
            in the UI depending on your selected theme. The default theme shows it in the top right; Classic Grey and
            Deep Blue show it in the left navigation menu.
        </li>
        <li>
            On the Form Tools site upgrade page, choose the components you want to upgrade and generate and download
            the zipfile.
        </li>
        <li>
            Log out of Form Tools in a web browser and go to the login page.
        </li>
        <li>
            On your computer, unzip the file and upload the folder to your Form Tools folder on your server, overwriting
            the old files.
        </li>
        <li>
            On the Form Tools login page, click refresh. You should see a "You've been upgrade to ..." message.
        </li>
        <li>
            Log in as the administrator and go to the Modules page. There, click the Upgrade button for all modules
            that require it.
        </li>
        <li>You're done!</li>
	</ol>

	<hr size="1" />

	<h3>Upgrading Form Tools 1.x to 2.0.x</h3>

	<p>
		Form Tools 1 is very, very old! We used to have an upgrade script to allow you to update to 
		an old version of Form Tools 2, but even that is now out of date. I'm afraid there are no longer
		ways to update to the new versions.
	</p>


{% include close_section.html %}
