---
layout: default
navPage: docs
heading: Problems Upgrading?
breadcrumbs:
  - Upgrading,/upgrading/
  - Problems Upgrading?
prev: Upgrading to 3.0.0,/upgrading/3_0_0/
category: upgrading
---

{% include open_section.html nav='nav_upgrading.html' selected='problems' %}

	<p>
        First and foremost: <a href="https://github.com/formtools/core/">report the problem on github!</a> It
        should not have occurred, and either points to a problem with your database, or a problem with the upgrade
        script itself. Please provide as much details as possible about what went wrong, any error messages and what
        version you were upgrading from.
	</p>

	<p>
        Upgrading involves two things: updating the <i>files</i> and updating the <i>database</i>. If the database
        upgrade fails, that means that there are new files trying to read the new database, even though it wasn't
        updated. You have two options:
	</p>

	<ul>
		<li>Wait to hear a response on github,</li>
		<li>Revert your Form Tools files back to the previous version.</li>
	</ul>

	<p>
		But please know that in the current state (new files + old database), Form Tools may not be able to function
        normally.
	</p>


{% include close_section.html %}
