---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - The module interface
prev: Requirements,/modules/data_visualization/requirements
next: Activity Charts,/modules/data_visualization/activity_charts
categories: modules
---

{% include open_section.html nav='nav_data_visualization.html' selected='interface' %}

  <h3>The module interface</h3>

  {% include screenshot.html item="i294.gif" %}

  <p>
    Before we get into the details of the different visualization types and how to configure
    them, here's a quick overview of the module interface.
  </p>

  <p>
    After you <a href="{{site.baseurl}}/userdoc/modules/installing">install the module</a>, select it from your
    modules page and you be redirected to the module. As with all Form Tools modules, the
    main navigation items on the left shift down and the current module's navigation
    will appear at the top left.
  </p>

  <p>
    Take a look at the screenshot to the right. Ignore the actual content in the page (you
    won't have created any visualizations yet!) and look at the top left navigation links.
    Try clicking around each page: that will give you a sense of what functionality is
    available.
  </p>

  <p>
    Now let's look at the visualization types, starting with <a href="../activity_charts/">Activity Charts</a>.
  </p>


{% include close_section.html %}
