---
layout: default
navPage: docs
heading: Configuring client accounts to only edit their own form data
breadcrumbs:
- Tutorials,/tutorials
- Configuring client accounts to only edit their own form data
prev: Configure form view,/tutorials/client_accounts_edit_own_data_only/configure_form_view/
next: Create view showing all submissions,/tutorials/client_accounts_edit_own_data_only/all_submissions_view/
categories: tutorial
tags: permissions,accounts,views
---

{% include open_section.html nav='nav_client_accounts_edit_own_data_only.html' selected='all_submissions_view' nav_width=3 %}

{% include close_section.html %}
