---
layout: default
navPage: docs
heading: Configuring client accounts to only edit their own form data
breadcrumbs:
- Tutorials,/tutorials
- Configuring client accounts to only edit their own form data
prev: Add hidden mapping field,/tutorials/client_accounts_edit_own_data_only/hidden_mapping_field/
next: Related links,/tutorials/client_accounts_edit_own_data_only/links/
categories: tutorial
tags: permissions,accounts,views
---

{% include open_section.html nav='nav_client_accounts_edit_own_data_only.html' selected='configure_form_view' nav_width=3 %}

<p>
    The next step is to configure one of your Views to:
</p>

<ol>
    <li>automatically store what Form Tools account created the submission, and</li>
    <li>only show submissions for the current client account.</li>
</ol>

<h3>Which View?</h3>

<p>
    You can read more about <a href="{{site.baseurl}}/userdoc/views/">Views here</a>, but for this tutorial, you can
    edit any View you'd like - so perhaps just make these changes to the default <i>All Submissions</i> view. You can
    rename it or add more Views later once you get a better feel for how it all works.
</p>

<h3>Editing the View</h3>

<h4>Tracking show created the submission</h4>

<p>
    Now click on the Views tab within the Edit Form pages. There, edit one of the Views (we'll pick the default
    "All Submissions" View, as shown in the screenshots).
</p>

{% include screenshot.html item="tutorial-client-map-edit-view-general-tab.png" %}

<ul>
    <li>
        On the General tab, set the <b>Access</b> field to public. This will allow all clients that have access to the form
        also have access to this particular View.
    </li>
    <li>
        Set the <b>Can add submissions</b> to <i>yes</i>.
    </li>
    <li>
        In the <b>Default Values for New Submissions</b> setting, add the field as shown in the screenshot to the right,
        namely: Field <i>Account ID</i> (the field you just created in the previous step) and default value:
        <i>{% raw %}{$ACCOUNT_ID}{% endraw %}</i>

        <div class="alert alert-info">
            <b>{% raw %}{$ACCOUNT_ID}{% endraw %}</b> is a <i>placeholder</i>. It gets replaced with the user's account ID
            when the submission is created. For a full list of placeholders, see the section on the
            <a href="{{site.baseurl}}/userdoc/views/main_tab/">Default Values for New Submissions</a> field.
        </div>
    </li>
    <li>
        Click save.
    </li>
</ul>

<p>
    You've now configured your View to store the account ID of whatever user just created the form through the Form
    Tools interface (admin or client). As mentioned before, submissions created from an external, API or Form Builder
    form won't have this value populated: it's only for submissions created within Form Tools.
</p>


<h4>Making the View only show submissions for the current user</h4>

<p>
    {% include screenshot.html item="tutorial-client-map-edit-view-filters-tab.png" %}
    Click on the Filters subtab, add a row in the Client Map filters section with the following information:
</p>

<ul>
    <li>
        <b>Field</b>: <i>Account ID</i> (this is the field you added earlier)
    </li>
    <li>
        <b>Operator</b>: <i>Equals</i>
    </li>
    <li>
        <b>Client Field</b>: <i>ID</i>.
    </li>
</ul>

<p>
    This tells the View to only show data where your new field contains the same ID as the client account. To test this,
    try going to the Accounts page and click the Login link for that user.
</p>

<div class="alert alert-info">
    <b>Note</b>: Client Map filters are just that: for clients! If you access this view through an administrator
    account the client map filters will not apply: you will see all results.
</div>


{% include close_section.html %}
