---
layout: default
navPage: docs
heading: Configuring client accounts to only edit their own form data
breadcrumbs:
- Tutorials,/tutorials
- Configuring client accounts to only edit their own form data
next: Add hidden mapping field,/tutorials/client_accounts_edit_own_data_only/hidden_mapping_field/
categories: tutorial
tags: permissions,accounts,views
---

{% include open_section.html nav='nav_client_accounts_edit_own_data_only.html' selected='introduction' nav_width=3 %}

<p class="alert alert-warning">
    This tutorial requires <b>Form Tools 3.0.13</b> or later.
</p>

<p>
    This tutorial explains how you can configure a Form Tools form so a client account can <i>only edit their own
    form submission data</i> and nobody else's. You can optionally configure it so client accounts can <i>view</i>
    other data in the form, but only readonly. This technique works for any form, regardless of what's in the form.
</p>

<p>
    This tutorial is conceptually quite complicated and covers a fair bit of ground. So if you have any questions,
    do <a href="https://github.com/formtools/core/issues" target="_blank">ask a question on github</a>.
</p>

<p>
    In abstract, here's what we're going to do.
</p>

<ol>
    <li>First we'll add a database field to your form that tracks <b>which Form Tools account created the submission</b>.</li>
    <li>We'll configure one of your form Views to limit results to only show results created for the current client account.</li>
    <li>(Optional) create a second readonly View so client accounts can view all data in the form, but not edit it.</li>
</ol>

<h3>Restrictions</h3>

<ul>
    <li>
        This technique only applies to submissions created within the Form Tools interface (Internal forms), not
        <a href="{{site.baseurl}}/modules/form_builder/">Form Builder forms</a> or
        <a href="{{site.baseurl}}/userdoc/form_management/adding_external_forms/">External forms</a>.
    </li>
    <li>
        This tutorial explains how to set it up for a <i>single</i> form. If you need clients to only edit their own data
        for multiple forms, you will need to make the same change to each form.
    </li>
</ul>

{% include close_section.html %}
