---
layout: default
navPage: docs
heading: Cache Files
breadcrumbs:
  - Theme Development,/theme_development/
  - Cache Files
prev: Theme Structure,/theme_development/theme_structure/
next: Modules,/theme_development/modules/
---

{% include open_section.html nav='nav_theme_development.html' selected='cache_files' nav_width=4 %}

	<p>
		Smarty works by creating cache files on your server, which are quicker to load for the
		website visitor. Every theme has it's own cache folder, located here:
	</p>

	<p>
		<b>/themes/my_theme/cache</b>
	</p>

	<p>
		The cache folder must be writable for any theme in use.
	</p>

{% include close_section.html %}
