---
layout: default
navPage: docs
heading: Theme Structure
breadcrumbs:
  - Theme Development,/theme_development/
  - Theme Structure
prev: The Default Theme,/theme_development/default_theme/
next: Cache Files,/theme_development/cache_files/
category: theme_development
---

{% include open_section.html nav='nav_theme_development.html' selected='theme_structure' nav_width=4 %}

	<p>
		Themes are structured in a very similar manner to the core script. They are all located in
		their own unique folder, in the <b>/themes</b> folder.
	</p>

	<p>
		If you look in the Form Tools root folder, you'll see two folders: <code>admin</code> and <code>client</code>,
        which look something like this:
	</p>

	<pre>/admin/account/
/admin/clients/
/admin/forms/add/
/admin/forms/edit/
/admin/forms/option_lists/
/admin/modules/
/admin/settings/
/admin/themes/
/clients/account/
/clients/forms/
</pre>

	<p>
		Now look in the default theme folder (<b>/themes/default</b>).
	</p>

	<pre>/default/admin/account/
/default/admin/clients/
/default/admin/forms/add/
/default/admin/forms/edit/
/default/admin/forms/option_lists/
/default/admin/modules/
/default/admin/settings/
/default/admin/themes/
/default/clients/account/
/default/clients/forms/
</pre>

	<p>
		As you can see, it mimics the directory structure exactly. This is done for all pages
		that can be seen in a web browser.
	</p>

	<p>
		So, when you're looking for the Smarty template that renders a particular page, you
		know exactly where to find it. There <b>is</b> a little leeway provided for theme
		developers in that you can create your own include files to be referenced wherever you
		want, but by and large the goal was to make the PHP-Smarty page relationship 1-1
		to make locating the Smarty template as simple as possible.
	</p>

{% include close_section.html %}
