---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Default Form Field Values
prev: Template Sets,/modules/form_builder/usage/template_sets
next: Common Tasks,/modules/form_builder/usage/common_tasks
category: modules
---

{% include open_section.html nav='fb_nav_usage.html' selected='default_form_field_values' %}

  <h3>Default Form Field Values</h3>

  <p>
    {% include screenshot.html item="i258.gif" %}
    You may wish to pre-populate some of the form fields in your published forms to minimize
    the number of fields a user has to fill in. This can be a useful time-saving device for
    your users.
  </p>

  <p>
    To do this, the Form Builder is compatible with a feature already in the Form Tools
    Core. On the Edit Form » Views » Edit View page, click on the first tab. There, at the
    bottom of the page, add in whatever default values you want for each of the form fields.
    After those values are added, all published forms that use that View will have those values
    added for new forms submissions.
  </p>


{% include close_section.html %}
