---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage
prev: Introduction,/modules/form_builder/
next: Quick-start tutorials / help,/modules/form_builder/usage/tutorials/
category: modules
---

{% include open_section.html nav='fb_nav_usage.html' selected='usage' %}

<h3>Usage</h3>

<p>
  This section of the documentation explains how to use the Form Builder module. For customizing the look and
  feel of your forms, see the <a href="{{site.baseurl}}/modules/form_builder/usage/template_sets/">Template Sets section</a>.
</p>

<ul>
  <li>
    <a href="{{site.baseurl}}/modules/form_builder/usage/tutorials/">Quick-start tutorials</a>
    <ul>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/tutorials/how_fb_works/">How the Form Builder Works</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/tutorials/publishing_first_form/">Publishing your First Form</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/modules/form_builder/usage/interface/">The Interface</a>
    <ul>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/interface/add_form_page/">The Add Form page</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/interface/publish_tab/">The Edit Form » Publish tab</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/interface/form_builder_window/">The Form Builder window</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/interface/module_pages/">The module pages</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/modules/form_builder/usage/template_sets/">Template Sets</a></li>
  <li><a href="{{site.baseurl}}/modules/form_builder/usage/default_form_field_values/">Default form field values</a></li>
  <li><a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/">Common Tasks</a>
    <ul>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/form_offline/">Taking a form offline</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/window_size/">Changing the default Form Builder window size</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/adding_captcha/">Adding a CAPTCHA</a></li>
      <li><a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/targeting_specific_form_page/">Adding something to a specific form page</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/modules/form_builder/usage/field_validation/">Field validation</a></li>
</ul>


{% include close_section.html %}
