---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Template Sets
prev: The module pages,/modules/form_builder/usage/interface/module_pages/
next: Default form field values,/modules/form_builder/usage/default_form_field_values
category: modules
---

{% include open_section.html nav='fb_nav_usage.html' selected='template_sets' %}

  <h3>Template Sets</h3>

  <p>
    <i>Template Sets</i> control the look and feel of your published forms. They let you
    customize everything in your published forms - HTML, CSS and JavaScript.
    Like with Form Tools itself, the Form Builder walks that fine line
    between ease of use, and flexibility. With the Form Builder, you're seldom
    in the position where you can't make the form look how you want: it's just a question
    of how willing you are to spend time doing the customization.
  </p>

  <h3>Default template sets</h3>

  <p>
    The Form Builder comes with a number of Template Sets already set up for you to use.
    They don't need any additional customization in order to use and are immediately
    available when you published your first form. To best illustrate how these Template
    Sets look, the screenshots on this page are all of exactly the same form: they are
    simply rendered with different sets (1 click in the Form Builder!).
  </p>

  <table class="info" width="100%">
    <tbody>
    <tr>
      <td valign="top">1.</td>
      <td valign="top">
        <div><b>Default Template Set</b></div>
        A neutral, grey-themed set of templates that lets you choose a highlight colour to
        match your site.
      </td>
      <td>{% include screenshot.html item="i371.jpg" %}</td>
    </tr>
    <tr>
      <td valign="top">2.</td>
      <td valign="top">
        <div><b>ProSimple</b></div>
        A simple, professional-looking and attractive grey-themed Template Set without a
        header. It contains placeholders to let you choose the highlight colour, font and
        font size. Labels are placed directly above the fields to provide clear
        identification.
      </td>
      <td>{% include screenshot.html item="i372.jpg" %}</td>
    </tr>
    <tr>
      <td valign="top">3.</td>
      <td valign="top">
        <div><b>Conformist</b></div>
        A clean blue Template Set with delicate CSS3 gradients and tab-like, top-row
        page navigation.
      </td>
      <td>{% include screenshot.html item="i373.jpg" %}</td>
    </tr>
    <tr>
      <td valign="top">4.</td>
      <td valign="top">
        <div><b>Illuminate</b></div>
        A bold, bright-coloured theme with choice of colour set and footer content.
        Navigation is required and displayed as a left column. Uses the "Trykker" Google Web
        Font for a little extra snap!
      </td>
      <td>{% include screenshot.html item="i374.jpg" %}</td>
    </tr>
    <tr>
      <td valign="top">5.</td>
      <td valign="top">
        <div><b>Theme - Default</b></div>
        A form template set based on the same styles as the default Form Tools user
        interface. Complete with choice of swatches!
      </td>
      <td>{% include screenshot.html item="i375.jpg" %}</td>
    </tr>
    <tr>
      <td valign="top">6.</td>
      <td valign="top">
        <div><b>Theme - Classic Grey</b></div>
        A form template set based on the same styles as the default Form Tools user
        interface. Complete with choice of swatches!
      </td>
      <td>
      </td>
    </tr>
    </tbody></table>

{% include close_section.html %}
