---
layout: default
navPage: docs
heading: Google Maps Field
breadcrumbs:
  - Modules,/modules
  - Google Maps Field
next: Configuration Options,/modules/field_type_google_maps/options/
---

{% include open_section.html nav='nav_google_maps.html' selected='how_to_use' %}

  <h3>How to Use</h3>

  {% include screenshot.html item="i187.jpg" %}

  <p>
    This module lets you embed a Google Maps field (or fields!) into your form, so that Form Tools users can view an
    address on a map instead of with a plain input field.
  </p>

  <p>
    Note: this field requires an internet connection. It connects directly to Google's servers to dole up the map
    information. So no working locally without internet!
  </p>

  <h4>How to Use</h4>

  <p>
    It's a very simple module, with very few options - so this should be a breeze to explain! (Optimistic, hey?)
  </p>

  <ul>
    <li>After installing the module, go to the Forms -&gt; Edit Form page for any form
      that you would like to add a Google Maps field to.</li>
    <li>There, on the Fields tab, locate the appropriate field (or add a new one),
      and in the "Field Type" column, select "Google Maps".</li>
    <li>Click Update.</li>
    <li>Lastly, click the toggle icon at the top-right of the screen. That icon lets you
      switch between the last viewing submission data page you went to (Submission Listing
      / Edit Submission) and the last Edit Form page. If it doesn't take you to the Edit
      Submission page, edit a submission: behold the beauty of the Google Maps field!
    </li></ul>

  <p>
    So far so good. So how does the field work? Well, all you need to do is enter an address
    in the field that appears above the Google Map. After you click the Update button to the
    right, it will attempt to locate the address and show the appropriate map coordinates.
  </p>

  <p>
    That's it! The next page reviews the available configuration settings for the field
    type.
  </p>


{% include close_section.html %}
