---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Module interface,/modules/facebook_forms/interface
  - Advanced tab
prev: Validation tab,/modules/facebook_forms/interface/validation_tab
next: Other,/modules/facebook_forms/other/
category: modules
---

{% include open_section.html nav='nav_facebook_forms.html' selected='advanced_tab' %}

  <h3>Advanced tab</h3>

  {% include screenshot.html item="i238.gif" %}

  <p>
    The final "Advanced" tab contains a few remaining settings.
  </p>

  <p>
    The first two settings relate to the Facebook "Like" button. This is a very nice feature to
    add to your Form Tools form. To add it, all you need to do is enabled it (set the first
    setting to "yes"), then provide the full URL of your App in the second field.
  </p>

  <p>
    The final setting lets you control the width of the questions column on your Facebook
    form. By default, the column width is set to 180 (px).
  </p>

{% include close_section.html %}
