---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Module interface
prev: Touch-ups!,/modules/facebook_forms/tutorial/touchups
next: Main tab,/modules/facebook_forms/interface/main_tab
category: modules
---

{% include open_section.html nav='nav_facebook_forms.html' selected='interface' %}

  <h3>The module interface</h3>

  {% include screenshot.html item="i243.gif" %}

  <p>
    The module interface is very straightforward. The main page of the module lists all of your
    Facebook forms where you can choose to delete or edit them. As explained in the tutorial,
    the "Facebook Canvas URL" column displays the URL needed by Facebook to pinpoint exactly
    where your "App" exists.
  </p>

  <p>
    The edit pages are arranged in four tabs:
  </p>

  <ul>
    <li><a href="main_tab/">Main tab</a></li>
    <li><a href="labels_tab/">Labels / Text tab</a></li>
    <li><a href="validation_tab/">Validation tab</a></li>
    <li><a href="advanced_tab/">Advanced tab</a></li>
  </ul>


{% include close_section.html %}
