---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Module interface,/modules/facebook_forms/interface
  - Labels / Text tab
prev: Main tab,/modules/facebook_forms/interface/main_tab
next: Validation tab,/modules/facebook_forms/interface/validation_tab
---

{% include open_section.html nav='nav_facebook_forms.html' selected='labels_tab' %}

  <h3>Labels / Text tab</h3>

  {% include screenshot.html item="i242.gif" %}

  <p>
    The Labels / Text tab lets you control many of the more important labels and blocks
    of text on your form. Here's an explanation of each field and section.
  </p>

  <div class="clear"></div>

  <h3>1. Facebook Form</h3>

  <p>
    This section contains those settings relating to how your form looks on Facebook itself.
  </p>

  <table cellspacing="0" cellpadding="1" class="info" width="100%">
    <tbody><tr>
      <td width="140" valign="top" class="blue">Form Title</td>
      <td>By default, this setting is set to the name of your form. But you are welcome to
        customize it here.</td>
    </tr>
    <tr>
      <td valign="top" class="blue">Opening Text</td>
      <td>Anything you enter here will appear just below the form title on your form.</td>
    </tr>
    <tr>
      <td valign="top" class="blue">Submit Button Label</td>
      <td>This controls the text on the submit button.</td>
    </tr>
    </tbody></table>

  <h3>2. Offline Form</h3>

  <p>
    As discussed in the <a href="/modules/facebook_forms/other/taking_offline">Taking your form offline</a> section,
    this section lets you customize the content of the page when the form is offline.
  </p>

  <table cellspacing="0" cellpadding="1" class="info" width="100%">
    <tbody><tr>
      <td width="140" valign="top" class="blue">Offline form page title</td>
      <td>The title of the "Offline" page.</td>
    </tr>
    <tr>
      <td valign="top" class="blue">Offline form page content</td>
      <td>The content of the "Offline" page.</td>
    </tr>
    </tbody></table>

  <h3>3. Thankyou Page</h3>

  <p>
    When a user submits the form, they're redirected to a simple "thank you!" page. This
    section lets you control the contents of that page.
  </p>

  <table cellspacing="0" cellpadding="1" class="info" width="100%">
    <tbody><tr>
      <td width="140" valign="top" class="blue">Thankyou page title</td>
      <td>The title of the "Offline" page.</td>
    </tr>
    <tr>
      <td valign="top" class="blue">Thankyou page content</td>
      <td>The content of the "Offline" page.</td>
    </tr>
    </tbody>
  </table>

{% include close_section.html %}
