---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Module interface,/modules/facebook_forms/interface
  - Validation tab
prev: Labels / Text tab,/modules/facebook_forms/interface/labels_tab
next: Advanced tab,/modules/facebook_forms/interface/advanced_tab
categories: modules
---

{% include open_section.html nav='nav_facebook_forms.html' selected='validation_tab' %}

  <h3>Validation tab</h3>

  {% include screenshot.html item="i241.gif" %}

  <p>
    As mentioned at the top of the tab, although adding in field validation is on the roadmap
    to be added to the Form Tools Core, at the time this module was developed it was not
    available. So, this tab lets you add in some basic validation.
  </p>

  <p>
    Just check those fields you want to be required, and add in the error string that should
    appear if they're not filled in.
  </p>

{% include close_section.html %}
