<!-- overridden for prod environments -->
<title>{{site.title}}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{site.description}}">

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/codemirror-compressed.js"></script>
<script src="/assets/js/core.js"></script>
<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
<link href="/assets/css/core.css" rel="stylesheet">
