<div {% if include.selected == 'usage' %}class="selected"{% endif %}>
	<a href="/modules/form_builder/usage/">Usage</a>
</div>

<ul>
	<li>
		<div {% if include.selected == 'tutorials' %}class="selected"{% endif %}>
			<a href="/modules/form_builder/usage/tutorials/">Quick-start tutorials / help</a>
		</div>
		<ul>
			<li {% if include.selected == 'how_fb_works' %}class="selected"{% endif %}>
				<a href="/modules/form_builder/usage/tutorials/how_fb_works/">How the Form Builder Works</a>
			</li>
			<li {% if include.selected == 'publishing_first_form' %}class="selected"{% endif %}>
				<a href="/modules/form_builder/usage/tutorials/publishing_first_form/">Publishing your First Form</a>
			</li>
		</ul>
	</li>

	<li>
    <div {% if include.selected == 'interface' %}class="selected"{% endif %}>
		  <a href="/modules/form_builder/usage/interface/">The Interface</a>
    </div>
    <ul>
      <li {% if include.selected == 'add_form_page' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/interface/add_form_page/">The Add Form page</a>
      </li>
      <li {% if include.selected == 'publish_tab' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/interface/publish_tab/">The Edit Form » Publish tab</a>
      </li>
      <li {% if include.selected == 'form_builder_window' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/interface/form_builder_window/">The Form Builder window</a>
      </li>
      <li {% if include.selected == 'module_pages' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/interface/module_pages/">The module pages</a>
      </li>
    </ul>
	</li>
	<li {% if include.selected == 'template_sets' %}class="selected"{% endif %}>
		<a href="/modules/form_builder/usage/template_sets/">Template Sets</a>
	</li>
	<li {% if include.selected == 'default_form_field_values' %}class="selected"{% endif %}>
		<a href="/modules/form_builder/usage/default_form_field_values/">Default form field values</a>
	</li>
	<li>
    <div {% if include.selected == 'common_tasks' %}class="selected"{% endif %}>
		  <a href="/modules/form_builder/usage/common_tasks/">Common Tasks</a>
    </div>

    <ul>
      <li {% if include.selected == 'form_offline' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/common_tasks/form_offline/">Taking a form offline</a>
      </li>
      <li {% if include.selected == 'window_size' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/common_tasks/window_size/">Changing the default Form Builder window size</a>
      </li>
      <li {% if include.selected == 'adding_captcha' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/common_tasks/adding_captcha/">Adding a CAPTCHA</a>
      </li>
      <li {% if include.selected == 'targeting_specific_form_page' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/usage/common_tasks/targeting_specific_form_page/">Adding something to a specific form page</a>
      </li>
    </ul>

	</li>
	<li {% if include.selected == 'field_validation' %}class="selected"{% endif %}>
		<a href="/modules/form_builder/usage/field_validation/">Validation</a>
	</li>
</ul>
