<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/modules/form_builder/">Introduction</a>
</div>
<div {% if include.selected == 'usage' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/modules/form_builder/usage/">Usage</a>
</div>

<ul>
	<li>
		<div {% if include.selected == 'tutorials' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/modules/form_builder/usage/tutorials/">Quick-start tutorials / help</a>
		</div>
	</li>
	<li>
    <div {% if include.selected == 'interface' %}class="selected"{% endif %}>
		  <a href="{{site.baseurl}}/modules/form_builder/usage/interface/">The Interface</a>
    </div>
	</li>
	<li {% if include.selected == 'template_sets' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/usage/template_sets/">Template Sets</a>
	</li>
	<li {% if include.selected == 'default_form_field_values' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/usage/default_form_field_values/">Default form field values</a>
	</li>
	<li>
    <div {% if include.selected == 'common_tasks' %}class="selected"{% endif %}>
		  <a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/">Common Tasks</a>
    </div>
	</li>
	<li {% if include.selected == 'validation' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/usage/field_validation/">Validation</a>
	</li>
</ul>


<div {% if include.selected == 'customization' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/modules/form_builder/customization/">Customization</a>
</div>

<ul>
	<li {% if include.selected == 'template_set_anatomy' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/customization/anatomy/">Anatomy of a Template Set</a>
	</li>
	<li {% if include.selected == 'smarty_lang' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/customization/smarty_lang/">Using the Smarty templating language</a>
	</li>
	<li {% if include.selected == 'customization_tips' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/customization/tips/">Customization Tips</a>
	</li>
</ul>



<div {% if include.selected == 'other_information' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/modules/form_builder/other/">Other Information</a>
</div>

<ul>
	<li {% if include.selected == 'import_export' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/other/import_export/">Importing and Exporting Template Sets / Downloads</a>
	</li>
	<li {% if include.selected == 'common_problems' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/other/common_problems/">Common Problems</a>
	</li>
	<li {% if include.selected == 'error_codes' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/other/error_codes/">Form Builder Error Codes</a>
	</li>
	<li {% if include.selected == 'more_help' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/form_builder/other/more_help/">Where to go for more help</a>
	</li>
</ul>
