
<div {% if include.selected == 'customization' %}class="selected"{% endif %}>
	<a href="/modules/form_builder/customization/">Customization</a>
</div>

<ul>
	<li>
    <div {% if include.selected == 'template_set_anatomy' %}class="selected"{% endif %}>
		  <a href="/modules/form_builder/customization/anatomy/">Anatomy of a Template Set</a>
    </div>

    <ul>
      <li>
        <div {% if include.selected == 'template_types' %}class="selected"{% endif %}>
          <a href="/modules/form_builder/customization/anatomy/template_types/">The Template Types</a>
        </div>

        <ul>
          <li {% if include.selected == 'page_layout' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/page_layout/">Page Layout</a>
          </li>
          <li {% if include.selected == 'header' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/header/">Header</a>
          </li>
          <li {% if include.selected == 'footer' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/footer/">Footer</a>
          </li>
          <li {% if include.selected == 'form_page' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/form_page/">Form Page</a>
          </li>
          <li {% if include.selected == 'review_page' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/review_page/">Review Page</a>
          </li>
          <li {% if include.selected == 'thankyou_page' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/thankyou_page/">Thankyou Page</a>
          </li>
          <li {% if include.selected == 'form_offline_page' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/form_offline_page/">Form Offline Page</a>
          </li>
          <li {% if include.selected == 'continue_block' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/continue_block/">Continue Block</a>
          </li>
          <li {% if include.selected == 'navigation' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/navigation/">Navigation</a>
          </li>
          <li {% if include.selected == 'error_message' %}class="selected"{% endif %}>
            <a href="/modules/form_builder/customization/anatomy/error_message/">Error Message</a>
          </li>
        </ul>

      </li>
      <li {% if include.selected == 'resources' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/customization/anatomy/resources/">Resources</a>
      </li>
      <li {% if include.selected == 'placeholders' %}class="selected"{% endif %}>
        <a href="/modules/form_builder/customization/anatomy/placeholders/">Placeholders</a>
      </li>
    </ul>

  </li>
	<li {% if include.selected == 'smarty_lang' %}class="selected"{% endif %}>
		<a href="/modules/form_builder/customization/smarty_lang/">Using the Smarty templating language</a>
	</li>
	<li {% if include.selected == 'customization_tips' %}class="selected"{% endif %}>
		<a href="/modules/form_builder/customization/tips/">Customization Tips</a>
	</li>
</ul>
