<!--<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>

</header>
-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Form Tools</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="">Home <i class="ion-ios7-arrow-down"></i></a></li>
				<li><a href="">News <i class="ion-ios7-arrow-down"></i></a></li>
				<li class="dropdown active">
				<a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Docs <i class="ion-ios7-arrow-down"></i></a>
				<ul class="dropdown-menu">
					<li><a href="./">User Documentation</a></li>
					<li><a href="./">Tutorials</a></li>
					<li><a href="./">Installation</a></li>
					<li><a href="./">Upgrading</a></li>
					<li><a href="./">API</a></li>
					<li><a href="./">Translations</a></li>
					<li><a href="./">Theme Development</a></li>
					<li><a href="./">Core Changelog</a></li>
					<li><a href="./">API Changelog</a></li>
				</ul>
				</li>
				<li><a href="/download.php">Download <i class="ion-ios7-arrow-down"></i></a></li>
				<li class="dropdown">
					<a href="/extensions.php" class="dropdown-toggle disabled js-activated" data-toggle="dropdown">Extensions <i class="ion-ios7-arrow-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="./">Modules</a></li>
						<li><a href="./">Themes</a></li>
						<li><a href="./">API</a></li>
						<li><a href="./">Translations</a></li>
					</ul>
				</li>
				<li><a href="#">Donate <i class="ion-ios7-arrow-down"></i></a></li>
				<li><a href="#">Forums <i class="ion-ios7-arrow-down"></i></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container mainContent">