<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="/modules/data_visualization/">Introduction</a>
</div>
<div {% if include.selected == 'requirements' %}class="selected"{% endif %}>
  <a href="/modules/data_visualization/requirements">Requirements</a>
</div>
<div {% if include.selected == 'interface' %}class="selected"{% endif %}>
  <a href="/modules/data_visualization/interface">The module interface</a>
</div>


<div {% if include.selected == 'activity_charts' %}class="selected"{% endif %}>
  <a href="/modules/data_visualization/activity_charts">Activity Charts</a>
</div>
<ul>
	<li {% if include.selected == 'activity_charts_default_settings' %}class="selected"{% endif %}>
		<a href="/modules/data_visualization/activity_charts/default_settings">Default Settings</a>
	</li>
	<li {% if include.selected == 'activity_chart_types' %}class="selected"{% endif %}>
		<a href="/modules/data_visualization/activity_charts/chart_types/">Activity Chart Types</a>
	</li>
	<li {% if include.selected == 'creating_activity_charts' %}class="selected"{% endif %}>
		<a href="/modules/data_visualization/activity_charts/creating/">Creating an Activity Chart</a>
	</li>
  <li {% if include.selected == 'editing_activity_charts' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/activity_charts/editing/">Editing an Activity Chart</a>
  </li>
</ul>

<div {% if include.selected == 'field_charts' %}class="selected"{% endif %}>
  <a href="/modules/data_visualization/field_charts">Field Charts</a>
</div>
<ul>
  <li {% if include.selected == 'field_charts_default_settings' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/field_charts/default_settings">Default Settings</a>
  </li>
  <li {% if include.selected == 'field_chart_types' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/field_charts/chart_types/">Field Chart Types</a>
  </li>
  <li {% if include.selected == 'creating_field_charts' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/field_charts/creating/">Creating a Field Chart</a>
  </li>
  <li {% if include.selected == 'editing_field_charts' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/field_charts/editing/">Editing a Field Chart</a>
  </li>
</ul>

<div {% if include.selected == 'viewing' %}class="selected"{% endif %}>
  <a href="/modules/data_visualization/viewing">Viewing your visualizations</a>
</div>
<ul>
  <li {% if include.selected == 'quicklinks_dialog' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/viewing/quicklinks_dialog">The Quicklinks Dialog</a>
  </li>
  <li {% if include.selected == 'pages_module' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/viewing/pages_module/">Pages module</a>
  </li>
  <li {% if include.selected == 'viewing_external_pages' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/viewing/external_pages/">In your own pages</a>
  </li>
  <li {% if include.selected == 'overriding' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/viewing/overriding">Overriding visualization settings</a>
  </li>
</ul>

<div {% if include.selected == 'admin' %}class="selected"{% endif %}>
  <a href="/modules/data_visualization/admin">Administration</a>
</div>
<ul>
  <li {% if include.selected == 'main_settings' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/admin/main_settings">Main Settings</a>
  </li>
  <li {% if include.selected == 'permissions' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/admin/permissions/">Permissions (who sees 'em?)</a>
  </li>
</ul>


<div {% if include.selected == 'other' %}class="selected"{% endif %}>
<a href="/modules/data_visualization/other">Other Information</a>
</div>
<ul>
  <li {% if include.selected == 'how_to_install' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/other/how_to_install">How to Install</a>
  </li>
  <li {% if include.selected == 'caching' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/admin/caching/">Caching and Load Times</a>
  </li>
  <li {% if include.selected == 'tips' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/admin/tips/">Tips for Creating Great Charts</a>
  </li>
  <li {% if include.selected == 'feature_suggestions' %}class="selected"{% endif %}>
    <a href="/modules/data_visualization/admin/feature_suggestions/">Feature Suggestions</a>
  </li>
</ul>
