<div {% if include.selected == 'overview' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/">Overview</a>
</div>
<div {% if include.selected == 'rules' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/rules/">Rules</a>
</div>
<div {% if include.selected == 'field_values' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/field_values/">Special Field Values</a>
</div>
<div {% if include.selected == 'post_values' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/post_values/">Add vs. Update POST values</a>
</div>
<div {% if include.selected == 'examples' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/examples/">Examples</a>
</div>
<ul>
    <li {% if include.selected == 'combining_fields' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/modules/submission_pre_parser/combining_fields/">Combining Fields</a>
    </li>
    <li {% if include.selected == 'spam_detection' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/modules/submission_pre_parser/spam_detection/">Spam Detection</a>
    </li>
</ul>
<div {% if include.selected == 'database_access' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/database_access/">Database access</a>
</div>
<div {% if include.selected == 'debugging' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/submission_pre_parser/debugging/">Debugging</a>
</div>
