<h4 {% if include.selected == 'introduction' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/php_validation/">Introduction &amp; Features</a>
</h4>

<ol>
	<li {% if include.selected == 'available_rules' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/tutorials/php_validation/available_rules/">Available Validation Rules</a>
	</li>
	<li {% if include.selected == 'sample_form' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/tutorials/php_validation/sample_form/">Our Sample Form</a>
	</li>
	<li {% if include.selected == 'writing_validation_rules' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/tutorials/php_validation/writing_validation_rules/">Writing our Validation Rules</a>
	</li>
	<li {% if include.selected == 'adding_validation' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/tutorials/php_validation/adding_validation/">Adding our Validation</a>
	</li>
	<li {% if include.selected == 'display_errors' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/tutorials/php_validation/display_errors/">Displaying the Errors</a>
	</li>
</ol>

<div {% if include.selected == 'further_information' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/tutorials/php_validation/further_information/">Further Information</a>
</div>
