<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/">Introduction</a>
</div>
<div {% if include.selected == 'overview' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/overview/">Overview</a>
</div>
<div {% if include.selected == 'ipn' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/ipn/">Instant Payment Notification (IPN)</a>
</div>

<br />

<div {% if include.selected == 'step1' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/step1/">Step 1: Configuring your form with Form Tools</a>
</div>
<ul>
    <li {% if include.selected == 'files_folders' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/files_folders/">Files and folders</a>
    </li>
    <li {% if include.selected == 'add_donation_form' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/add_donation_form/">Adding the donation form to Form Tools</a>
    </li>
</ul>

<div {% if include.selected == 'step2' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/step2/">Step 2: Your PayPal Account</a>
</div>
<ul>
    <li {% if include.selected == 'configure_paypal_account' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/configure_paypal_account/">Configure your PayPal account</a>
    </li>
</ul>

<div {% if include.selected == 'step3' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/step3/">Step 3: Working in the Sandbox</a>
</div>
<ul>
    <li {% if include.selected == 'configure_form' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/configure_form/">Configure your form to submit to PayPal</a>
    </li>
    <li {% if include.selected == 'create_test_buyer' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/create_test_buyer/">Create a test buyer account</a>
    </li>
    <li {% if include.selected == 'make_test_payments' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/make_test_payments/">Making some test payments</a>
    </li>
    <li {% if include.selected == 'styling_pages' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/styling_pages/">Styling the Pages</a>
    </li>
    <li {% if include.selected == 'going_live' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/paypal/going_live/">Going live!</a>
    </li>
</ul>


<div {% if include.selected == 'final_tips' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/final_tips/">A Few Final Tips</a>
</div>
<div {% if include.selected == 'references' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/paypal/references/">References</a>
</div>

