<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/modules/arbitrary_settings/">Introduction</a>
</div>

<ul>
	<li {% if include.selected == 'creating' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/arbitrary_settings/creating">Creating the Settings</a>
	</li>
	<li {% if include.selected == 'main_tab' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/arbitrary_settings/main_tab/">The Settings &raquo; Main tab</a>
	</li>
	<li {% if include.selected == 'how_to_use' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/arbitrary_settings/how_to_use/">How to Use</a>
	</li>
</ul>

