<h4 {% if include.selected == 'modules' %}class="selected"{% endif %}><a href="/userdoc/modules/">Modules</a></h4>

<ul>
	<li {% if include.selected == 'installing' %}class="selected"{% endif %}>
		<a href="/userdoc/modules/installing">Installing Modules</a>
	</li>
	<li {% if include.selected == 'deleting' %}class="selected"{% endif %}>
		<a href="/userdoc/modules/deleting">Deleting Modules</a>
	</li>
	<li {% if include.selected == 'upgrading' %}class="selected"{% endif %}>
		<a href="/userdoc/modules/upgrading">Upgrading Modules</a>
	</li>
</ul>
