<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="/modules/report_builder/">Introduction</a>
</div>
<div {% if include.selected == 'requirements' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/requirements">Requirements</a>
</div>
<div {% if include.selected == 'how_to_install' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/how_to_install">How to install</a>
</div>
<div {% if include.selected == 'adding_menu_item' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/adding_menu_item">Adding a Reports menu item</a>
</div>
<div {% if include.selected == 'creating_reports' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/creating_reports">Creating new reports</a>
</div>
<div {% if include.selected == 'available_settings' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/available_settings">Available settings</a>
</div>
<div {% if include.selected == 'export_options' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/export_options">Export Options</a>
</div>
<div {% if include.selected == 'feature_suggestions' %}class="selected"{% endif %}>
  <a href="/modules/report_builder/feature_suggestions">Feature Suggestions</a>
</div>

