<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="/modules/facebook_forms/">Introduction</a>
</div>

<div {% if include.selected == 'tutorial' %}class="selected"{% endif %}>
  <a href="/modules/facebook_forms/tutorial">Tutorial: creating a Facebook form</a>
</div>
<ul>
	<li {% if include.selected == 'create_form' %}class="selected"{% endif %}>
		<a href="/modules/facebook_forms/tutorial/create_form">Creating the form in Form Tools</a>
	</li>
	<li {% if include.selected == 'create_view' %}class="selected"{% endif %}>
		<a href="/modules/facebook_forms/tutorial/create_view/">Creating a custom View</a>
	</li>
  <li {% if include.selected == 'configure_module' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/tutorial/configure_module/">Installing and configuring the module</a>
  </li>
  <li {% if include.selected == 'configure_facebook_app' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/tutorial/configure_facebook_app/">Configuring your Facebook App</a>
  </li>
  <li {% if include.selected == 'touchups' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/tutorial/touchups/">Touch-ups!</a>
  </li>
</ul>

<div {% if include.selected == 'interface' %}class="selected"{% endif %}>
  <a href="/modules/facebook_forms/interface">The module interface</a>
</div>
<ul>
  <li {% if include.selected == 'main_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/interface/main_tab">Main tab</a>
  </li>
  <li {% if include.selected == 'labels_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/interface/labels_tab/">Labels / Text tab</a>
  </li>
  <li {% if include.selected == 'validation_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/interface/validation_tab/">Validation tab</a>
  </li>
  <li {% if include.selected == 'advanced_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/interface/advanced_tab/">Advanced tab</a>
  </li>
</ul>

<div {% if include.selected == 'other' %}class="selected"{% endif %}>
  <a href="/modules/facebook_forms/other">Other</a>
</div>
<ul>
  <li {% if include.selected == 'main_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/other/how_to_install">How to install</a>
  </li>
  <li {% if include.selected == 'labels_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/other/taking_form_offline/">Taking your form offline</a>
  </li>
  <li {% if include.selected == 'validation_tab' %}class="selected"{% endif %}>
    <a href="/modules/facebook_forms/other/limitations/">Known limitations</a>
  </li>
</ul>

