<h4><a href="?page=helper_functions">Helper Functions</a></h4>
<ul>
	<li><a href="?page=ft_check_module_enabled">ft_check_module_enabled</a></li>
	<li><a href="?page=ft_display_module_page">ft_display_module_page</a></li>
	<li><a href="?page=ft_eval_smarty_string">ft_eval_smarty_string</a></li>
	<li><a href="?page=ft_get_dhtml_page_nav">ft_get_dhtml_page_nav</a></li>
	<li><a href="?page=ft_get_module_hooks">ft_get_module_hooks</a></li>
	<li><a href="?page=ft_get_module_settings">ft_get_module_settings</a></li>
	<li><a href="?page=ft_get_page_nav">ft_get_page_nav</a></li>
	<li><a href="?page=ft_include_modules">ft_include_modules</a></li>
	<li><a href="?page=ft_init_module_page">ft_init_module_page</a></li>
	<li><a href="?page=ft_load_module_field">ft_load_module_field</a></li>
	<li><a href="?page=ft_register_hook">ft_register_hook</a></li>
	<li><a href="?page=ft_sanitize">ft_sanitize</a></li>
	<li><a href="?page=ft_set_module_settings">ft_set_module_settings</a></li>
</ul>
