<h4 {% if include.selected == 'themes' %}class="selected"{% endif %}><a href="{{site.baseurl}}/userdoc/themes/">Themes</a></h4>

<ul>
	<li {% if include.selected == 'swatches' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/themes/swatches">Swatches</a>
	</li>
	<li {% if include.selected == 'installing' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/themes/installing">Installing Views</a>
	</li>
	<li {% if include.selected == 'deleting' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/themes/deleting">Deleting Themes</a>
	</li>
	<li {% if include.selected == 'upgrading' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/themes/upgrading">Upgrading Themes</a>
	</li>
</ul>