<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/field_type_file/">Introduction</a>
</div>
<div {% if include.selected == 'installing' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/field_type_file/installing">Installing the module</a>
</div>
<div {% if include.selected == 'file_settings' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/field_type_file/file_settings">File Settings</a>
</div>
<div {% if include.selected == 'adding_to_forms' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/field_type_file/adding_to_forms">Adding to your forms</a>
</div>
<div {% if include.selected == 'debugging' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/field_type_file/debugging">Files not uploading?</a>
</div>
