<div {% if include.selected == 'overview' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/adding_post_form/">Overview</a>
</div>

<ul>
    <li {% if include.selected == 'step1' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/adding_post_form/step1/">Step 1: Checklist</a>
    </li>
    <li {% if include.selected == 'step2' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/adding_post_form/step2/">Step 2: Form Information</a>
    </li>
    <li {% if include.selected == 'step3' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/adding_post_form/step3/">Step 3: Test Submission</a>
    </li>
    <li {% if include.selected == 'step4' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/adding_post_form/step4/">Step 4: Database Setup</a>
    </li>
    <li {% if include.selected == 'step5' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/adding_post_form/step5/">Step 5: Field Types</a>
    </li>
    <li {% if include.selected == 'step6' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/tutorials/adding_post_form/step5/">Step 6: Finalize Form</a>
    </li>
</ul>

<div {% if include.selected == 'related_links' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/tutorials/adding_post_form/related_links/">Related Links</a>
</div>
