<h4 {% if include.selected == 'field_types' %}class="selected"{% endif %}><a href="{{site.baseurl}}/userdoc/field_types/">Field Types</a></h4>

<ul>
	<li {% if include.selected == 'how_field_types_are_used' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/field_types/how_field_types_are_used">How field types are used</a>
	</li>
	<li {% if include.selected == 'edit_field_dialog' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/field_types/edit_field_dialog">The Edit Field dialog</a>
	</li>
	<li>
		<div {% if include.selected == 'predefined_field_types' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/userdoc/field_types/predefined_field_types">Predefined field types</a>
		</div>

		<ul>
			<li {% if include.selected == 'ft_textboxes' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_textboxes">Textboxes</a>
			</li>
			<li {% if include.selected == 'ft_textareas' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_textareas">Textareas</a>
			</li>
			<li {% if include.selected == 'ft_passwords' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_passwords">Passwords</a>
			</li>
			<li {% if include.selected == 'ft_radios' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_radios">Radio Buttons</a>
			</li>
			<li {% if include.selected == 'ft_checkboxes' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_checkboxes">Checkboxes</a>
			</li>
			<li {% if include.selected == 'ft_dropdowns' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_dropdowns">Dropdowns</a>
			</li>
			<li {% if include.selected == 'ft_multiselects' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_multiselects">Multi-select dropdowns</a>
			</li>
			<li {% if include.selected == 'ft_dates' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_dates">Dates</a>
			</li>
			<li {% if include.selected == 'ft_times' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_times">Times</a>
			</li>
			<li {% if include.selected == 'ft_phones' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_phones">Phone numbers</a>
			</li>
			<li {% if include.selected == 'ft_code' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/field_types/ft_code">Code / Markup fields</a>
			</li>
		</ul>

	</li>
	<li {% if include.selected == 'bundled_field_type_modules' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/field_types/bundled_field_type_modules">Bundled field type modules</a>
	</li>
	<li {% if include.selected == 'other_field_types' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/field_types/other_field_types">Other field types</a>
	</li>
	<li {% if include.selected == 'custom_fields_module' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/field_types/custom_fields_module">The Custom Fields module</a>
	</li>
</ul>
