<h4 {% if include.selected == 'api' %}class="selected"{% endif %}><a href="{{site.baseurl}}/api/v1">API v1.x</a></h4>

<ul>
	<li {% if include.selected == 'finalized' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/finalized/">Finalized Submissions</a>
	</li>
	<li {% if include.selected == 'debugging' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/debugging/">Debugging Mode</a>
	</li>
	<li>
		<div {% if include.selected == 'function_reference' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/api/function_reference/">Function Reference</a>
		</div>
		<ul>
			<li>
				<div {% if include.selected == 'form_integration' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/form_integration/">Form Integration</a>
				</div>

				<ul>
					<li {% if include.selected == 'ft_api_init_form_page' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_init_form_page/">ft_api_init_form_page</a>
					</li>
					<li {% if include.selected == 'ft_api_process_form' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_process_form/">ft_api_process_form</a>
					</li>
					<li {% if include.selected == 'ft_api_clear_form_sessions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_clear_form_sessions/">ft_api_clear_form_sessions</a>
					</li>
					<li {% if include.selected == 'ft_api_display_image_field' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_display_image_field/">ft_api_display_image_field</a>
					</li>
					<li {% if include.selected == 'ft_api_create_blank_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_create_blank_submission/">ft_api_create_blank_submission</a>
					</li>
				</ul>

			</li>
			<li>
				<div {% if include.selected == 'submissions' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/submissions/">Submissions</a>
				</div>

				<ul>
					<li {% if include.selected == 'ft_api_show_submissions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_show_submissions/">ft_api_show_submissions</a>
					</li>
					<li {% if include.selected == 'ft_api_show_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_show_submission/">ft_api_show_submission</a>
					</li>
					<li {% if include.selected == 'ft_api_show_submission_count' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_show_submission_count/">ft_api_show_submission_count</a>
					</li>
					<li {% if include.selected == 'ft_api_get_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_get_submission/">ft_api_get_submission</a>
					</li>
				</ul>
			</li>
			<li>
				<div {% if include.selected == 'user_accounts' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/user_accounts/">User Accounts</a>
				</div>

				<ul>
					<li {% if include.selected == 'ft_api_create_client_account' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_create_client_account/">ft_api_create_client_account</a>
					</li>
					<li {% if include.selected == 'ft_api_update_client_account' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_update_client_account/">ft_api_update_client_account</a>
					</li>
					<li {% if include.selected == 'ft_api_delete_client_account' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_delete_client_account/">ft_api_delete_client_account</a>
					</li>
					<li {% if include.selected == 'ft_api_login' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_login/">ft_api_login</a>
					</li>
				</ul>
			</li>
			<li>
				<div {% if include.selected == 'other_functions' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/other_functions/">Other Functions</a>
				</div>
				<ul>
					<li {% if include.selected == 'ft_api_load_field' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_load_field/">ft_api_load_field</a>
					</li>
					<li {% if include.selected == 'ft_api_display_captcha' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_display_captcha/">ft_api_display_captcha</a>
					</li>
					<li {% if include.selected == 'ft_api_delete_unfinalized_submissions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_delete_unfinalized_submissions/">ft_api_delete_unfinalized_submissions</a>
					</li>
					<li {% if include.selected == 'ft_api_check_submission_is_unique' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_check_submission_is_unique/">ft_api_check_submission_is_unique</a>
					</li>
					<li {% if include.selected == 'ft_api_start_sessions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_start_sessions/">ft_api_start_sessions</a>
					</li>
					<li {% if include.selected == 'ft_api_display_post_form_captcha_error' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/ft_api_display_post_form_captcha_error/">ft_api_display_post_form_captcha_error</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li {% if include.selected == 'error_codes' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/error_codes/">API Error Codes</a>
	</li>
	<li {% if include.selected == 'namespaces' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/namespaces/">Namespaces</a>
	</li>
	<li {% if include.selected == 'sessions' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/sessions/">API Sessions</a>
	</li>
	<li {% if include.selected == 'feature_suggestions' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/feature_suggestions/">Feature Suggestions</a>
	</li>
</ul>
