<div {% if include.selected == 'overview' %}class="selected"{% endif %}>
	<a href="/modules/submission_accounts/">Overview</a>
</div>
<div {% if include.selected == 'configure_new_form' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/configure_new_form">Configure a new form</a>
</div>
<div {% if include.selected == 'menu' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/menu">Customizing the user menu</a>
</div>
<div {% if include.selected == 'settings' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/settings">Settings</a>
</div>
<div {% if include.selected == 'logging_in' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/logging_in">Logging in</a>
</div>
<div {% if include.selected == 'custom_login_forms' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/custom_login_forms">Custom login forms</a>
</div>
<div {% if include.selected == 'edit_submission' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/edit_submission">Edit Submission: What the User Sees</a>
</div>
<div {% if include.selected == 'who_logs_in' %}class="selected"{% endif %}>
  <a href="/modules/submission_accounts/who_logs_in">Keeping track of who logs in</a>
</div>
