<div {% if include.selected == 'how_to_use' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_google_maps/">How to use</a>
</div>
<div {% if include.selected == 'options' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_google_maps/options">Configuration Options</a>
</div>
<div {% if include.selected == 'upgrading' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_google_maps/upgrading">Upgrading from Form Tools 2</a>
</div>
