<h4 {% if include.selected == 'introduction' %}class="selected"{% endif %}><a href="/tutorials/js_validation/">Introduction</a></h4>

<p>
	<strong>Adding Validation to a form</strong>
</p>

<ol>
	<li {% if include.selected == 'example_form' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/example_form/">The example form</a>
	</li>
	<li {% if include.selected == 'rsv_file' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/rsv_file/">Including rsv.js</a>
	</li>
	<li {% if include.selected == 'rules' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/rules/">Defining your validation rules</a>
	</li>
	<li {% if include.selected == 'onsubmit' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/onsubmit/">Adding the onsubmit handler</a>
	</li>
	<li {% if include.selected == 'finished_product' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/finished_product/">The finished product</a>
	</li>
</ol>

<p>
	<strong>References</strong>
</p>

<ul>
	<li {% if include.selected == 'available_rules' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/available_rules/">Available validation rules</a>
	</li>
	<li {% if include.selected == 'more_help' %}class="selected"{% endif %}>
		<a href="/tutorials/js_validation/more_help/">More help</a>
	</li>
</ul>
