<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_file/">Introduction</a>
</div>
<div {% if include.selected == 'default_file_settings' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_file/default_file_settings">Default file settings</a>
</div>
<div {% if include.selected == 'file_settings' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_file/file_settings">Per-field file settings</a>
</div>
<div {% if include.selected == 'adding_to_forms' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_file/adding_to_forms">Adding to your forms</a>
</div>
<div {% if include.selected == 'debugging' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/field_type_file/debugging">Files not uploading?</a>
</div>
