<h4 {% if include.selected == 'api' %}class="selected"{% endif %}><a href="{{site.baseurl}}/api/v2/">API v2.x</a></h4>

<ul>
    <li {% if include.selected == 'upgrading' %}class="selected"{% endif %}>
        <a href="{{site.baseurl}}/api/v2/upgrading/">Upgrading from v1.x</a>
    </li>
	<li {% if include.selected == 'finalized' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/v2/finalized/">Finalized Submissions</a>
	</li>
	<li {% if include.selected == 'debugging' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/v2/debugging/">Debugging Mode</a>
	</li>
	<li>
		<div {% if include.selected == 'class_methods' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/api/v2/class_methods/">Class Methods</a>
		</div>
		<ul>
			<li>
				<div {% if include.selected == 'form_integration' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/v2/form_integration/">Form Integration</a>
				</div>

				<ul>
					<li {% if include.selected == 'init_form_page' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/init_form_page/">initFormPage()</a>
					</li>
					<li {% if include.selected == 'process_form_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/process_form_submission/">processFormSubmission()</a>
					</li>
					<li {% if include.selected == 'clear_form_sessions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/clear_form_sessions/">clearFormSessions()</a>
					</li>
					<li {% if include.selected == 'display_image_field' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/display_image_field/">displayImageField()</a>
					</li>
					<li {% if include.selected == 'create_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/create_submission/">createSubmission()</a>
					</li>
				</ul>

			</li>
			<li>
				<div {% if include.selected == 'submissions' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/v2/submissions/">Submissions</a>
				</div>

				<ul>
					<li {% if include.selected == 'show_submissions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/show_submissions/">showSubmissions()</a>
					</li>
					<li {% if include.selected == 'show_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/show_submission/">showSubmission()</a>
					</li>
					<li {% if include.selected == 'show_submission_count' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/show_submission_count/">showSubmissionCount()</a>
					</li>
					<li {% if include.selected == 'get_submission' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/get_submission/">getSubmission()</a>
					</li>
				</ul>
			</li>
			<li>
				<div {% if include.selected == 'user_accounts' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/v2/user_accounts/">User Accounts</a>
				</div>

				<ul>
					<li {% if include.selected == 'create_client_account' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/create_client_accounts/">createClientAccount()</a>
					</li>
					<li {% if include.selected == 'update_client_account' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/update_client_account/">updateClientAccount()</a>
					</li>
					<li {% if include.selected == 'delete_client_account' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/delete_client_account/">deleteClientAccount()</a>
					</li>
					<li {% if include.selected == 'login' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/login/">login()</a>
					</li>
				</ul>
			</li>
			<li>
				<div {% if include.selected == 'other_functions' %}class="selected"{% endif %}>
					<a href="{{site.baseurl}}/api/v2/other_functions/">Other Functions</a>
				</div>
				<ul>
					<li {% if include.selected == 'load_field' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/load_field/">loadField()</a>
					</li>
					<li {% if include.selected == 'display_captcha' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/display_captcha/">displayCaptcha()</a>
					</li>
					<li {% if include.selected == 'delete_unfinalized_submissions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/delete_unfinalized_submissions/">deleteUnfinalizedSubmissions()</a>
					</li>
					<li {% if include.selected == 'check_submission_is_unique' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/check_submission_is_unique/">checkSubmissionIsUnique()</a>
					</li>
					<li {% if include.selected == 'start_sessions' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/start_sessions/">startSessions()</a>
					</li>
					<li {% if include.selected == 'display_post_form_captcha_error' %}class="selected"{% endif %}>
						<a href="{{site.baseurl}}/api/v2/display_post_form_captcha_error/">displayPostFormCaptchaError()</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li {% if include.selected == 'error_codes' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/v2/error_codes/">API Error Codes</a>
	</li>
	<li {% if include.selected == 'namespaces' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/v2/namespaces/">Namespaces</a>
	</li>
	<li {% if include.selected == 'sessions' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/v2/sessions/">API Sessions</a>
	</li>
	<li {% if include.selected == 'feature_suggestions' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/api/v2/feature_suggestions/">Feature Suggestions</a>
	</li>
</ul>
