<div {% if include.selected == 'overview' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/extended_client_fields/">Overview</a>
</div>
<div {% if include.selected == 'adding_fields' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/extended_client_fields/adding_fields/">Adding Fields</a>
</div>
<div {% if include.selected == 'field_locations' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/extended_client_fields/field_locations/">Field Locations</a>
</div>
<div {% if include.selected == 'section_titles' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/extended_client_fields/section_titles/">Section Titles</a>
</div>
<div {% if include.selected == 'placeholders' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/extended_client_fields/placeholders/">Placeholders</a>
</div>
<div {% if include.selected == 'developer_info' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/extended_client_fields/developer_info/">Info for developers</a>
</div>
