<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="/modules/database_integrity/">Introduction</a>
</div>

<ul>
	<li {% if include.selected == 'table_verification' %}class="selected"{% endif %}>
		<a href="/modules/database_integrity/table_verification">Table Verification</a>
	</li>
	<li {% if include.selected == 'hook_verification' %}class="selected"{% endif %}>
		<a href="/modules/database_integrity/hook_verification/">Hook Verification</a>
	</li>
	<li {% if include.selected == 'common_problems' %}class="selected"{% endif %}>
		<a href="/modules/database_integrity/common_problems/">Common Problems</a>
	</li>
  <li {% if include.selected == 'developers' %}class="selected"{% endif %}>
    <a href="/modules/database_integrity/developers/">For Developers</a>
  </li>
</ul>
