<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/modules/custom_fields/">Introduction</a>
</div>

<ul>
	<li {% if include.selected == 'requirements' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/custom_fields/requirements">Requirements</a>
	</li>
	<li {% if include.selected == 'core_field_types' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/custom_fields/core_field_types/">The Core Field Types</a>
	</li>
	<li {% if include.selected == 'when_to_use' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/modules/custom_fields/when_to_use/">When to use?</a>
	</li>
  <li {% if include.selected == 'external_forms' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/external_forms/">Use in External forms</a>
  </li>
  <li {% if include.selected == 'core_compatibility' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/core_compatibility/">Core compatibility</a>
  </li>
</ul>

<div>
  <b>The Interface</b>
</div>
<ul>
  <li {% if include.selected == 'main_page' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/main_page">The main page</a>
  </li>
  <li {% if include.selected == 'adding_field_types' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/adding_field_types">Adding new Field Types</a>
  </li>
</ul>

<div {% if include.selected == 'editing_field_types' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/custom_fields/editing_field_types">Editing Field Types</a>
</div>

<ul>
  <li {% if include.selected == 'main_tab' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/main_tab">Main tab</a>
  </li>
  <li {% if include.selected == 'displaying_tab' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/displaying_tcab/">Displaying tab</a>
  </li>
  <li {% if include.selected == 'saving_tab' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/saving_tab/">Saving tab</a>
  </li>
  <li {% if include.selected == 'validation_tab' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/validation_tab/">Validation tab</a>
  </li>
  <li {% if include.selected == 'settings_tab' %}class="selected"{% endif %}>
    <a href="{{site.baseurl}}/modules/custom_fields/settings_tab/">Settings tab</a>
  </li>
</ul>

<div {% if include.selected == 'shared_characteristics' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/custom_fields/shared_characteristics">Shared Characteristics</a>
</div>
<div {% if include.selected == 'questions' %}class="selected"{% endif %}>
  <a href="{{site.baseurl}}/modules/custom_fields/questions">Questions?</a>
</div>
