	<li><a href="?page=display_pages#smarty">Smarty Templates</a></li>
	<li><a href="?page=display_pages#themes">Themes / CSS</a></li>
	<li><a href="?page=display_pages#language">Language Compatibility</a></li>
</ul>


<h4 {% if include.selected == 'display_pages' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development/display_pages/">Displaying your Pages</a>
</h4>

<ul>
	<li {% if include.selected == 'installation_function' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development//">Smarty Templates</a>
	</li>
	<li {% if include.selected == 'uninstallation_function' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development/uninstallation_function/">Uninstallation Function</a>
	</li>
	<li {% if include.selected == 'upgrade_function' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development/upgrade_function/">Upgrade Function</a>
	</li>
</ul>
