<h4 {% if include.selected == 'anatomy' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development/module_anatomy/">Anatomy of a Module</a>
</h4>

<ul>
	<li {% if include.selected == 'file_module' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/file_module/">module.php</a>
	</li>
	<li {% if include.selected == 'file_index' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/file_index/">index.php</a>
	</li>
	<li {% if include.selected == 'file_index_tpl' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/file_index_tpl/">[any folder]/index.tpl</a>
	</li>
	<li {% if include.selected == 'file_lang' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/file_lang/">lang/[lang file].php</a>
	</li>
	<li {% if include.selected == 'file_library' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/file_library/">library.php</a>
	</li>
	<li {% if include.selected == 'folder_smarty' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/folder_smarty/">smarty/</a>
	</li>
</ul>
