<h4 {% if include.selected == 'theme_development' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/theme_development/">Theme Development</a>
</h4>

<ul>
	<li {% if include.selected == 'default_theme' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/default_theme/">The Default Theme</a>
	</li>
	<li {% if include.selected == 'theme_structure' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/theme_structure/">Theme Structure</a>
	</li>
	<li {% if include.selected == 'cache_files' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/cache_files/">Cache Files</a>
	</li>
	<li {% if include.selected == 'modules' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/modules/">Modules</a>
	</li>
	<li {% if include.selected == 'about_folder' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/about_folder/">The /about folder</a>
	</li>
	<li {% if include.selected == 'create_theme' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/create_theme/">Create a theme in 5 easy steps</a>
	</li>
	<li {% if include.selected == 'global_templates' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/global_templates/">Global Templates</a>
	</li>
	<li {% if include.selected == 'i18n' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/theme_development/i18n/">Internationalization &amp; Localization</a>
	</li>
</ul>
