<h4 {% if include.selected == 'views' %}class="selected"{% endif %}><a href="{{site.baseurl}}/userdoc/views/">Views</a></h4>

<ul>
	<li {% if include.selected == 'list' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/views/list">View List</a>
	</li>
	<li {% if include.selected == 'adding' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/views/adding">Adding Views</a>
	</li>
	<li>
		<div {% if include.selected == 'editing' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/userdoc/views/editing">Editing Views</a>
		</div>

		<ul>
			<li {% if include.selected == 'main_tab' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/views/main_tab">Main Tab</a>
			</li>
			<li {% if include.selected == 'column_tab' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/views/columns_tab">Columns Tab</a>
			</li>
			<li {% if include.selected == 'fields_tab' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/views/fields_tab">Fields Tab</a>
			</li>
			<li {% if include.selected == 'tabs_tab' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/views/tabs_tab">Tabs Tab</a>
			</li>
			<li {% if include.selected == 'filters_tab' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/userdoc/views/filters_tab">Filters Tab</a>
			</li>
		</ul>
	</li>

	<li {% if include.selected == 'permissions' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/userdoc/views/permission">View Permissions</a>
	</li>
</ul>
