<div {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="/modules/system_check/">Introduction</a>
</div>
<div {% if include.selected == 'why_needed' %}class="selected"{% endif %}>
  <a href="/modules/why_needed/">Why is this module needed?</a>
</div>

<ul>
	<li {% if include.selected == 'file_verification' %}class="selected"{% endif %}>
		<a href="/modules/system_check/file_verification">File Verification</a>
	</li>
	<li {% if include.selected == 'table_verification' %}class="selected"{% endif %}>
		<a href="/modules/system_check/table_verification/">Table Verification</a>
	</li>
	<li {% if include.selected == 'hook_verification' %}class="selected"{% endif %}>
		<a href="/modules/system_check/hook_verification/">Hook Verification</a>
	</li>
  <li {% if include.selected == 'orphans' %}class="selected"{% endif %}>
    <a href="/modules/system_check/orphans/">Orphan Clean-up</a>
  </li>
</ul>

<div {% if include.selected == 'common_problems' %}class="selected"{% endif %}>
  <a href="/modules/system_check/common_problems/">Common Problems</a>
</div>
<div {% if include.selected == 'developers' %}class="selected"{% endif %}>
  <a href="/modules/system_check/developers/">For Developers</a>
</div>
