<h4 {% if include.selected == 'introduction' %}class="selected"{% endif %}>
	<a href="{{site.baseurl}}/module_development/ft3/">Module Development (Form Tools 3)</a>
</h4>

<ul>
	<li>
		<div {% if include.selected == 'anatomy' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/module_development/ft3/anatomy/">Anatomy of a Module</a>
		</div>

		<ul>
			<li {% if include.selected == 'file_module' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/module_class/">Module.class.php</a>
			</li>
			<li {% if include.selected == 'file_index' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/file_index/">index.php</a>
			</li>
			<li {% if include.selected == 'file_index_tpl' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/file_index_tpl/">index.tpl</a>
			</li>
			<li {% if include.selected == 'file_lang' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/file_lang/">Language Files</a>
			</li>
			<li {% if include.selected == 'file_library' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/file_library/">library.php</a>
			</li>
			<li {% if include.selected == 'folder_smarty' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/smarty_plugins/">smarty_plugins/</a>
			</li>
		</ul>
	</li>
	<li>
		<div {% if include.selected == 'lifecycle_methods' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/module_development/ft3/lifecycle_methods/">Lifecycle Methods</a>
		</div>

		<ul>
			<li {% if include.selected == 'installation_method' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/installation_method/">Installation Method</a>
			</li>
			<li {% if include.selected == 'uninstallation_method' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/uninstallation_method/">Uninstallation Method</a>
			</li>
			<li {% if include.selected == 'upgrade_method' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/upgrade_method/">Upgrade Method</a>
			</li>
		</ul>
	</li>
	<li {% if include.selected == 'database_tables' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/ft3/database_tables/">Database Tables and Data</a>
	</li>
	<li {% if include.selected == 'module_nav' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/ft3/module_nav/">Module Navigation</a>
	</li>
	<li {% if include.selected == 'display_pages' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/ft3/display_pages/">Displaying your Pages</a>
	</li>
	<li>
		<div {% if include.selected == 'helper_methods' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/module_development/ft3/helper_methods/">Helper Methods</a>
		</div>

		<ul>
            <li {% if include.selected == 'display_page' %}class="selected"{% endif %}>
                <a href="{{site.baseurl}}/module_development/ft3/display_page/">$module->displayPage()</a>
            </li>
            <li {% if include.selected == 'get_settings' %}class="selected"{% endif %}>
                <a href="{{site.baseurl}}/module_development/ft3/get_settings/">$module->getSettings()</a>
            </li>
            <li {% if include.selected == 'set_settings' %}class="selected"{% endif %}>
                <a href="{{site.baseurl}}/module_development/ft3/set_settings/">$module->setSettings()</a>
            </li>
			<li {% if include.selected == 'check_module_available' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/check_module_available/">Modules::checkModuleAvailable()</a>
			</li>
            <li {% if include.selected == 'init_module_page' %}class="selected"{% endif %}>
                <a href="{{site.baseurl}}/module_development/ft3/init_module_page/">Modules::initModulePage()</a>
            </li>
            <li {% if include.selected == 'load_module_field' %}class="selected"{% endif %}>
                <a href="{{site.baseurl}}/module_development/ft3/load_module_field/">Modules::loadModuleField()</a>
            </li>
			<li {% if include.selected == 'eval_smarty_string' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/eval_smarty_string/">General::evalSmartyString()</a>
			</li>
			<li {% if include.selected == 'get_dhtml_page_nav' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/get_dhtml_page_nav/">General::getDhtmlPageNav()</a>
			</li>
			<li {% if include.selected == 'get_page_nav' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/get_page_nav/">General::getPageNav()</a>
			</li>
			<li {% if include.selected == 'register_hook' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/register_hook/">Hooks::registerHook()</a>
			</li>
		</ul>

	</li>
	<li>
		<div {% if include.selected == 'hooks' %}class="selected"{% endif %}>
			<a href="{{site.baseurl}}/module_development/ft3/hooks/">Hooks</a>
		</div>

		<ul>
			<li {% if include.selected == 'hooks_methodology' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/hooks_methodology/">Methodology</a>
			</li>
			<li {% if include.selected == 'code_hooks' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/code_hooks/">Code Hooks</a>
			</li>
			<li {% if include.selected == 'template_hooks' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/template_hooks/">Template Hooks</a>
			</li>
			<li {% if include.selected == 'hook_examples' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/hook_examples/">Hook Examples</a>
			</li>
			<li {% if include.selected == 'related_links' %}class="selected"{% endif %}>
				<a href="{{site.baseurl}}/module_development/ft3/related_links/">Related Links</a>
			</li>
		</ul>

	</li>
	<li {% if include.selected == 'common_tasks' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/ft3/common_tasks/">Common Tasks</a>
	</li>
	<li {% if include.selected == 'example_modules' %}class="selected"{% endif %}>
		<a href="{{site.baseurl}}/module_development/ft3/example_modules/">Example Modules</a>
	</li>
</ul>
