{% comment %}

This file is simply used as a wrapper to format pages in a simple left-nav, right-column format. It's really
kludgy right now (legacy code!) using forms, but can be updated later.

Note: the calling page always needs to include the nav menu to be included via a "nav" param.

{% endcomment %}

{% assign col1Class = 'col-lg-3' %}
{% assign col2Class = 'col-lg-9' %}
{% if include.nav_width == 2 %}
  {% assign col1Class = 'col-lg-2' %}
  {% assign col2Class = 'col-lg-10' %}
{% endif %}
{% if include.nav_width == 4 %}
	{% assign col1Class = 'col-lg-4' %}
	{% assign col2Class = 'col-lg-8' %}
{% endif %}
{% if include.nav_width == 5 %}
	{% assign col1Class = 'col-lg-5' %}
	{% assign col2Class = 'col-lg-7' %}
{% endif %}


<div class="row">
	<div class="{{col1Class}} docNav">
		{% include {{include.nav}} selected=include.selected %}
	</div>
	<div class="{{col2Class}} docPageContent" id="docPageContent">
