{% comment %}
This file lets you include a screenshot from any location: this repo or any other.
{% endcomment %}

{% for screenshot in site.data.screenshots %}

	{% if include.item == screenshot.filename %}
		<div class="screenshot"
			{% if include.align %}
				{% if include.align == 'right' %}
					style="float:right"
				{% else %}
					style="float:left"
				{% endif %}
			{% else %}
				style="float:right"
			{% endif %}>

      {% capture folder %}{{site.baseurl}}/assets/screenshots{% endcapture %}
      {% if include.source %}
        {% capture folder %}https://raw.githubusercontent.com/formtools/{{include.source}}/assets/screenshots{% endcapture %}
      {% endif %}

			<a href="{{folder}}/{{screenshot.filename}}" title="{{screenshot.caption}}" class="ss">
				<img src="{{folder}}/{{screenshot.thumb_filename}}" alt="{{screenshot.caption}}" title="{{screenshot.caption}}" border="0"></a>
      <br />
			{{screenshot.caption}}
		</div>
	{% endif %}

{% endfor %}
