{% for screenshot in site.data.screenshots %}

	{% if include.item == screenshot.filename %}
		<div class="screenshot"
			{% if include.align %}
				{% if include.align == 'right' %}
					style="float:right"
				{% else %}
					style="float:left"
				{% endif %}
			{% else %}
				style="float:right"
			{% endif %}>

			<a href="/assets/screenshots/{{screenshot.filename}}" title="{{screenshot.caption}}" class="ss">
				<img src="/assets/screenshots/{{screenshot.thumb_filename}}" alt="{{screenshot.caption}}"
          title="{{screenshot.caption}}" border="0"></a>
      <br />
			{{screenshot.caption}}
		</div>
	{% endif %}

{% endfor %}
