<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/load_field">loadField()</a>
	</div>
	<div class="col-lg-8">
		A temporary storage mechanism for individual values.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/display_captcha">displayCaptcha()</a>
	</div>
	<div class="col-lg-8">
		Display a "CAPTCHA" in your form to help fight spam.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/delete_unfinalized_submissions">deleteUnfinalizedSubmissions()</a>
	</div>
	<div class="col-lg-8">
		Deletes old, unwanted, unfinalized submissions in the database.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/check_submission_is_unique">checkSubmissionIsUnique()</a>
	</div>
	<div class="col-lg-8">
		A handy function to check to see if a submission is unique or not. The "uniqueness" can be based on whatever
        criteria you want - email address, email address and password, user name, etc.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/display_post_form_captcha_error">displayPostFormCaptchaError()</a>
	</div>
	<div class="col-lg-8">
		This displays an appropriate error message if the user fails to enter the CAPTCHA properly.
	</div>
</div>
