<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/v2/init_form_page">initFormPage()</a>
	</div>
	<div class="col-lg-7">
		Called on every one of your External Form pages. This function does all the dirty work of getting the unique
        submission ID, starting sessions to store your form values and other such helpful functionality.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/v2/process_form_submission">processFormSubmission()</a>
	</div>
	<div class="col-lg-7">
		Submit your form information to Form Tools via PHP code, rather than directly posting it to process.php. This
        function lets you submit the entire submission in one go, or page by page for multi-page forms.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/v2/clear_form_sessions">clearFormSessions()</a>
	</div>
	<div class="col-lg-7">
		Clears sessions for a form.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/v2/display_image_field">displayImageField()</a>
	</div>
	<div class="col-lg-7">
		Displays an image that has been uploaded through the form.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/v2/create_blank_submission">createSubmission()</a>
	</div>
	<div class="col-lg-7">
		Creates new submission in the database form table. Generally you don't need to deal with this function, since
        it's called implicitly by <a href="{{site.baseurl}}/api/v2/init_form_page">initFormPage</a>.
	</div>
</div>
