<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_show_submissions">ft_api_show_submissions</a>
	</div>
	<div class="col-lg-7">
		Need to display your form submissions in your own web pages? Read more about this
		powerful function.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_show_submission">ft_api_show_submission</a>
	</div>
	<div class="col-lg-7">
		Show the content of an individual form submission.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_show_submission_count">ft_api_show_submission_count</a>
	</div>
	<div class="col-lg-7">
		Display the total number of submissions in a form.
	</div>
</div>
