<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/show_submissions">showSubmissions()</a>
	</div>
	<div class="col-lg-8">
		Need to display your form submissions in your own web pages? Read more about this powerful function.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/show_submission">showSubmission()</a>
	</div>
	<div class="col-lg-8">
		Show the content of an individual form submission.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/show_submission_count">showSubmissionCount()</a>
	</div>
	<div class="col-lg-8">
		Display the total number of submissions in a form.
	</div>
</div>
