<div class="row">
	<div class="col-lg-6">
		<a href="/api/ft_api_load_field">ft_api_load_field</a>
	</div>
	<div class="col-lg-6">
		A temporary storage mechanism for individual values.
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<a href="/api/ft_api_display_captcha">ft_api_display_captcha</a>
	</div>
	<div class="col-lg-6">
		Display a "CAPTCHA" in your form to help fight spam.
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<a href="/api/ft_api_delete_unfinalized_submissions">ft_api_delete_unfinalized_submissions</a>
	</div>
	<div class="col-lg-6">
		Deletes old, unwanted, unfinalized submissions in the database.
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<a href="/api/ft_api_check_submission_is_unique">ft_api_check_submission_is_unique</a>
	</div>
	<div class="col-lg-6">
		A handy function to check to see if a submission is unique or not. The "uniqueness"
		can be based on whatever criteria you want - email address, email address and password,
		user name, etc.
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<a href="/api/ft_api_start_sessions">ft_api_start_sessions</a>
	</div>
	<div class="col-lg-6">
		This is used internally to start sessions. Generally you won't need to call this directly.
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<a href="/api/ft_api_display_post_form_captcha_error">ft_api_display_post_form_captcha_error</a>
	</div>
	<div class="col-lg-6">
		This displays an appropriate error message if the user fails to enter the
		CAPTCHA properly.
	</div>
</div>
