<h4><a href="{{site.baseurl}}/api/functions_user_accounts">User Accounts</a></h4>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_create_client_account">ft_api_create_client_account</a>
	</div>
	<div class="col-lg-7">
		Creates a client account programmatically.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_update_client_account">ft_api_update_client_account</a>
	</div>
	<div class="col-lg-7">
		Updates an account programmatically.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_delete_client_account">ft_api_delete_client_account</a>
	</div>
	<div class="col-lg-7">
		Deletes a client account programmatically.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_login">ft_api_login</a>
	</div>
	<div class="col-lg-7">
		Logs a client in programmatically. This works for the administrator account as
		well as client accounts.
	</div>
</div>
