<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/create_client_account">createClientAccount()</a>
	</div>
	<div class="col-lg-8">
		Creates a client account programmatically.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/update_client_account">updateClientAccount()</a>
	</div>
	<div class="col-lg-8">
		Updates an account programmatically.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/delete_client_account">deleteClientAccount()</a>
	</div>
	<div class="col-lg-8">
		Deletes a client account programmatically.
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<a href="{{site.baseurl}}/api/v2/login">login()</a>
	</div>
	<div class="col-lg-8">
		Logs a client in programmatically. This works for the administrator account as well as client accounts.
	</div>
</div>
