<h4><a href="{{site.baseurl}}/api/form_integration">Form Integration</a></h4>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_init_form_page">ft_api_init_form_page</a>
	</div>
	<div class="col-lg-7">
		Called on every one of your External Form pages. This function does all the dirty work of getting
		the unique submission ID, starting sessions to store your form values and other such
		helpful functionality.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_process_form">ft_api_process_form</a>
	</div>
	<div class="col-lg-7">
		Submit your form information to Form Tools via PHP code, rather than directly posting
		it to process.php. This function lets you submit the entire submission in one go, or
		page by page for multi-page forms. Formerly named <b>process_form()</b> in Form Tools
		1.x.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_clear_form_sessions">ft_api_clear_form_sessions</a>
	</div>
	<div class="col-lg-7">
		Clears sessions for a form.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_display_image_field">ft_api_display_image_field</a>
	</div>
	<div class="col-lg-7">
		Displays an image that has been uploaded through the form.
	</div>
</div>

<div class="row">
	<div class="col-lg-5">
		<a href="{{site.baseurl}}/api/ft_api_create_blank_submission">ft_api_create_blank_submission</a>
	</div>
	<div class="col-lg-7">
		Creates a blank submission in the database. Generally you don't need to deal with
		this function, since it's called implicitly by
		<a href="{{site.baseurl}}/api/ft_api_init_form_page">ft_api_init_form_page</a>.
	</div>
</div>