---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Other Information,/modules/form_builder/other/
  - Common Problems
prev: Importing and Exporting Template Sets / Downloads,/modules/form_builder/other/import_export/
next: Form Builder Error Codes,/modules/form_builder/other/error_codes/
---

{% include open_section.html nav='fb_nav.html' selected='common_problems' %}

  <h3>Common Problems</h3>

{% include close_section.html %}
