---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Other Information,/modules/form_builder/other/
  - More Help
prev: Form Builder Error Codes,/modules/form_builder/other/error_codes/
category: modules
---

{% include open_section.html nav='fb_nav.html' selected='more_help' %}

  <h3>More Help</h3>

  <p>
    The <a href="https://forums.formtools.org">forums!</a> We're never going to be able to answer all questions here,
    so please let us know through our forums what problems you're encountering and we'll see if we can help.
  </p>

{% include close_section.html %}
