---
layout: default
navPage: docs
heading: Submission Pre-Parser
breadcrumbs:
  - Modules,/modules
  - Submission Pre-Parser,/modules/submission_pre_parser
  - Examples
prev: Add vs. Update POST values,/modules/submission_pre_parser/post_values
next: Combining Fields,/modules/submission_pre_parser/combining_fields
---

{% include open_section.html nav='nav_submission_pre_parser.html' selected='examples' %}

  <h3>Examples</h3>

  <p>
    Here's a couple of example uses of this script. If you find you use it for other purposes
    that may be of interest, post them below.
  </p>

  <ul>
    <li><a href="../combining_fields_example">Combining Form Fields</a></li>
    <li><a href="../spam_detection_example">Spam Detection</a></li>
  </ul>

{% include close_section.html %}
