---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Other,/modules/facebook_forms/other
  - How to install
prev: Other,/modules/facebook_forms/other
next: Taking your form offline,/modules/facebook_forms/other/taking_offline
categories: modules
---

{% include open_section.html nav='nav_facebook_forms.html' selected='how_to_install' %}

  <h3>How to install</h3>

  <p>
    Installing the Facebook Forms module is very simple, and works the same as any other
    module.
  </p>

  <p>
    <a href="{{site.baseurl}}/userdoc/modules/installing">Give this page a read over</a> for instructions.
  </p>

{% include close_section.html %}
