---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Other
prev: Advanced tab,/modules/facebook_forms/interface/advanced_tab
next: How to install,/modules/facebook_forms/other/how_to_install
categories: modules
---

{% include open_section.html nav='nav_facebook_forms.html' selected='other' %}


  <h3>Other</h3>

  <p>
    This section explains a few additional details about the script. Namely:
  </p>

  <ul>
    <li><a href="how_to_install/">How to install</a></li>
    <li><a href="taking_offline/">How to take your form offline</a></li>
    <li><a href="limitations/">Known limitations of the script</a></li>
  </ul>


{% include close_section.html %}
