---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms
next: "Tutorial: creating a Facebook form,/modules/facebook_forms/tutorial"
---

{% include open_section.html nav='nav_facebook_forms.html' selected='introduction' %}

  <h3>Facebook Forms</h3>

  <p class="alert alert-warning">
    Please note that this module is only compatible with version 2.1.0 or later of the
    Form Tools Core.
  </p>

  {% include screenshot.html item="i239.gif" %}

  <p>
    The Facebook Forms module is a great way to create Facebook forms for you or your clients,
    accessible and styled according to the familiar Facebook interface.
  </p>

  <p>
    There are no limitations to the number or size of your forms, what information you
    want stored, what field types the data needs to be in, or anything of that nature. It's
    quick and easy to set up and - since it uses Form Tools to manage the form data -
    <i>very, very powerful!</i> Plus, the module <b>doesn't require any programming
    knowledge</b> - just a little patience in the beginning while you learn how it all
    works. :)
  </p>

  <p>
    So, enjoy! As always, please let us know through <a href="http://forums.formtools.org">the
    forums</a> what you think of the module, what features you would like to see and any
    problems you encounter.
  </p>


{% include close_section.html %}
