---
layout: default
navPage: docs
heading: Export Manager
breadcrumbs:
  - Modules,/modules
  - Export Manager,/modules/export_manager
  - Overview,/modules/export_manager/overview
  - How it works
prev: Overview,/modules/export_manager/overview/
next: Export Groups vs. Export Types,/modules/export_manager/overview/terms
---

{% include open_section.html nav='nav_export_manager.html' selected='how_it_works' %}

  <h3>How it works</h3>

  {% include screenshot.html item="i181.gif" %}

  <p>
    Using the Export Manager is very simple. When any Form Tools user (administrator or
    client) browses a form's submissions, they will see a list of available export options
    at the bottom of their page. Whenever they click one of the export buttons, it will
    execute the appropriate task. So for the HTML / Printer-friendly options, it will pop
    open a window with the information with all the information displayed, ready to be
    printed; for Excel, a dialog will appear, prompting the user to download the new
    Excel file. But other options are possible too: you may configure your own export
    group to generate a file instead of display it.
  </p>

  <p class="alert alert-success">
    Note! Any time you use the Export Manager, it will generate content based on (a) the contents of the current View
    and (b) the contents of whatever search you just performed. In other words, it will always contain whatever subset
    of submissions you're already looking at in the Form Tools UI.
  </p>

  <h4>How it <i>really</i> Works</h4>

  <p>
    Export types are created by generic looping structures written in the Smarty PHP templating language. They are
    deliberately generic, so that they can display the data whatever way is required.
  </p>

{% include close_section.html %}
