---
layout: default
navPage: docs
heading: Export Manager
breadcrumbs:
  - Modules,/modules
  - Export Manager,/modules/export_manager
  - Overview
prev: Introduction,/modules/export_manager/
next: How it Works,/modules/export_manager/overview/how_it_works
---

{% include open_section.html nav='nav_export_manager.html' selected='overview' %}

  <h3>Overview</h3>

  <p>
    Alright! This first section explains a few terms used in the module and explains
    (in high-level terms) how it works. If you're new to the module, this is a
    good place to start!
  </p>

  <ul>
    <li><a href="{{site.baseurl}}/modules/export_manager/overview/how_it_works">How it Works</a></li>
    <li><a href="terms/">Export Groups vs. Export Types</a></li>
  </ul>


{% include close_section.html %}
