---
layout: default
navPage: docs
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding JS validation to your forms
subnavSectionLink: tutorials/js_validation/
heading: Available validation rules
prev: The finished product
prevLink: tutorials/js_validation/finished_product/
next: More help
nextLink: tutorials/js_validation/more_help/
---

{% include open_section.html nav='nav_tutorial_js_validation.html' selected='available_rules' nav_width=4 %}

	<p>
		As mentioned earlier, the validation rules are all of the following form:
	</p>

	<pre>[if:FIELD=VAL,]RULE,fieldname[,fieldname2[,fieldname3,date_flag]],error&nbsp;message"</pre>

	<div style="margin: 10px;">
		<b>if:FIELDNAME=VALUE,</b> or<br>
		<b>if:FIELDNAME!=VALUE,</b>
	</div>

	<p>
		This allows us to only validate a field only if a fieldname has - or doesn't have - a
		particular value. This option allows for nesting; i.e. you can have multiple if
		clauses, separated by commas. They will be examined in the order in which they appear
		in the line.
	</p>

	<h4>RULE</h4>

	<p>
		Valid RULE strings are:
	</p>


	<div class="row">
		<div class="col-lg-2">
			<strong>required</strong>
		</div>
		<div class="col-lg-10">
			field must be filled in
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>digits_only</strong>
		</div>
		<div class="col-lg-10">
			field must contain digits only
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>length=X</strong>
		</div>
		<div class="col-lg-10">
			field has to be X characters long
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>length=X-Y</strong>
		</div>
		<div class="col-lg-10">
			field has to be between X and Y (inclusive) characters long
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>length&gt;X</strong>
		</div>
		<div class="col-lg-10">
			field has to be greater than X characters long
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>length&gt;=X</strong>
		</div>
		<div class="col-lg-10">
			field has to be greater than or equal to X characters long
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>length&lt;X</strong>
		</div>
		<div class="col-lg-10">
			field has to be less than X characters long
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>valid_email</strong>
		</div>
		<div class="col-lg-10">
			field has to be valid email address
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>valid_date</strong>
		</div>
		<div class="col-lg-10">
			field has to be a valid date<br>
			<br>
			fieldname:	MONTH field<br>
			fieldname2:	DAY field<br>
			fieldname3: YEAR field<br>
			date_flag: 	"later_date" / "any_date"<br>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>same_as</strong>
		</div>
		<div class="col-lg-10">
			fieldname is the same as fieldname2 (e.g. for password comparison)
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>range=X-Y</strong>
		</div>
		<div class="col-lg-10">
			field must be a number between the range of X and Y inclusive
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>range&gt;X</strong>
		</div>
		<div class="col-lg-10">
			field has to be a number greater than X
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>range&gt;=X</strong>
		</div>
		<div class="col-lg-10">
			field has to be a number greater than or equal to X
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>range&lt;X</strong>
		</div>
		<div class="col-lg-10">
			field has to be a number less than X
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>range&lt;=X</strong>
		</div>
		<div class="col-lg-10">
			field has to be a number less than or equal to X
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>is_alpha</strong>
		</div>
		<div class="col-lg-10">
			field has to be an alphanumeric character (anything between 0-9, a-Z)
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>custom_alpha</strong>
		</div>
		<div class="col-lg-10">
			This option is a layman's version of the <b>reg_exp</b> rule and offers more control
			than the <b>letters_only</b> rule. It lets you check that a field is formatted in a very
			specific way. For example:

{% codemirror js %}
// this requires the "field_name" form field be of the form:
// {any letter}{uc letter}{lc consonant}{lc consonant}
rules.push("custom_alpha,field_name,DLcc,Error message");
{% endcodemirror %}

			<p>
				Here's all the different formatting options and what each character means:
			</p>

			<table cellspacing="0">
				<tbody><tr>
					<th width="20">L</th>
					<td width="190">An uppercase letter.</td>
					<th width="20">V</th>
					<td>An uppercase vowel.</td>
				</tr>
				<tr>
					<th>l</th>
					<td>A lowercase letter.</td>
					<th>v</th>
					<td>A lowercase vowel.</td>
				</tr>
				<tr>
					<th>D</th>
					<td>A letter (upper or lower)</td>
					<th>F</th>
					<td>A vowel (upper or lower)</td>
				</tr>
				<tr>
					<th>C</th>
					<td>An uppercase Consonant</td>
					<th>x</th>
					<td>Any number, 0-9</td>
				</tr>
				<tr>
					<th>c</th>
					<td>A lowercase consonant</td>
					<th>X</th>
					<td>Any number, 1-9</td>
				</tr>
				<tr>
					<th>E</th>
					<td colspan="3">A consonant (upper or lower)</td>
				</tr>
				</tbody>
			</table>
			<p>
				Any characters included in the string that aren't in the above list are simply required
				as they are. So if your rules was CVC-VCV, the user would have to enter consonant, vowel, consonant
				followed by a dash, followed by vowel, consonant, vowel.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2">
			<strong>reg_exp</strong>
		</div>
		<div class="col-lg-10">
			<p>
				This option is for programmers only. It lets you validate a field by a regular expression.
				This rule comes in two forms: one with a RegExp flag (like "g" for global, "i" for
				case-insensitive etc.) and one without. Unless you expressly need to supply a flag, just
				use the first form.
			</p>


			<h5>Form 1:</h5>
			<pre class="javascript">rules.<span style="color: rgb(0, 102, 0);">push</span><span style="color: rgb(102, 204, 102);">(</span><span style="color: rgb(51, 102, 204);">"reg_exp,field_name,REGEXP,Error message"</span><span style="color: rgb(102, 204, 102);">)</span>;</pre>              </td>

			<h5>Form 2:</h5>
			<pre class="javascript">rules.<span style="color: rgb(0, 102, 0);">push</span><span style="color: rgb(102, 204, 102);">(</span><span style="color: rgb(51, 102, 204);">"reg_exp,field_name,REGEXP,Flag(s),Error message"</span><span style="color: rgb(102, 204, 102);">)</span>;</pre>              </td>

			<p>
				Note: be sure to double-escape regexp escape characters. e.g. to match whitespace,
				the <b>\s</b> needs to be <b>\\s</b>; commas also need to be double escaped: \\,
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>letters_only</strong>
		</div>
		<div class="col-lg-10">
			field has to be a letter, a-Z (upper or lowercase)
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<strong>function</strong>
		</div>
		<div class="col-lg-10">
			This option is included for programmers. You may find that you need to supplement
			the existing functionality with your own custom validation rules. See the
			page on <a href="http://www.benjaminkeen.com/open-source-projects/smaller-projects/really-simple-validation-js/really-simple-validation-standalone-version/#custom_validation_rules">custom validation rules</a>
			for more information.
		</div>
	</div>


	<p>
		Notes: With the digits_only, valid_email and custom_alpha rules, if the empty string is passed in it
		won't generate an error, thus allowing validation of non-required fields. So, if you want a
		field to be a valid email address, for example, provide separate rules for both "required" and
		"valid_email" for that single form field.
	</p>

{% include close_section.html %}
