---
layout: default
navPage: docs
heading: Adding JS validation to your forms
breadcrumbs:
  - Tutorials,/tutorials
  - Adding JS validation to your forms
next: The Example Form,/tutorials/js_validation/example_form/
categories: tutorial
tags: validation,basics
---

{% include open_section.html nav='nav_tutorial_js_validation.html' selected='introduction' nav_width=4 %}

	<p>
		The Form Tools download file includes a number of external scripts, including the
		<a href="http://www.benjaminkeen.com/open-source-projects/smaller-projects/really-simple-validation-js/really-simple-validation-standalone-version/" target="_blank">Really Simple Validation</a>
		javascript library. This small but powerful script lets you add javascript validation to your forms
		quickly and with very little effort.
	</p>

	<p>
		One of the nicer features of the script is that it goes hand in hand with a sister script -
		the <a href="http://www.benjaminkeen.com/software/php_validation/" target="_blank">PHP Validation</a> script which works very similarly. You can almost literally
		copy and paste your rules from one to the other - saving precious time. Other features
		include its wide support for most of the common validation rules, plus it's fully extensible
		to allow programmers to augment the built-in validation rules with their own.
	</p>

	<p>
		This tutorial explains the basics on how to add JS validation to a form. The tutorial
		does not exhaustively explore all the feature of the script. Visit the
		<a href="http://www.benjaminkeen.com/open-source-projects/smaller-projects/really-simple-validation-js/really-simple-validation-standalone-version/" target="_blank">website</a> for more
		information than you find here.
	</p>

{% include close_section.html %}
