---
layout: default
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding JS validation to your forms
subnavSectionLink: tutorials/js_validation/
heading: More help
prev: Available validation rules
prevLink: tutorials/js_validation/available_rules/
---

{% include open_section.html nav='nav_tutorial_js_validation.html' selected='more_help' nav_width=4 %}

	<p>
		The RSV script can do a great deal more that hasn't been covered here. But hopefully the
		tutorial has at least given you a general sense of how the script can be used in your own
		forms.
	</p>

	<p>
		See the scripts website for further information about configuration settings,
		different ways to display the error messages, developing your own validation rules for
		use with the script - and more.
		&nbsp;</p>

	<ul>
		<li><a href="http://www.benjaminkeen.com/software/rsv/standalone/">Really Simple Validation (RSV) website</a></li>
		<li><a href="http://www.benjaminkeen.com/software/rsv/standalone/demo.php">Demo section</a></li>
	</ul>

{% include close_section.html %}