---
layout: default
navPage: docs
heading: Adding the onsubmit handler
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding JS validation to your forms,/tutorials/js_validation/
  - Adding the onsubmit handler
prev: Defining your validation rules,/tutorials/js_validation/rules/
next: The finished product,/tutorials/js_validation/finished_product/
category: tutorial
---

{% include open_section.html nav='nav_tutorial_js_validation.html' selected='onsubmit' nav_width=4 %}

	<p>
		Now you've created your rules, you need to attach them to the form so that when the user submits the
		form, the RSV library validates the form with your rules. This is very easy, just add an onsubmit
		attribute to your form tag, like so:
	</p>

	{% codemirror html %}
	<form ... onsubmit="return rsv.validate(this, rules)">
	{% endcodemirror %}

	<p>
		And you're done! Now continue to the next step to see the final result.
	</p>

{% include close_section.html %}
