---
layout: default
navPage: docs
heading: Submission History
breadcrumbs:
  - Modules,/modules
  - Submission History,/modules/submission_history
  - Files and the Submission History module
prev: Viewing a change,/modules/submission_history/viewing_change
next: Performance,/modules/submission_history/performance
category: modules
---

{% include open_section.html nav='nav_submission_history.html' selected='files' %}

  <h3>Files and the Submission History module</h3>

  {% include screenshot.html item="i39.gif" %}

  <p>
    Let's talk about file uploads and the Submission History module. Form Tools forms may
    contain any number of file upload fields. Ordinarily, when you delete a submission
    Form Tools will delete that submission's files based on whatever value (yes/no) you've
    entered in the "Delete associated files when deleting submission" field on the Edit Form
    &gt; Main tab - as shown in the screenshot to the right.
  </p>

  <p>
    The problem is that the Submission History module opens up the possibility of undeleting
    submissions. So if you've set that value to "yes", files will automatically deleted with
    the submission. So undeleting it will only retrieve the data: the file field will
    just appear as empty. If this is a concern for you, set that field value to "no".
  </p>

  <p>
    The module does NOT create copies of your files. I thought about this for some time and
    decided against it. Feel free to disagree with me by posting in the forums!
  </p>

{% include close_section.html %}
