---
layout: default
navPage: docs
heading: Submission History
breadcrumbs:
  - Modules,/modules
  - Submission History,/modules/submission_history
  - Inside the Module
prev: Introduction,/modules/submission_history
next: The tracking page,/modules/submission_history/tracking
category: modules
---

{% include open_section.html nav='nav_submission_history.html' selected='inside_module' %}

  <h3>Inside the module</h3>

  <p>
    Alright! Let's look at the content of the module itself.
  </p>

  <p>
    Log into Form Tools and go to the Modules page. There, browse for the Submission History
    module and select it. If this is the first time you're going to the module, you'll be
    asked to create the history tables. Do so, then proceed. If you don't have any forms
    added yet, you won't be able to continue.
  </p>

  <ul>
    <li><a href="../tracking">The tracking page</a></li>
    <li><a href="../undelete">The undelete page</a></li>
    <li><a href="../settings">The settings page</a></li>
  </ul>

{% include close_section.html %}
