---
layout: default
navPage: docs
heading: Submission History
breadcrumbs:
  - Modules,/modules
  - Submission History,/modules/submission_history
  - Performance
prev: Files and the Submission History module,/modules/submission_history/files
next: Submission Accounts,/modules/submission_history/submission_accounts
---

{% include open_section.html nav='nav_submission_history.html' selected='performance' %}

  <h3>Performance</h3>

  {% include screenshot.html item="i160.gif" %}

  <p>
    The Edit Submission page is where you go to browse the change history for a submission.
    By default, it'll just show a bar along the bottom of the page with a "Load History"
    button, like in the screenshot. But if you think you'll be browsing the submissions a lot
    and want to save time having to click that button each time, just go to the module
    settings and set the "Auto-load history on edit submission page" to Yes.
  </p>

  <ul>
    <li><a href="../history_list">The History List</a></li>
    <li><a href="../viewing_changes">Viewing a Change</a></li>
  </ul>

{% include close_section.html %}
