---
layout: default
navPage: docs
heading: Submission History
breadcrumbs:
  - Modules,/modules
  - Submission History,/modules/submission_history
  - Edit Submission page
prev: Performance,/modules/submission_history/performance
next: Other Comments,/modules/submission_history/comments
category: modules
---

{% include open_section.html nav='nav_submission_history.html' selected='submission_accounts' %}

  <h3>Submission Accounts</h3>

  {% include screenshot.html item="i160.gif" %}

  <p>
    <i>Yes</i>, the Submission History module is compatible with the Submission Accounts module!
  </p>

  <p>
    Just install/upgrade to the latest version of the module and any changes that the users
    make to their own submission will be shown in the Submission History log.
  </p>

{% include close_section.html %}
