---
layout: default
navPage: docs
heading: Submission History
breadcrumbs:
  - Modules,/modules
  - Submission History,/modules/submission_history
  - Inside the Module,/modules/submission_history/inside_module
  - Undeleting Submissions
prev: The tracking page,/modules/submission_history/tracking
next: The settings page,/modules/submission_history/settings
categories: modules
---

{% include open_section.html nav='nav_submission_history.html' selected='undeleting' %}

  <h3>Undeleting Submissions</h3>

  {% include screenshot.html item="i169.jpg" %}

  <p>
    When clicking the UNDELETE link on the tracking page, you'll be taken to a page
    like the one shown in the screenshot to the right. It lists all submissions that have
    been deleted from the form. It's not the most usable page ever, but it does include a
    search option to let you search the deleted submissions. This will hopefully help
    you locate the one(s) you wish to undelete. Just click on the VIEW link to view the
    details of the submission. Once you've found the one you need to undelete, you
    can undelete it on that page.
  </p>

{% include close_section.html %}
