---
layout: default
navPage: docs
heading: Custom Fields
breadcrumbs:
- Modules,/modules
- Custom Fields,/modules/custom_fields/
- Core Compatibility
prev: Use in External forms,/modules/custom_fields/external_forms
next: The main page,/modules/custom_fields/main_page
---

{% include open_section.html nav='nav_custom_fields.html' selected='core_compatibility' %}

  <h3>Core Compatibility</h3>

  <p>
    What if you change one of the Core field types, listed on the <a href="../core_field_types/">earlier page</a>? Will
    your changes be overwritten with future upgrades to the Core? Nope! Not after 2.1.4.
  </p>

  <p>
    Up until Form Tools 2.1.4, upgrades to the Core sometimes included updates to the field types. The structure of the
    actual field type configuration is, and always will be, part of the Form Tools Core. But up until the release of this
    module, there was no way to get at it (other than manually editing the database content). The field types that are
    implemented as separate modules (<a href="/modules/field_type_google_maps/">Google Maps</a>,
    <a href="/modules/field_type_tinymce/">TinyMCE</a>) would directly manipulate the core database content to
    supplement the list of available field types with their own.
  </p>

  <p>
    From Form Tools 2.1.4 onwards, we will <b>never</b> include changes to the Core field
    types, so any modifications you make to them via this module will never be
    overwritten. When the need arises to update the Core fields, we will release a new
    "Core Field Types" module. Form Tools administrators can optionally download and upgrade
    that module to make the updates. But bear in mind this will overwrite any changes you
    make here.
  </p>

{% include close_section.html %}
