---
layout: default
navPage: docs
heading: Custom Fields
breadcrumbs:
- Modules,/modules
- Custom Fields,/modules/custom_fields/
- Editing Field Types
prev: Adding new Field Types,/modules/custom_fields/adding_field_types
next: Main tab,/modules/custom_fields/main_tab
---

{% include open_section.html nav='nav_custom_fields.html' selected='editing_field_types' %}

  <h3>Editing Field Types</h3>

  <p>
    When you edit a field type, you'll see the available options separated into five
    discrete tabs. There is a <i>huge</i> amount of functionality found in these tabs,
    so each one is explained separately in detail.
  </p>

  <ul>
    <li><a href="../main_tab">The Main tab</a></li>
    <li><a href="../displaying_tab">The Displaying tab</a></li>
    <li><a href="../saving_tab">The Saving tab</a></li>
    <li><a href="../validation_tab">The Validation tab</a></li>
    <li><a href="../settings_tab">The Settings tab</a></li>
  </ul>

{% include close_section.html %}
