---
layout: default
navPage: docs
heading: Custom Fields
breadcrumbs:
- Modules,/modules
- Custom Fields
next: Requirements,/modules/custom_fields/requirements
categories: modules
tags: developer,field_types
---

{% include open_section.html nav='nav_custom_fields.html' selected='introduction' %}

<h3>Custom Fields</h3>

<div class="alert alert-warning">
    <b>Warning</b>: this is an advanced module, intended for web developers. You need to have some expertise in HTML,
    CSS, JS, Smarty and PHP.
</div>

<div class="alert alert-danger">
    <b>Important!</b> Anyone using versions earlier than <b>2.1.0</b> of this module, please
    <a href="./breaking_changes_210/">read this page</a>.
</div>

<p>
    {% include screenshot.html item="i189.png" %}
    The Custom Fields module lets you customize and create those very field types that you can use in your Form Tools forms:
    textboxes, textareas, dropdowns and so on. This is an <i>incredibly</i> powerful module. In the immortal words of
    Keanu Reeves: <i>"Whoaahhh"</i>.
</p>

<p>
    The Custom Fields was designed alongside version 2.1.0 of the Form Tools Core to provide more flexibility with the
    field types and what options are available to configure them. Rather than distributing this functionality with the
    main release, we decided that it would lead to a lot of confusion and may cause people to accidentally break their
    installations. So instead, the Custom Fields module is released separately for anyone who needs a little advanced
    functionality.
</p>


<h3>What can it do for you?</h3>

<ul>
    <li>Create totally new field types for use in Form Tools and your published <a href="../form_builder/">Form Builder</a>
        forms.</li>
    <li>Tweak existing field types, including adding new configurable settings to existing ones ***</li>
    <li>Allocated database storage for the fields</li>
    <li>Control every single character that's used in displaying and editing the field type.</li>
    <li>Add new settings for your field type to get more usage out of it when configuring your fields.</li>
    <li>Add new validation rules to field types.</li>
</ul>

<p>
    As of Form Tools 3.0.10, the core field types are now all locked down. But instead you can make copies of those
    fields and edit them.
</p>

{% include close_section.html %}
