---
layout: default
navPage: docs
heading: Custom Fields
breadcrumbs:
- Modules,/modules
- Custom Fields,/modules/custom_fields/
- Questions?
prev: Shared Characteristics,/modules/custom_fields/shared_characteristics
categories: modules
tags: developer,field_types
---

{% include open_section.html nav='nav_custom_fields.html' selected='questions' %}

  <h3>Questions?</h3>

  <p>
    This is an uber-complex module. It taps right into the Form Tools Core design, so if you
    <i>don't</i> have questions, I'd be very surprised!
  </p>

  <p>
    As stated elsewhere, we'll be continually updating the documentation for this module to
    better explain the more subtle features and coming up with decent examples of how it
    can be best utilized. So please send us your questions through
    <a href="https://forums.formtools.org">the forums</a>.
  </p>

{% include close_section.html %}
