---
layout: default
navPage: docs
heading: Custom Fields
breadcrumbs:
- Modules,/modules
- Custom Fields,/modules/custom_fields/
- Requirements
prev: Introduction,/modules/custom_fields/
next: The Core Field Types,/modules/custom_fields/core_field_types
category: modules
---

{% include open_section.html nav='nav_custom_fields.html' selected='requirements' %}

  <h3>Requirements</h3>

  <p>
    As mentioned, this is a very technical module! You will need to have a working
    knowledge of web technologies such as HTML, CSS, JS, PHP, and the Smarty templating language.
    &nbsp;How much and exactly what you need to know depends on what you're trying to do. The
    module tries to make it as simple as possible to create and manage your field types,
    but you <i>will</i> need to have technical experience for the more advanced stuff.
  </p>

  <p>
    Secondly, you must be using <b>Form Tools 2.1.4 or later</b> of the Core.
  </p>

{% include close_section.html %}
