---
layout: default
navPage: docs
heading: References
breadcrumbs:
- Tutorials,/tutorials/
- Setting up a PayPal-Enabled Form
subnavSection: Setting up a PayPal-Enabled Form
prev: A Few Final Tips,/tutorials/paypal/final_tips/
category: tutorial
---

{% include open_section.html nav='nav_tutorial_paypal.html' selected='references' nav_width=3 %}

<ul>
    <li><a href="http://www.paypal.com/cgi-bin/webscr?cmd=p/pdn/howto_checkout-outside">Adding PayPal Checkout to Your 3rd-party Shopping Cart</a> (written by PayPal)</li>
    <li><a href="https://developer.paypal.com/">PayPal Developer's Sandbox</a></li>
    <li><a href="https://www.paypal-community.com/t5/Merchant-Integration-Technical/ct-p/mts">PayPal Developer forums</a> - handy place to ask your questions about PayPal integration.</li>
    <li><a href="http://www.paypal.com/cgi-bin/webscr?cmd=p/xcl/rec/ipn-intro-outside">Information about PayPal's IPN (Instant Payment Notification)</a></li>
    <li><a href="http://www.abebooks.com/servlet/SearchResults?sts=t&amp;tn=PayPal+Hacks&amp;x=93&amp;y=7">PayPal Hacks by Shannon Sofield, Dave Nielsen &amp; Dave Burchell. O'Reilly Press (book)</a></li>
</ul>

{% include close_section.html %}
