---
layout: default
navPage: docs
heading: "Step 2: Your PayPal Account"
breadcrumbs:
- Tutorials,/tutorials/
- Setting up a PayPal-Enabled Form
subnavSection: Setting up a PayPal-Enabled Form
prev: Adding the donation form to Form Tools,/tutorials/paypal/overview/
next: Configure your PayPal account,/tutorials/paypal/configure_paypal_account/
category: tutorial
---

{% include open_section.html nav='nav_tutorial_paypal.html' selected='step2' nav_width=3 %}

    <p>
        If you haven't already done so, <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_registration-run" target="_blank">sign
        up for a PayPal Account here</a>. Choose the account type (Personal, Premier or Business) that is
        right for your particular case. This account (email address) will be where all donations will be
        sent.
    </p>

    <ol>
        <li>
            <b>Personal</b>
            <ul>
                <li>free to send / receive payments</li>
                <li>cannot receive payments from credit cards</li>
                <li>limited to $1,000 in payments per month</li>
            </ul>
        </li>
        <li>
            <b>Premier</b>
            <ul>
                <li>fee for accepting payments</li>
                <li>may receive payments from credit cards</li>
                <li>includes a wide variety of tools (like PayPal shopping cart, subscriptions, recurring payments and more)</li>
            </ul>
        </li>
        <li>
            <b>Business</b>
            <ul>
                <li>Unlike the other accounts, your PayPal account is displayed as your company name instead of your personal name.</li>
                <li>same fees as the Premier account and allows payments from credit cards</li>
            </ul>

        </li>
    </ol>

    <p>
        Due to the Personal account's limitation of not being able to receive payments from credit card, I'd
        recommend you opt for a Premier or Business account - despite the fees.
    </p>

{% include close_section.html %}
