---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - Add Form page
prev: Adding a reCAPTCHA to your Form Builder forms,/modules/form_builder/usage/tutorials/tips_captcha/
next: Template Sets,/modules/form_builder/usage/interface/template_sets/
---

{% include open_section.html nav='fb_nav_usage.html' selected='add_form_page' %}

  <h3>The Add Form page</h3>

{% include close_section.html %}
