---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - Add Form page
prev: The interface,/modules/form_builder/usage/interface
next: The Edit Form &raquo; Publish tab,/modules/form_builder/usage/interface/publish_tab
---

{% include open_section.html nav='fb_nav_usage.html' selected='add_form_page' %}

  <h3>The Add Form page</h3>

  <p>
  </p><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i364.gif" rel="lightbox[page]" class="fancybox" title="Add Form -> Select Form Type page"><img src="http://static1.formtools.org/site/screenshots/i364_th.gif" alt="Add Form -> Select Form Type page" title="Add Form -> Select Form Type page" border="0"></a><br>Add Form -&gt; Select Form Type page</div>
  With the Form Builder module installed and enabled, the Add Form page provided
  by the Core script (by default found in the "Add Form" link in the left navigation)
  contains a new "Form Builder" panel, as shown in the screenshot to the right.
  <p></p>

  <p>
    After selecting the Form Builder option, you will be redirected to a second page where
    you specify a few details about your form (form name, number of fields and permissions).
  </p><div class="screenshot" style="float:left"><a href="http://static1.formtools.org/site/screenshots/i369.gif" rel="lightbox[page]" class="fancybox" title="Form Builder -> Add Form"><img src="http://static1.formtools.org/site/screenshots/i369_th.gif" alt="Form Builder -> Add Form" title="Form Builder -> Add Form" border="0"></a><br>Form Builder -&gt; Add Form</div>  All of these settings can be changed later - you're never boxed in by any choice you
  make. If you need to add or remove fields, rename the form or change the permissions,
  this can all be done at a later date.
  <p></p>

{% include close_section.html %}
