---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - The Form Builder Window
prev: The Edit Form &raquo; Publish tab,/modules/form_builder/usage/interface/publish_tab
next: The module pages,/modules/form_builder/usage/interface/module_pages
category: modules
---

{% include open_section.html nav='fb_nav_usage.html' selected='form_builder_window' %}

  <h3>The Form Builder window</h3>

  <p>
    The <i>Form Builder window</i> is where you go to visually construct your form.
    It lets you pick and choose the options permitted by the Template Set and what View
    you want to use to determine the form contents.
  </p>

  <h4>Views</h4>

  <p>
    <i>Views</i> are a feature of the Form Tools Core, added in 2.1.0. They allow you
    to create any number of ways to organize, group your form fields. They can contain
    subsets of all the fields in your form, mark some as
  </p>

  <p>
    The Form Builder builds upon this existing functionality: you still use the Views
    to group and organize your form fields, then you just pick whatever View you want to use
    in the Form Builder to determine
  </p>

  <h4>View Tabs == Form Builder Pages</h4>

  <h4>Non-editable fields and System Fields</h4>

  <p>
    The Form Builder will automatically strip out any fields that have no point being in your
    published form.
  </p>

{% include close_section.html %}
