---
layout: default
navPage: docs
heading: The Form Builder Window
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - The Form Builder Window
prev: Adding a reCAPTCHA to your Form Builder forms,/modules/form_builder/usage/tutorials/tips_captcha/
next: Template Sets,/modules/form_builder/usage/interface/template_sets/
---

{% include open_section.html nav='fb_nav_usage.html' selected='form_builder_window' %}


{% include close_section.html %}
