---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - The Form Builder Window
prev: The Edit Form &raquo; Publish tab,/modules/form_builder/usage/interface/publish_tab
next: The module pages,/modules/form_builder/usage/interface/module_pages
---

{% include open_section.html nav='fb_nav_usage.html' selected='form_builder_window' %}

  <h3>The Form Builder window</h3>

{% include close_section.html %}
