---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - The module pages
prev: The Form Builder window,/modules/form_builder/usage/interface/form_builder_window/
next: Template Sets,/modules/form_builder/usage/template_sets/
---

{% include open_section.html nav='fb_nav_usage.html' selected='module_pages' %}

  <h3>The module pages</h3>

  <p>
    The module pages (found under Modules » Form Builder) contains
    all the functionality to manage your Template Sets. To make the Form Builder as
    simple to use as possible, the majority of the functionality of the Form Builder is found
    on the Edit Form -&gt; Publish tab.
  </p>

{% include close_section.html %}
