---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - The Edit Form &raquo; Publish tab
prev: The Add Form Page,/modules/form_builder/usage/interface/add_form_page
next: The Form Builder window,/modules/form_builder/usage/interface/form_builder_window
categories: modules
---

{% include open_section.html nav='fb_nav_usage.html' selected='publish_tab' %}

  <h3>The Edit Form » Publish tab</h3>

  <p>
    {% include screenshot.html item="i370.gif" %}

    Before the Form Builder module came along, Form Tools already had a pretty great
    interface for customizing fields, defining Views, Email templates and so on. So the
    last thing we wanted to do was re-invent the wheel and come up with a new interface
    for the Form Builder to do exactly the same thing.
  </p>

  <p>
    All of the three Form Tools form types (Internal, External and Form Builder) are managed
    through the same Edit Form pages. However, with the Form Builder module installed, a
    fifth tab appears: <i>Publish</i>. This is where you go to actually publish the form
    on your site using the Form Builder window.
  </p>

  <p>
    Note: when you have the Form Builder module installed, the Publish tab will appear for
    <b>all form types</b>, even Internal and External form types. For those form types,
    the tab will provide you with the option of converting the form type to a
    Form Builder form so you can get all the benefits of the Form Builder module and
    publish it on your site.
  </p>

{% include close_section.html %}
