---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Interface,/modules/form_builder/usage/interface
  - The Edit Form &raquo; Publish tab
prev: The Add Form Page,/modules/form_builder/usage/interface/add_form_page
next: The Form Builder window,/modules/form_builder/usage/interface/form_builder_window
---

{% include open_section.html nav='fb_nav_usage.html' selected='publish_tab' %}

  <h3>The Edit Form » Publish tab</h3>

{% include close_section.html %}
