---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - Other Information,/modules/data_visualization/other
  - Feature Suggestions
prev: Tips for Creating Great Charts,/modules/data_visualization/other/tips
---

{% include open_section.html nav='nav_data_visualization.html' selected='feature_suggestions' %}

  <h3>Feature Suggestions</h3>

  <p>
    This is a really cool module. It's something we've wanted to create since the very first
    version of Form Tools, some 6 years ago at the time of writing. However - it's not
    perfect! Not by a long shot! The wonderful thing about data is that it can visualized in
    any number of ways - here's no end to the way you can clarify and summarize information
    to improve understanding.
  </p>

  <p>
    So! What do you want to see? What sort of charts would you like to see added? What kind of
    problems do you encounter that a good visualization could help solve?
  </p>

  <p>
    Please let us know through <a href="https://forums.formtools.org">the
    forums</a>. We're very much looking forward to your suggestions - we take them very
    seriously.
  </p>


{% include close_section.html %}
