---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - Other Information,/modules/data_visualization/other
  - How to install
prev: Other Information,/modules/data_visualization/other
next: Caching and Load Times,/modules/data_visualization/other/caching
category: modules
---

{% include open_section.html nav='nav_data_visualization.html' selected='how_to_install' %}

  <h3>How to install</h3>

  <p>
    Installing the Data Visualization module is very simple, and works the same as any other
    module. <a href="{{site.baseurl}}/userdoc/modules/installing">See this page for instructions</a>.
  </p>

{% include close_section.html %}
