---
layout: default
navPage: docs
heading: Data Visualization
breadcrumbs:
  - Modules,/modules
  - Data Visualization,/modules/data_visualization
  - Other Information
prev: Permissions (who sees 'em?),/modules/data_visualization/admin/permissions
next: How to Install,/modules/data_visualization/other/how_to_install
---

{% include open_section.html nav='nav_data_visualization.html' selected='other' %}

  <h3>Other Information</h3>

  <p>
    The final section of this documentation outlines a few subjects that haven't been covered
    elsewhere. Click on one of the links below for more information.
  </p>

  <ul>
    <li><a href="{{site.baseurl}}/modules/data_visualization/other/how_to_install">How to install the module</a></li>
    <li><a href="{{site.baseurl}}/modules/data_visualization/other/caching">Caching and Load Times</a></li>
    <li><a href="{{site.baseurl}}/modules/data_visualization/other/tips">Tips for creating good charts</a></li>
    <li><a href="{{site.baseurl}}/modules/data_visualization/other/feature_suggestions">Feature Suggestions</a></li>
  </ul>


{% include close_section.html %}
