/**
 * This file should contain the core CSS, used across all subdomains. Any domain-specific content should be in a separate
 * CSS file and bundled separately.
 */
.box {
	padding-top: 25px;
	padding-bottom: 15px;
	padding-left: 12px;
	padding-right: 12px;
	background: #ffffff;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 1px 2px #999999;
	-webkit-box-shadow: 0px 1px 2px #999999; }

.box h3 {
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 19px; }

.box p {
	margin-bottom: 0px; }

/* footer lists */
.list li {
	padding-left: 0px;
	position: relative;
	margin-bottom: 10px; }

/* Bootstrap overrides */
@media (min-width: 1200px) {
	.container {
		width: 970px; } }
.pagination li a {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857;
	text-decoration: none;
	color: #000;
	background-color: transparent;
	border: 1px solid #eee;
	margin-left: -1px;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

.pagination li a:hover {
	color: #ffffff;
	background-color: #68a4e0;
	border-color: #68a4e0; }

/* progress bar */
.progress {
	height: 15px;
	line-height: 10px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 20px;
	background: #E9E9E9; }

.progress-bar {
	line-height: 10px;
	background: #68a4e0;
	box-shadow: none;
	-webkit-box-shadow: none; }

h3.heading-progress {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px; }

h3.heading-progress span {
	color: #68a4e0;
	font-weight: 400; }

/* tabs */
.tabs .nav-tabs {
	border-bottom: none; }

.tabs .nav-tabs li {
	margin-bottom: 0; }

@media (max-width: 767px) {
	.tabs .nav-tabs li {
		width: 100%;
		float: none;
		margin-bottom: 2px; }

	.tabs .nav-tabs li a {
		margin-right: 0 !important; }

	.tabs .nav-tabs li.active a {
		border-bottom: 2px solid #dcdcdc !important; } }
.tabs .nav-tabs li a {
	background: #f7f7f7;
	margin-right: 2px;
	border-left: 1px solid #f7f7f7;
	border-right: 1px solid #f7f7f7;
	border-bottom: none !important;
	border-radius: 0;
	padding: 12px 20px;
	color: #6d6d6d;
	position: relative; }

.tabs .nav-tabs li a:after {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	height: 3px; }

.tabs .nav-tabs li a:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 1px; }

.tabs .nav-tabs li a:hover {
	border-color: #f7f7f7; }

.tabs .nav-tabs > li > a .fa {
	margin-right: 4px; }

.tabs .nav-tabs li.active a {
	color: #68a4e0;
	border-left-color: #eee;
	border-right-color: #eee;
	background: #fff; }

.tabs .nav-tabs li.active a:after {
	background: #68a4e0; }

.tabs .nav-tabs li.active a:before {
	background: #fff; }

.tabs .nav-tabs li.active a:hover {
	border-bottom-color: #fff; }

.tabs .tab-content {
	padding: 15px 8px;
	border: 1px solid #eee;
	background: #fff; }

.tab-content p {
	overflow: hidden; }

.tabs .tab-content:before,
.tabs .tab-content:after {
	content: " ";
	display: table; }

.tabs .tab-content:after {
	clear: both; }

.tabs .tab-content p:last-child {
	margin-bottom: 0; }

/*resposive audio*/
.audio {
	width: 100%; }

/*resposive video*/
.responsive-video {
	width: 100%;
	position: relative;
	padding: 0;
	padding-top: 50.25%; }

.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

/* main menu */
.navbar-inverse {
	background-color: #232323; }

.navbar {
	border: none !important;
	border-radius: 0;
	margin-bottom: 0px; }

.navbar-brand {
	background: transparent url("../../img/logo.png") center left no-repeat; }

.navbar > .container .navbar-brand {
	padding-left: 65px;
	font-size: 22px;
	font-weight: normal;
	padding-top: 28px; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #68a4e0 !important;
	color: #fff; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #fff; }

/* dropdown menu */
.navbar .dropdown-menu {
	padding: 0;
	margin: 0;
	min-width: 190px;
	background-color: #222;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 2px solid #68a4e0 !important; }

.navbar .dropdown-menu li a {
	color: #fff;
	padding: 9px 20px;
	border-bottom: 1px solid #333;
	font-weight: 400;
	font-size: 14px;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

.navbar .dropdown-menu li:last-child a {
	border-bottom: none; }

.navbar .dropdown-menu li a:hover {
	background: #68a4e0;
	color: #fff; }

@media (min-width: 768px) {
	.navbar-nav > li > a {
		font-size: 13px;
		font-weight: normal;
		padding: 17px 11px;
		text-transform: uppercase;
		line-height: 44px;
		vertical-align: middle; }

	.navbar-brand {
		color: #fff !important;
		float: left;
		padding: 22px 15px;
		font-weight: 700;
		font-size: 35px;
		height: 78px;
		text-transform: uppercase; }

	.navbar-brand img {
		margin-top: 7px; } }
/* main menu option 2 with white background */
.navbar-default {
	background-color: #ffffff;
	box-shadow: 0px 0px 8px #999; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #68a4e0; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #68a4e0;
	color: #fff; }

#main-slider-bg {
	background: url("../../img/homepage_carousel_bg.jpg") no-repeat top fixed;
	position: relative;
	height: 550px; }

.slider-overlay {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; }

.slider-main {
	padding-top: 110px; }

.slider-main .flex-control-paging li a {
	background: #fff !important; }

.slider-main .flex-control-paging li a.flex-active {
	background: #68a4e0 !important; }

.slider-main .flex-control-nav {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0px !important;
	position: relative;
	margin-top: 80px; }

.slider-heading {
	color: #fff;
	font-weight: 300;
	font-size: 4em;
	margin-top: 70px;
	margin-bottom: 30px; }

.slider-heading span {
	color: #999999; }

.slider-desc {
	color: #f0f0f0;
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 18px; }

/* responsive css for 768px that work in all devices */
@media (max-width: 767px) {
	.slider-heading {
		font-size: 2.9em;
		margin-top: 10px; }

	.navbar-brand {
		padding-top: 15px; }

	#page-tree {
		padding-top: 70px !important; } }
#iconRow {
	margin: 20px auto 0px;
	display: inline-block;
	list-style-type: none; }
#iconRow li {
	float: left;
	color: #999999;
	font-size: 12px;
	width: 100px; }
#iconRow li span {
	width: 48px;
	height: 48px;
	display: block;
	margin: 0px auto 10px; }
#iconRow li label {
	display: block; }
#iconRow li.info span {
	background-position: 0px 0px; }
#iconRow li.forms span {
	background-position: -48px 0px; }
#iconRow li.modules span {
	background-position: -96px 0px; }
#iconRow li.accounts span {
	background-position: -144px 0px; }
#iconRow li.visualization span {
	background-position: -192px 0px; }
#iconRow li.api span {
	background-position: -240px 0px; }
#iconRow li.translations span {
	background-position: -288px 0px; }
#iconRow li.selected, #iconRow li:hover {
	color: #d1eeff; }
#iconRow li.selected.info span, #iconRow li:hover.info span {
	background-position: 0px -48px; }
#iconRow li.selected.forms span, #iconRow li:hover.forms span {
	background-position: -48px -48px; }
#iconRow li.selected.modules span, #iconRow li:hover.modules span {
	background-position: -96px -48px; }
#iconRow li.selected.accounts span, #iconRow li:hover.accounts span {
	background-position: -144px -48px; }
#iconRow li.selected.visualization span, #iconRow li:hover.visualization span {
	background-position: -192px -48px; }
#iconRow li.selected.api span, #iconRow li:hover.api span {
	background-position: -240px -48px; }
#iconRow li.selected.translations span, #iconRow li:hover.translations span {
	background-position: -288px -48px; }
#iconRow span {
	background-image: url(../../img/master_sprite.png); }

.icon {
	width: 48px;
	height: 48px;
	display: inline-block; }

.icon-form-builder {
	background-image: url(../../img/icon_form-builder.png); }

.icon-data-visualization {
	background-image: url(../../img/icon_data-visualization.png); }

.icon-submission-history {
	background-image: url(../../img/icon_submission-history.png); }

.icon-custom-fields {
	background-image: url(../../img/icon_custom-fields.png); }

body {
	font-family: 'Raleway', sans-serif !important;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	cursor: default;
	font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-weight: 700;
}


h1 {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 0.50em;
	color: #444444; }

h2.subtitle {
	font-weight: 300;
	color: #666;
	font-size: 19px;
	margin-bottom: 0px; }

h2.subtitle i {
	color: #68a4e0;
	font-size: 2em; }

a {
	text-decoration: none !important; }

a.hover-color {
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

a.hover-color:hover {
	color: #68a4e0 !important; }

iframe, fieldset {
	border: 0;
	margin: 0;
	padding: 0; }

b, strong {
	font-weight: 700;
}

p, td, ul, ol, li, div {
	line-height: 23px;
}

::selection {
	background: #fefac7;
	/* Safari */
	color: #555555; }

::-moz-selection {
	background: #fefac7;
	/* Firefox */
	color: #555555;
	outline: none; }

/*============================================================*/
/*========= margin padding for giving spaces in rows =========*/
/*============================================================*/
.margin-btm20 {
	margin-bottom: 20px; }

.padding-60 {
	padding: 60px 0px; }

.margin-btm40 {
	margin-bottom: 40px; }

.divied-40 {
	width: 100%;
	height: 40px;
	clear: both; }

.divied-60 {
	width: 100%;
	height: 60px;
	clear: both; }

/*==================== ========*/
/*========= buttons css =========*/
/*============================*/
.btn {
	font-weight: 700;
	font-size: 13px;
	text-shadow: none;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	letter-spacing: 1px; }

/*button white for colored background*/
.btn-white {
	background-color: transparent;
	color: #fff;
	border-radius: 0;
	border: 2px solid #fff; }

.btn-white:hover {
	background-color: #fff;
	color: #222; }

.btn-theme {
	background-color: transparent;
	color: #68a4e0;
	border-radius: 0;
	border: 2px solid #68a4e0; }

.btn-theme:hover {
	background-color: #F54325;
	color: #fff68a; }

.btn-dark {
	background-color: #555;
	color: #fff;
	border: 2px solid #555; }

.btn-dark:hover {
	background-color: #68a4e0;
	border-color: #68a4e0;
	color: #fff; }

/*============================*/
/*========= Social icons =========*/
.social li a i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
	margin-bottom: 9px;
	font-size: 19px;
	color: #222;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

.social li a i:hover {
	color: #fff;
	background-color: #68a4e0; }

/*==================== ========*/
/*========= Sections =========*/
/*============================*/
#recent-work {
	background: #fff; }

#about-colored {
	background-color: #c5ddf6;
	background-attachment: scroll;
	background-position: 50% -1115px; }

#footer-default {
	background: #363839;
	color: #8C8989; }

#page-tree {
	padding-top: 100px;
	padding-bottom: 25px;
	background-color: #c5ddf6;
	border-bottom: 1px solid #cacaca;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }

#hightlight-sec h1 {
	margin-top: 100px;
	color: #fff; }

#hightlight-sec-2 h1 {
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px; }

#home-contact {
	background-color: #f7f7f7; }

/*==================== ========*/
/*========= Portflio =========*/
/*============================*/
#grid .mix {
	display: none;
	opacity: 0; }

.portfolio-filters {
	margin-bottom: 30px;
	list-style-type: none; }

.portfolio-filters {
	margin-left: 0px;
	width: 100%;
	padding-left: 0px; }

.portfolio-filters li {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	margin-right: 8px;
	margin-bottom: 5px;
	background-color: #eee;
	color: #222;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; }

.portfolio-filters li:hover {
	background-color: #68a4e0;
	color: #fff; }

.portfolio-filters li.active {
	color: #fff;
	background-color: #68a4e0; }

.port-single-desc strong {
	font-weight: 700;
	color: #555; }

.port-single-desc {
	margin-bottom: 10px !important;
	padding: 10px 20px !important; }

.port-single-desc p {
	margin: 0px; }

.port-single-desc a {
	display: block; }

/*portflio no margin no padding*/
.portfolio-no-margin {
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px !important; }

/*=========================================================*/
/*========= Portflio and blog image hover overlay =========*/
/*=========================================================*/
.portfolio-item {
	margin-bottom: 20px; }

.image-sec {
	position: relative; }

.image-overlay {
	position: absolute;
	text-align: center;
	background: rgba(245, 67, 37, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; }

.image-overlay p {
	position: absolute;
	top: 50%;
	color: #fff;
	margin-top: -10px;
	width: 100%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; }

.image-overlay p i {
	font-size: 44px;
	color: #fff; }

.image-sec:hover .image-overlay {
	opacity: 1; }

/*=========================================================*/
/*========= blog =========*/
/*=========================================================*/
.blog-desc {
	padding: 20px;
	background: #fff; }

.blog-desc h3 {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: 700; }

.blog-desc h3 a {
	text-decoration: none;
	color: #333; }

/*blog pages*/
.blog-items {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd; }

.blog-items img {
	width: 100%;
	height: 400px; }

.blog-items h1 {
	margin: 20px 0px; }

.blog-items h1 a {
	margin: 20px 0px;
	color: #444; }

.blog-post-list {
	margin: 20px 0px; }

.blog-post-list li {
	color: #444; }

.blog-post-list li a {
	color: #444; }

.blog-post-more {
	margin-top: 20px; }

/*blog grid*/
.blog-grid-box {
	padding: 15px;
	background: #fff;
	box-shadow: 0px 1px 3px #999; }

.blog-grid-desc {
	padding-top: 15px; }

.blog-grid-desc h4 {
	margin-bottom: 12px; }

.blog-grid-desc h4 a {
	color: #555; }

.blog-grid-meta {
	margin: 13px 0px; }

.blog-grid-meta span {
	margin-right: 2px; }

.blog-grid-meta span a {
	font-size: 12px;
	font-weight: 400;
	color: #555; }

.blog-grid-desc p {
	color: #555; }

.more-button {
	margin-top: 15px; }

.blog-grid-btm {
	padding: 5px 0px;
	border-top: 1px solid #eee; }

.blog-grid-btm h3 {
	margin-bottom: 0px; }

.blog-grid-btm h3 span a {
	font-size: 14px;
	display: inline-block;
	color: #555; }

.blog-grid-btm h3 span a i {
	margin-right: 5px; }

.comment {
	padding: 10px;
	background: #fff;
	box-shadow: 0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999; }

.comment i {
	float: left;
	margin-right: 20px;
	font-size: 24px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	color: #555;
	background: #f7f7f7;
	border-radius: 2px;
	-webkit-border-radius: 2px; }

.comment h4 {
	margin-bottom: 10px; }

.comment span {
	font-size: 14px; }

.comment p {
	overflow: hidden; }

/*==================== ========*/
/*========= Testimoials =========*/
/*============================*/
#testimonials h1 {
	color: #fff; }

#testimonials h2.subtitle i {
	color: #fff; }

#testimonials .testi-text {
	color: #fff;
	font-weight: 300;
	font-size: 23px; }

#testimonials .testi-person {
	color: #fff;
	display: block;
	font-weight: 700;
	margin-bottom: 30px; }

#testimonials .flex-control-nav {
	position: relative;
	bottom: 0;
	margin-top: 20px; }

/*==================== ========*/
/*========= breadcrumbs overrides =========*/
/*============================*/
#page-tree h1 {
	margin: 0px;
	font-weight: 300; }

#page-tree .breadcrumb {
	margin-bottom: 0;
	margin-top: 13px;
	padding: 0px 0;
	background: transparent; }

#page-tree .breadcrumb li a {
	color: #000; }

#page-tree .breadcrumb li i:before {
	color: #000 !important; }

#page-tree .breadcrumb li.active a {
	color: #68a4e0; }

/*==================== ========*/
/*========= footers =========*/
/*============================*/
/*footers default*/
.footer-column h3 {
	color: #ddd;
	font-size: 20px;
	font-weight: 300; }

.post-list li a {
	padding: 11px 0px;
	border-bottom: 1px solid #505152;
	display: block;
	color: #8C8989;
	font-size: 12px;
	font-weight: 500; }

.work-list li {
	display: inline-block;
	margin: 0 10px 10px 0; }

.work-list li a img {
	width: 53px;
	height: 40px;
	padding: 3px;
	border: 1px solid #505152;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

.work-list li a img:hover {
	border-color: #68a4e0; }

/*==================== ========*/
/*========= footer option 2 =========*/
/*============================*/
#footer-option {
	background: none repeat scroll 0% 0% #363839;
	color: #8C8989; }

#footer-option h3 {
	font-weight: 300; }

#footer-copyright {
	padding: 20px 0px;
	background-color: #444444; }

#footer-copyright span {
	color: #E9E9E9; }

/*==================== ========*/
/*========= sidebar =========*/
/*============================*/
.sidebarbox-title {
	margin-bottom: 15px;
	font-size: 19px; }

.sidebar-box {
	background-color: #fff;
	color: #666;
	margin-bottom: 30px;
	padding: 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999; }

.cat-list li {
	padding: 5px 0px;
	border-bottom: 1px solid #ddd; }

.cat-list li a {
	display: block;
	color: #505152;
	font-weight: 400;
	font-size: 14px;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

.cat-list li a:hover {
	color: #68a4e0; }

.sidebar-box .work-list {
	margin-bottom: 0px; }

.sidebar-box .work-list li {
	margin: 0px; }

.sidebar-box .work-list li a img {
	width: 60px;
	margin-top: 5px; }

.taglist a {
	padding: 3px 8px;
	color: #fff;
	background: #555;
	margin: 3px;
	display: inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	font-size: 14px;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in; }

.taglist a:hover {
	background: #68a4e0; }

/*==================== ========*/
/*========= error page =========*/
/*============================*/
.error-page h2 {
	font-weight: 300;
	font-size: 120px; }

/*==================== ========*/
/*========= Pricing tabels =========*/
/*============================*/
.price-box {
	padding: 25px 0px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999; }

.price-box h3 {
	font-size: 35px; }

.price-box h3 small {
	font-size: 13px;
	margin-left: 5px; }

.pricing-head {
	margin: 0px;
	padding: 20px 0px;
	background: #555;
	color: #fff; }

.price-desc {
	margin-top: 25px;
	margin-bottom: 25px; }

.price-desc p {
	padding: 10px 0px;
	display: block;
	border-bottom: 1px solid #eee;
	margin: 0px; }

.price-box-popular .pricing-head {
	background-color: #68a4e0; }

/*==================== ========*/
/*========= team =========*/
/*============================*/
.person-desc {
	padding: 20px 15px;
	background-color: #fff; }

.person-desc h4 {
	font-weight: 700;
	margin-bottom: 10px; }

.person-desc h4 small {
	font-size: 12px;
	margin-left: 12px; }

.person-desc .social {
	margin-bottom: 0px;
	margin-top: 15px; }

/*==================== ========*/
/*========= Forms =========*/
/*============================*/
.form-box {
	padding: 15px;
	background: #fff;
	box-shadow: 0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	padding: 0 10px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 25px;
	color: #7a7a7a;
	border: 1px solid #dadada;
	resize: none;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #FFF;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
	border: 1px solid #b3b3b3;
	background: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; }

.colored-bg {
	width: 100%;
	padding: 15px;
	background-color: #68a4e0; }

.lead {
	font-weight: 300; }

.mainContent {
	padding: 110px 0px 50px; }



/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff;  }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

	.footer-col-1 { width: 50%; }

	.footer-col-2 {
		width: 45%; /*fallback*/
		width: -webkit-calc(50% - 10px);
		width: -moz-calc(50% - 10px);
		width: -o-calc(50% - 10px);
		width: calc(50% - 10px);
		margin-right: 0;
	}

	.site-footer .column.footer-col-3 {
		width: auto;
		float: none;
		clear: both;
	}

}

@media screen and (max-width: 600px) {

	.wrap { padding: 0 12px; }

	.site-nav {
		position: fixed;
		z-index: 10;
		top: 14px; right: 8px;
		background-color: white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #e8e8e8;
	}

	.site-nav .menu-icon {
		display: block;
		font-size: 24px;
		color: #505050;
		float: right;
		width: 36px;
		text-align: center;
		line-height: 36px;
	}

	.site-nav .menu-icon svg { width: 18px; height: 16px; }

	.site-nav .trigger {
		clear: both;
		margin-bottom: 5px;
		display: none;
	}

	.site-nav:hover .trigger { display: block; }

	.site-nav .page-link {
		display: block;
		text-align: right;
		line-height: 1.25;
		padding: 5px 10px;
		margin: 0;
	}

	.post-header h1 { font-size: 36px; }
	.post-content h2 { font-size: 28px; }
	.post-content h3 { font-size: 22px; }
	.post-content h4 { font-size: 18px; }
	.post-content blockquote { padding-left: 10px; }
	.post-content ul,
	.post-content ol { padding-left: 10px; }

	.site-footer .column {
		float: none;
		clear: both;
		width: auto;
		margin: 0 0 15px; }

}

.marginBottom {
	margin-bottom: 10px;
}
