---
layout: default
navPage: docs
heading: Hooks Manager
breadcrumbs:
  - Modules,/modules
  - Hooks Manager,/modules/hooks_manager
  - Examples,/modules/hooks_manager
  - Client account expiry dates,/modules/hooks_manager/client_account_expiry_dates
  - "Step 2: Add code hook"
prev: "Step 1: Add new client field,/modules/hooks_manager/examples/add_client_field"
next: Tracking "last emailed date" for submissions,/modules/hooks_manager/examples/tracking_last_emailed
categories: modules
---

{% include open_section.html nav='nav_hooks_manager.html' selected='add_code_hook' %}

  <h3>Step 2: Add code hook</h3>

  {% include screenshot.html item="i133.gif" %}

  <p>
    In Form Tools, go to the Hooks Manager module and create a new hook. Enter in the values
    as shown in the screenshot. The most important parts are that it's a <b>code</b> hook, and
    it's assigned to the <b>ft_login</b> hook. What this means is that you're adding some
    code that gets executed during the <b>ft_login</b> core function - that's the function
    that handles logging in.
  </p>

  <p>
    The code that's being added is shown below. It's actually pretty simple! All it does
    is examine the account information for the user trying to log in. If the account
    has an extended client field named "ecf_X" (extended client field X) and it has a value,
    it compares the current date with the date in that field. If the date has expired,
    then it redirects the user to the login page and outputs a message. The message
    that's displayed is customizable: just pass in a different query string for a different
    message (plain text only! Any HTML is automatically stripped out for security reasons).
  </p>

<textarea class="codemirror" data-lang="php">// this will need to be updated for your installation. Replace "X"
// with the field ID that you created earlier
$expiry_date_field = "ecf_X";

$account_id = $account_info["account_id"];
$extended_settings = ft_get_account_settings($account_id);

// if there's no expiry date set, the use can log in. Just return!
if (!isset($extended_settings[$expiry_date_field]) || empty($extended_settings[$expiry_date_field])) {
  return;
}

// parse out the year, month and day from the expiry date and convert
// to epoch time for easy comparison with current date
list($y, $m, $d) = split("-", $extended_settings[$expiry_date_field]);
$expiry_date_epoch_time = mktime(0, 0, 0, $m, $d, $y);

// get the current epoch time
$now = mktime();

// compare them! If the account has expired, redirect them to the
if ($expiry_date_epoch_time < $now) {
  header("location: $g_root_url/?message=Sorry, account expired");
  exit;
}</textarea>


  {% include screenshot.html item="i134.gif" %}

  <p>
    Now trying entering different dates for the client account and try logging in.
    For client accounts whose accounts have expired you should see an error message
    like in the screenshot to the right.
  </p>

  <p>
    And you're done! :)
  </p>


</td>

{% include close_section.html %}
