---
layout: default
navPage: docs
heading: Hooks Manager
breadcrumbs:
  - Modules,/modules
  - Hooks Manager,/modules/hooks_manager
  - Examples
prev: Custom Hooks,/modules/hooks_manager/basic_usage/custom_hooks
next: Adding an email template,/modules/hooks_manager/examples/add_email_template_placeholder
---

{% include open_section.html nav='nav_hooks_manager.html' selected='examples' %}

  <h3>Examples</h3>

  <p>
    The following pages provide a few examples of how this module can be used.
  </p>

  <div class="row">
    <div class="col-lg-5">
      <a href="/modules/hooks_manager/examples/add_email_template_placeholder">Adding an email template placeholder</a>
    </div>
    <div class="col-lg-7">
      This example explains how to create a custom email template placeholder, in this example a banner image that you
      can use throughout your HTML email templates.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <a href="/modules/hooks_manager/examples/client_account_expiry_dates">Client account expiry dates</a>
    </div>
    <div class="col-lg-7">
      This example works requires the Extended Client Fields module; it lets you add a simple expiry date option to your
      client accounts.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <a href="/modules/hooks_manager/examples/tracking_last_emailed">Tracking "last emailed date" for submissions</a>
    </div>
    <div class="col-lg-7">
      This example explains how to create a "last emailed date" field for your form submissions which logs the last
      time you or your clients sent an email to an email address associated with a form submission.
    </div>
  </div>


{% include close_section.html %}
