---
layout: default
navPage: docs
heading: Hooks Manager
breadcrumbs:
  - Modules,/modules
  - Hooks Manager,/modules/hooks_manager
  - Examples,/modules/hooks_manager/examples/
  - Tracking "last emailed date" for submission,/modules/hooks_manager/examples/tracking_last_emailed
  - Update your View(s)
prev: 'Step 1: Add a new "last emailed" form field,/modules/hooks_manager/examples/new_db_field'
next: "Step 3: Creating the hook,/modules/hooks_manager/examples/create_hook"
---

{% include open_section.html nav='nav_hooks_manager.html' selected='update_view' %}

  <h3>Step 2: Update your View(s)</h3>

  {% include screenshot.html item="i137.gif" %}

  <p>
    The next step is to add this new field to your submissions so that when editing them,
    you will see when it was last emailed. To do this, you'll need to update any Views
    that you're using. Just edit your form and edit any Views you want. The screenshot
    to the right shows the new "Last Emailed" field added to the first row. I recommend
    that you uncheck the "editable" checkbox so that the field only displays the date - not
    allows it to be edited.
  </p>


{% include close_section.html %}
