---
layout: default
navPage: docs
heading: Installation
breadcrumbs:
  - Installation
next: "Step 1: Welcome!,/installation/step1/"
categories: installation
page_type: introduction
---

{% include open_section.html nav='nav_installation.html' selected='installation' %}

	{% include screenshot.html item="install_step1.png" %}

	<p>
		This section explains how to install Form Tools on your server.
	</p>

	<p>
		Installing Form Tools is usually very simple. The only problems that usually occur are
		if you don't have the MySQL information correct or if you're on a Windows server and
		the permissions on the theme cache folder aren't right. This section explains how to
		get the script, upload it to your website, run through the installation steps and deal with
		any of the most likely problems. It's really easy! Honest!
	</p>

	<h3>Getting the script and uploading to your server</h3>

	<ol>
		<li>
			Download the zipfile from the <a href="http://formtools.org/download/" target="_blank">downloads page</a>
			and unzip the files into a folder on your computer.
		</li>
		<li>
			With an FTP client, upload the files to your webserver to a location of your choosing. This folder must be
            accessible via a URL on your site, e.g. <b>http://www.yoursite.com/formtools/</b>
		</li>
		<li>
			After the files have fully uploaded, boot up your web browser and go to the URL where you uploaded the
            script. It will automatically take you to the installation script.
		</li>
	</ol>

	<p>
		The following pages explain each step of the installation script.
	</p>


{% include close_section.html %}
