---
layout: default
navSection: Installation
heading: Installation
next: "Step 1: Welcome!"
nextLink: /installation/step1/
---

{% include open_section.html nav='nav_installation.html' selected='installation' %}

	{% include screenshot.html item="i342.gif" %}

	<p>
		This section explains how to install Form Tools on your server.
	</p>

	<p>
		Installing Form Tools is usually a very simple affair. Generally the only problems
		arise if you don't have the MySQL information correct or if you're on a Windows server
		and the permissions on the cache folder aren't right. This section explains how to
		get the script, upload it to your website, and explains each of the 6 steps of the
		installation script. It's really easy! Honest!
	</p>

	<h4>Getting the script + Uploading</h4>

	<ol>
		<li>
			Download the zipfile from the <a href="http://www.formtools.org/download.php" target="_blank">downloads page</a>
			and unzip the files into a folder on your computer.
		</li>
		<li>
			With an FTP client, upload the files to your webserver to a location of your choosing. This folder must be accessible via a URL on your site, e.g.
			<b>http://www.yoursite.com/formtools/</b>
		</li>
		<li>
			After the files have fully uploaded, boot up your web browser and go to the URL
			where you uploaded the script. It will automatically take you to the
			installation script.
		</li>
	</ol>

	<b>Don't see the installation script?</b>
	<p>
		In most cases, you'll now see the installation script and can just follow through
		the instructions on the page to get Form Tools all configured. However, on some
		servers (Windows, I'm calling you out!) you may see an error message saying that you
		need to change the permissions on the <b>/themes/default/cache</b> cache folder. This folder
		is used to create temporary cache files: it must be read-writable in order for Form Tools
		to work. Change the permissions to 777 on Unix, or ask your hosting provider to make it
		read-writable for Windows servers. Once that's done, just refresh the page and you'll be
		redirected to the installation script. Challenge #1 complete!
	</p>

	<p>
		The following pages explain each step of the installation script.
	</p>


{% include close_section.html %}
