---
layout: default
navPage: docs
heading: "Step 1: Welcome!"
breadcrumbs:
  - Installation,/installation/
  - "Step 1: Welcome"
prev: Installation,/installation/
next: "Step 2: System Check,/installation/step2/"
categories: installation
tags: localization
---

{% include open_section.html nav='nav_installation.html' selected='step1' %}

	<p>
        {% include screenshot.html item="install_step1.png" %}

		Step 1 of the installation script is a welcome screen, and lets you choose your default language. Form Tools
        3 comes with all languages as part of the installation, so you can choose any one you want from this screen.
        That language will be used for the installation script, and as the default language for your Form Tools
        installation.
    </p>

	<p>
		Note: not all translations are complete, so if you fancy helping to translate,
        <a href="https://github.com/formtools/core/issues">let us know</a>.
	</p>

{% include close_section.html %}
