---
layout: default
navPage: docs
heading: "Step 6: Clean Up"
breadcrumbs:
- Installation,/installation/
- "Step 6: Clean Up"
prev: "Step 5: Create Admin Account,/installation/step5/"
next: "The Suhosin Extension,/installation/suhosin/"
categories: installation
---

{% include open_section.html nav='nav_installation.html' selected='step6' %}

<p>
    {% include screenshot.html item='install_step6.png' %}
    And we're done! The final page lists a couple of handy documentation links. You can just click the "Log in to
    Form Tools" button and you'll be taken to the login page. You can log in with the user account you
    just created.
</p>

<p>
    Have fun! Remember, if you get stuck on anything, post you questions
    on <a href="https://github.com/formtools/core/issues" target="_blank">github here</a>.
</p>

{% include close_section.html %}
