---
layout: default
navPage: docs
heading: "Step 2: System Check"
breadcrumbs:
  - Installation,/installation/
  - "Step 2: System Check"
prev: "Step 1: Welcome!,/installation/step1/"
next: "Step 3: System Check,/installation/step3/"
categories: installation
---

{% include open_section.html nav='nav_installation.html' selected='step2' %}

	<p>
        {% include screenshot.html item="install_step2.png" %}
		The second step runs a few key tests on your server to confirm that Form Tools is able to run. The full
        system requirements are <a href="{{site.baseurl}}/userdoc/getting_started/system_requirements/">outlined here</a>,
		but the most common problems encountered on this page are these:
	</p>

	<ul>
		<li>
            <b>MySQL version identified as incorrect</b>. Form Tools requires MySQL 4 or later to run.
		</li>
		<li>
            <b>Write permissions</b>. The /themes/default/cache and /upload folders needs to be read-writable.
			If you're on a Windows server, you may need to contact your hosting provider to ask them
			to set the folder permissions.
        </li>
	</ul>

    <p>
        The last row lets you choose a custom cache folder if you don't want to use the default <code>/cache</code>
        folder. This folder is used for storing temporary cached version of the Form Tools interface pages amongst other
        things. It is perfectly safe to have it within your webroot, but you can put it wherever you need.
    </p>

{% include close_section.html %}
