---
layout: default
navPage: docs
heading: "Step 6: Clean Up"
breadcrumbs:
  - Installation,/installation/
  - "Step 6: Clean Up"
prev: "Step 5: Create Admin Account,/installation/step5/"
next: "The Suhosin Extension,/installation/suhosin/"
categories: core,installation
---

{% include open_section.html nav='nav_installation.html' selected='step6' %}

	<p>
		{% include screenshot.html item='i347.gif' %}
		And we're done! Well, almost. :) The final step is to delete the /install folder on your server. Just boot
		up that FTP client one more time, and delete the /install folder. Once that's done, click
		the "Log in to Form Tools" button and you'll be redirected to the Form Tools login page.
	</p>

	<p>
		Have fun! Remember, if you get stuck on anything, pop back to our site for the help
		documentation and forums.
	</p>

{% include close_section.html %}
