---
layout: default
navPage: docs
heading: "Step 5: Create Admin Account"
breadcrumbs:
- Installation,/installation/
- "Step 5: Create Admin Account"
subnavSection: "Step 5: Create Admin Account"
prev: "Step 4: Create Config File,/installation/step4/"
next: "Step 6: Clean Up,/installation/step6/"
categories: installation
---

{% include open_section.html nav='nav_installation.html' selected='step5' %}

<p>
    {% include screenshot.html item='install_step5.png' %}

    This step sets up the administrator account for your Form Tools installation. At this point there
    you can only have a single administrator for your installation, but this will be changing in upcoming
    versions.
</p>

<p>
    The administrator's username must be alphanumeric (a-Z, 0-9) only.
</p>


{% include close_section.html %}
