---
layout: default
navPage: docs
heading: "Step 1: Welcome!"
breadcrumbs:
  - Installation,/installation/
  - "Step 1: Welcome"
prev: Installation,/installation/
next: "Step 2: System Check,/installation/step2/"
category: installation
---

{% include open_section.html nav='nav_installation.html' selected='step1' %}

	<p>
		{% include screenshot.html item='i342.gif' %}
		Step 1 of the installation script is just a welcome screen, and lets you choose your
		language for both the installation script and Form Tools itself. The language packs are
		found in the /global/lang folder, and can be downloaded from
		the <a href="https://translations.formtools.org">Translations page</a>.
	</p>

	<p>
		You can always change the languages later on, so you may want to just continue with the
		English language.
	</p>

{% include close_section.html %}
