---
layout: default
navPage: docs
navSection: Installation
navSectionLink: installation/
subnavSection: "Step 5: Create Admin Account"
heading: "Step 5: Create Admin Account"
prev: "Step 4: Create Config File"
prevLink: installation/step4/
next: "Step 6: Clean Up"
nextLink: installation/step6/
---

{% include open_section.html nav='nav_installation.html' selected='step5' %}


	<p>
		{% include screenshot.html item='i346.gif' %}
		This step creates administrator user account and (behind the scenes) does all the exciting
		stuff, like populating the database and installing the modules. It may take a few moments
		to complete.
	</p>

	<p>
		The administrator's username needs to be alphanumeric (a-Z, 0-9) only. It will prompt you
		if what you entered isn't permitted.
	</p>


{% include close_section.html %}
