---
layout: default
navPage: docs
heading: Adding a POST form
breadcrumbs:
- Tutorials,/tutorials/
- Adding a POST form
subnavSection: Adding a POST form
prev: "Step 6: Finalize Form,/tutorials/adding_post_form/step6/"
categories: tutorial
---

{% include open_section.html nav='nav_tutorial_adding_post_form.html' selected='related_links' nav_width=3 %}

<h3>Related Links</h3>

<ul>
    <li><a href="{{site.baseurl}}/tutorials/post_form_captchas/">Adding CAPTCHAs to your POST form</a></li>
</ul>

{% include close_section.html %}
