---
layout: default
navPage: docs
heading: Adding a POST form
breadcrumbs:
- Tutorials,/tutorials/
- Adding a POST form
subnavSection: Adding a POST form
prev: Overview
next: "Step 2: Form Information,/tutorials/adding_post_form/step2/"
category: tutorial
---

{% include open_section.html nav='nav_tutorial_adding_post_form.html' selected='step1' nav_width=3 %}

{% include screenshot.html item="i79.jpg" %}

<p>
    Step 1 is just a preparatory page. It makes a few general comments and provides a short
    checklist to ensure you're ready to start adding your form. Specifically, these two criteria
    need to be met:
</p>

<ul>
    <li>your form has already been created and it's accessible via a URL (localhost is fine)</li>
    <li>you are able to edit your form</li>
</ul>

{% include close_section.html %}
