---
layout: default
navPage: docs
navSection: Tutorials
navSectionLink: tutorials/
subnavSection: Adding your first form
heading: Adding your first form
next: Picked your Submission Method?
nextLink: tutorials/adding_first_form/next_step/
---

{% include open_section.html nav='nav_tutorial_adding_first_form.html' selected='form_types' nav_width=3 %}

	<h4>POST forms and API forms</h4>

	<p>
		There are two ways to submit your form data:
	</p>
	<ul>
		<li><b>1. POST forms</b> work by setting the "action" attribute of your form tag to point
			to Form Tools' <b>process.php</b> file (found in the Form Tools root folder). This submits the
			content to Form Tools, which then redirects to whatever URL you want. This method is the
			simplest way to submit the data, but it's also quite limiting (see below).</li>

		<li><b>2. API forms</b> work by using PHP to gather and send the form data. The API comes
			pre-installed with all bundled Form Tools installations (i.e. the zip and tar files found
			on the <a href="http://www.formtools.org/download.php">download page</a>). This method is extremely
			powerful and generally favoured for multi-page forms, or forms that require server-side
			validation.
		</li></ul>

	<p>
		Both methods have their advantages and disadvantages. The following table outlines
		some of the key differences to help you determine which method is better for you.
	</p>

	<table cellspacing="0" cellpadding="1" class="info" width="600px">
		<tbody><tr>
			<th>Requirement</th>
			<th width="150">process.php</th>
			<th width="150">API</th>
		</tr>
		<tr>
			<td>General simplicity</td>
			<td class="green" align="center">Simple</td>
			<td class="red" align="center">Hard</td>
		</tr>
		<tr>
			<td>Requires PHP knowledge</td>
			<td align="center"></td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>Submit form for storage</td>
			<td class="bold" align="center">x</td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>
				Accepts form submissions sent from other websites than the one where
				Form Tools is installed
			</td>
			<td class="bold" valign="top" align="center">x</td>
			<td class="bold" align="center"> </td>
		</tr>
		<tr>
			<td>Submit form in sections (e.g. page by page)</td>
			<td class="bold" align="center"></td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>Upload files through form</td>
			<td class="bold" align="center">x</td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>Client-side validation (javascript)</td>
			<td class="bold" align="center">x</td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>Server-side validation (PHP)</td>
			<td class="bold" align="center"> </td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>CATPCHAs</td>
			<td class="bold" align="center">x</td>
			<td class="bold" align="center">x</td>
		</tr>
		<tr>
			<td>Compatible with third-party payment gateways like PayPal</td>
			<td class="bold" align="center"> </td>
			<td class="bold" align="center">x</td>
		</tr>
		</tbody>
	</table>

{% include close_section.html %}
