---
layout: default
navPage: docs
heading: Adding your first form - submission method
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding your first form
prev: POST forms and API forms,/tutorials/adding_first_form/form_types/
categories: tutorial
---

{% include open_section.html nav='nav_tutorial_adding_first_form.html' selected='next_step' nav_width=3 %}

	<p>
		Okay, picked your submission method? Great! Click on one of the following links to continue.
	</p>

	<ul>
		<li><a href="{{site.baseurl}}/userdoc/form_management/adding_external_forms/">Adding a POST form</a></li>
		<li>
            Adding a Single Page Form with the API
            <ul>
                <li><a href="{{site.baseurl}}/tutorials/api_single_page_form/">Form Tools 2</a></li>
                <li><a href="{{site.baseurl}}/tutorials/api_v2_single_page_form/">Form Tools 3</a></li>
            </ul>
        </li>
		<li>
            Adding a Multi-Page Form with the API
            <ul>
                <li><a href="{{site.baseurl}}/tutorials/api_multi_page_form/">Form Tools 2</a></li>
                <li><a href="{{site.baseurl}}/tutorials/api_v2_multi_page_form/">Form Tools 3</a></li>
            </ul>
        </li>
	</ul>


{% include close_section.html %}
