---
layout: default
navPage: docs
heading: Picked your Submission Method?
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding your first form
prev: POST forms and API forms,/tutorials/adding_first_form/form_types/
---

{% include open_section.html nav='nav_tutorial_adding_first_form.html' selected='next_step' nav_width=4 %}

	<p>
		Okay, picked your submission method? Great! Click on one of the following links to continue.
	</p>

	<ul>
		<li><a href="{{site.baseurl}}/tutorials/userdoc/form_management/adding_external_forms/">Adding a POST form</a></li>
		<li><a href="{{site.baseurl}}/tutorials/api_single_page_form/">Adding a Single Page Form with the API</a></li>
		<li><a href="{{site.baseurl}}/tutorials/api_multi_page_form/">Adding a Multi-Page Form with the API</a></li>
	</ul>


{% include close_section.html %}
