---
layout: default
navPage: docs
heading: Facebook Forms
breadcrumbs:
  - Modules,/modules
  - Facebook Forms,/modules/facebook_forms
  - Installing and configuring the module
prev: Creating a custom View,/modules/facebook_forms/tutorial/create_view
next: Configuring your Facebook App,/modules/facebook_forms/tutorial/create_form
---

{% include open_section.html nav='nav_facebook_forms.html' selected='configure_module' %}

  <h3>Installing and configuring the module</h3>

  {% include screenshot.html item="i234.gif" %}

  <p>
    Okay! Now all the Form Tools form is created and configured, let's look at the module!
  </p>

  <p>
    <a href="/userdoc/modules/installing" target="_blank">Install
      the module</a> and select it from the Modules page. There, you should see a blank
    first page like the screenshot above. Click on the "Configure Form" button. This
    opens a dialog where you specify what form you're interested in seeing appear in
    Facebook, and which View should be used to render the form.
  </p>

  {% include screenshot.html item="i235.gif" %}

  <p>
    Select your form and View you just created in the previous two steps (or your own, if you
    chose to bypass them) as per the screenshot to the left. When you click Add, you'll see
    a little loading icon, then you'll be redirected to a new page where you can configure
    your entire form. For now, we won't go into all the configuration options - but they'll be
    covered later. Still, you might want to click around the four tabs (Main, Labels/Text, Validation
    and Advanced) to see what kind of options are available to customize how your form
    looks on Facebook.
  </p>

{% include close_section.html %}
