---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Benefits
prev: Introduction,/modules/form_builder
next: Usage,/modules/form_builder/usage/
---

{% include open_section.html nav='fb_nav.html' selected='benefits' %}

<h3>Benefits</h3>

<p>
  Using the Form Builder to generate your forms has a number of benefits over manual
  form creation.
</p>

<ul>
  <li>No programming experience necessary.</li>
  <li><i>Very</i> quick and easy to generate your own forms (single page and multi-page)
    on your site.</li>
  <li>Automatic generation of "Review" and "Thankyou" pages.</li>
  <li>Utilize all the special Form Tools field types (Dates, Times, phone numbers, Google
    Maps, WYSIWYG etc) fields in your forms, not just in the Form Tools interface.</li>
  <li>Choose from a set of attractive, pre-existing templates or create your own.</li>
  <li>Publish multiple forms on your site, each looking different, containing different
    fields, but all submitting to the same database table, where you can manage the submissions
    in a single location.</li>
  <li>Any of your existing Internal or External forms may be instantly converted to
    Form Builder forms to be published on your site.</li>
  <li>Unlike External Forms, you now manage your forms entirely through Form Tools. No
    more updating your forms in two places - once in your form, once in the Form Tools
    interface.</li>
</ul>

{% include close_section.html %}
