---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder
next: Benefits,/modules/form_builder/benefits/
---

{% include open_section.html nav='fb_nav.html' selected='introduction' %}

<h3>Introduction to the Form Builder module</h3>

<p>
  The Form Builder lets you construct forms right within the Form Tools interface. Watch the following
  video for an introduction to the module.
</p>


<iframe src="https://player.vimeo.com/video/34684415?title=0&amp;byline=0&amp;portrait=0"
	style="border: 1px solid #666666" width="400" height="300" frameborder="0" webkitallowfullscreen=""
	mozallowfullscreen="" allowfullscreen=""></iframe>

{% include close_section.html %}
