---
layout: default
navPage: docs
heading: Adding a Multi-page Form with the API
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding a Multi-page Form with the API
next: Configuring the First Form Page,/tutorials/api_multi_page_form/step1/
---

{% include open_section.html nav='nav_tutorial_ampf.html' selected='introduction' nav_width=4 %}

	<p>
		This tutorial explains how to integrate your multi-page form with Form Tools using the
		API functions to store and submit the form submissions. If you've read the
		<a href="{{site.baseurl}}/tutorials/api_single_page_form/">Adding a single page form with the API</a>
		tutorial, very little in this tutorial will be new.
	</p>

	<h4>Assumptions</h4>

	<p>
		In order to follow this tutorial, you'll need to have done the following:
	</p>

	<ul>
		<li>You've already created your web form pages including a "thank you" page where the
			user will be directed to after a successful submission.</li>
		<li>The pages are accessible via a web browser on a server running PHP.</li>

	</ul>

{% include close_section.html %}
