---
layout: default
navPage: docs
heading: Hooks Manager
breadcrumbs:
  - Modules,/modules
  - Hooks Manager,/modules/hooks_manager
  - Basic Usage,/modules/hooks_manager/basic_usage
  - Template Hooks
prev: Code Hooks,/modules/hooks_manager/basic_usage/code_hooks
next: Custom Hooks,/modules/hooks_manager/basic_usage/custom_hooks
category: modules
---

{% include open_section.html nav='nav_hooks_manager.html' selected='template_hooks' %}

  <h3>Template Hooks</h3>

  <p>
    Template hooks let you add your own HTML into Form Tools pages, letting you do things
    like add additional fields to forms, extra display text, or adding in extra markup or
    javascript. With a little imagination, you can use template hooks to expand the built-in
    appearance and functionality of Form Tools in virtually any way you want.
  </p>

{% include close_section.html %}
