---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
- Modules,/modules
- Form Builder,/modules/form_builder
- Usage,/modules/form_builder/usage
- Common Tasks,/modules/form_builder/usage/common_tasks
- Adding a reCAPTCHA
prev: Changing the default Form Builder window size,/modules/form_builder/usage/common_tasks/window_size/
next: Adding something to a specific form page,/modules/form_builder/usage/common_tasks/targeting_specific_form_page/
---

{% include open_section.html nav='fb_nav_usage.html' selected='adding_captcha' %}


  <h3>Adding a reCAPTCHA to your Form Builder forms</h3>

  <p class="alert alert-warning">
    <b>Note:</b> in order to use reCAPTCHA in your Form Builder forms, you need to
    have the Form Tools API installed and have set up an account with reCAPTCHA.
    <u><a href="/tutorials/post_form_captchas/requirements/" target="_blank">Click
      here</a></u> to read instructions on how to install the API and set up the account.
  </p>

  <p>
    {% include screenshot.html item="i364.gif" %}

    Spam is always a problem. To help prevent people from spamming your forms, the Form
    Builder comes with built-in support for <a href="http://www.google.com/recaptcha" target="_blank">reCAPTCHA</a> -
    a free service that helps to digitize books as well as fighting spam.
  </p>

  <div class="clear"></div>

  <hr size="1">

  <a name="adding_form"></a>
  <h4>How to add a reCAPTCHA to a form page</h4>

  <p>
    First, decide where you want the reCAPTCHA to appear: on a particular form page,
    or the review page (if your published form includes one). This section explains
    how to add it to one of your form pages; see the section below to add it to your
    form's Review page.
  </p>

  <ol>
    <li>Go the Modules » Form Builder module and select the Template Set
      you are using to publish your form.</li>
    <li>There, on the Templates tab, select the appropriate Form Page template. Note:
      if the template set has more one Form Page template and you're not sure
      which one you're using, return to the Form Builder (Edit Form » Publish tab
      » edit icon) and look in the left sidebar to find out which.</li>
    <li>
      In the template, at whatever spot you want (right before the continue_block is
      usual!), add the following code:

      {% raw %}
  <textarea class="codemirror" data-lang="smarty2">
  {{if $current_page == 1}}
    {{captcha}}
  {{/if}}</textarea>
      {% endraw %}

      What that does is look at the current page number, and if it's equal to 1, display
      the CAPTCHA. You can change that number to whatever you want, but bear in mind that
      if you plan on re-using the template set again, the reCAPTCHA may not appear
      on the page that you want. For information on targetting a particular form or
      View, <a href="{{site.baseurl}}/modules/form_builder/usage/common_tasks/targeting_specific_form_page/">give this page a read
      over</a>.
    </li>
  </ol>

  <a name="adding_review"></a>
  <h4>How to add a reCAPTCHA to a form's Review page</h4>

  <p>
    You may feel that it's a better idea to add your reCAPTCHA at the very last step:
    that way you don't discourage people from filling in the form right from the start.
    Here's how to add a reCAPTCHA to your Review page.
  </p>

  <ol>
    <li>Go the Modules » Form Builder module and select the Template Set
      you are using to publish your form.</li>
    <li>There, on the Templates tab, select the appropriate Review Page template. Note:
      if the template set has more one Review Page template and you're not sure
      which one you're using, return to the Form Builder (Edit Form » Publish tab
      » edit icon) and look in the left sidebar to find out which.</li>
    <li>
      In the template, at whatever spot you want (right before the continue_block is
      usual!), add the following code:

      {% raw %}
      <textarea class="codemirror" data-lang="smarty2">{{captcha}}</textarea>
      {% endraw %}

      That will output a fully-functional CAPTCHA to your Review page, preventing
      someone from submitting the form until they filled in the answer correctly.
    </li>
  </ol>

  <a name="auto_hide"></a>
  <h4>Auto-hide reCAPTCHA after correct response</h4>

  <p>
    If you chose to display the CAPTCHA on a form page, and your form contains multiple
    pages (either with more than one form pages, or a Review page), it's possible that
    your users will return to the page to edit some information. In those instances,
    you don't want them to have to re-enter the reCAPTCHA!
  </p>

  <p>
    The Form Builder automatically keeps track of whether a person has entered the
    reCAPTCHA correctly and won't make them re-enter it a second time.
  </p>

  <a name="styling"></a>
  <h4>Styling your reCAPTCHA</h4>

  <p>
    reCAPTCHA offers <a href="http://code.google.com/apis/recaptcha/docs/customization.html">several
    themes</a>. Depending on your form styles, you may well want to change it from
    the default styles. Here's how to do it:
  </p>

  <ol>
    <li>Go the Modules » Form Builder module and select the Template Set
      you are using to publish your form.</li>
    <li>On that Templates tab, select the Header template you are using for your form.</li>
    <li>In the &lt;head&gt; section, add the following code:

      <textarea class="codemirror" data-lang="html"><script>
        var RecaptchaOptions = { theme: 'theme_name' };
      </script></textarea>

      Where "theme_name" is "red", "white", "blackglass" or "clean".
    </li>
    <li>Save the template and refresh your form page. Hey presto!</li>
  </ol>


{% include close_section.html %}
