---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Common Tasks
prev: Default form field values,/modules/form_builder/usage/default_form_field_values/
next: Taking a form offline,/modules/form_builder/usage/common_tasks/form_offline/
---

{% include open_section.html nav='fb_nav_usage.html' selected='common_tasks' %}

  <h3>Common Tasks</h3>

  <p>
    This section outlines a few of the more common tasks you're likely to do with the Form
    Builder. You may also want to take a look at our <a href="/tutorials">tutorials</a>.
  </p>

  <ul>
    <li><a href="form_offline/">Taking a form offline</a></li>
    <li><a href="window_size/">Changing the default Form Builder window size</a></li>
    <li><a href="adding_captcha/">Adding a CAPTCHA</a></li>
    <li><a href="targeting_specific_form_page/">Adding something to a specific form page</a></li>
  </ul>

{% include close_section.html %}
