---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Common Tasks,/modules/form_builder/usage/common_tasks
  - Changing the default Form Builder window size
prev: Taking a form offline,/modules/form_builder/usage/common_tasks/form_offline/
next: Adding a CAPTCHA,/modules/form_builder/usage/common_tasks/adding_captcha/
---

{% include open_section.html nav='fb_nav_usage.html' selected='window_size' %}

  <h3>Changing the default Form Builder window size</h3>

{% include close_section.html %}
