---
layout: default
navPage: docs
heading: Going live!
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding a single-page form with the API,/tutorials/api_v2_single_page_form/
  - Going live!
prev: The test submission,/tutorials/api_v2_single_page_form/step3/
next: Related links,/tutorials/api_v2_single_page_form/related_links/
category: tutorial,api
version: FT3
---

{% include open_section.html nav='nav_tutorial_aspf_api2.html' selected='step4' nav_width=4 %}

	<p>
		Finally, after your form has been added and configured via the Form Tools interface, you just need to make
        one final change to push it live. On your form page, again change the <code>initFormPage()</code> function line
		to this (where X is your form ID):
	</p>

	{% codemirror php %}
$fields = $api->initFormPage(X);
	{% endcodemirror %}

	<p>
		(All you did was remove the second parameter). Now, after you've revisited the "thankyou" page to ensure that
		sessions were emptied, try putting through some submissions. They should now all be showing up in Form Tools,
        job well done!
	</p>

{% include close_section.html %}
