---
layout: default
navPage: docs
heading: Going live!
breadcrumbs:
  - Tutorials,/tutorials/
  - Adding a single-page form with the API,/tutorials/api_v2_single_page_form/
  - Going live!
prev: The test submission,/tutorials/api_v2_single_page_form/step3/
next: Related links,/tutorials/api_v2_single_page_form/related_links/
categories: tutorial,api
versions: FT3
tags: basics
---

{% include open_section.html nav='nav_tutorial_aspf_api2.html' selected='step4' nav_width=4 %}

	<p>
		Finally, after your form has been added and configured via the Form Tools interface, you just need to make
        one final change to push it live. The last step (step 6) of the Add Form process described what to do,
        but we'll add it here too.
    </p>
    <p>
        On your form page, again change the <code>initFormPage()</code> function line to this (where X is your form ID):
	</p>

	{% codemirror php %}
$fields = $api->initFormPage(X);
	{% endcodemirror %}

	<p>
		(All you did was remove the second parameter to that function). Now, after you've revisited the "thankyou" page
        to ensure that sessions were emptied, try putting through some submissions. They should now all be showing up
        in Form Tools. Job well done!
	</p>

    <h3>Files not uploading?</h3>

    <p>
        If you want to upload files through your form you may find that the files aren't being uploaded yet. No worries.
        The <a href="{{site.baseurl}}/modules/field_type_file/">File Upload module</a> lets you upload one or more files
        per field, control valid files types, sizes and more. That section explains how to fine tune your Form Tools
        field and HTML to upload files however you want.
    </p>

{% include close_section.html %}
