---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Quick-start tutorials / help
subnavSection: Quick-start tutorials / help
prev: Usage,/modules/form_builder/usage/
next: How the Form Builder Works,/modules/form_builder/usage/tutorials/how_fb_works/
---

{% include open_section.html nav='fb_nav_usage.html' selected='tutorials' %}

<h3>Quick-start tutorials / help</h3>

<table class="info">
  <tbody><tr>
    <td valign="top" width="280">
      <a href="/tutorials/how_fb_works/">How the Form Builder Works</a>
    </td>
    <td>
      This explains how the Form Builder works. For convenience, this information is also
      provided within the Form Builder window.
    </td>
  </tr>
  <tr>
    <td valign="top">
      <a href="/tutorials/publishing_first_form/">Publishing your first form with the Form Builder</a>
    </td>
    <td>
      This tutorial is for people who are completely new to Form Tools and the Form Builder.
      It explains how to create and publish simple "Contact Us" form on your site.
    </td>
  </tr>
  <tr>
    <td valign="top">
      <a href="/tutorials/tips_captcha/">Adding a reCAPTCHA to your Form Builder forms</a>
    </td>
    <td>
      It's very easy to add a CAPTCHA to your forms. This page explains how to do it.
    </td>
  </tr>
</tbody></table>

<p class="box">
  Like to see a tutorial on something else? <a href="{{site.modules_url}}">Let us know through the forums!</a>
</p>


{% include close_section.html %}
