---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Quick-start tutorials / help
subnavSection: Quick-start tutorials / help
prev: Usage,/modules/form_builder/usage/
next: How the Form Builder Works,/modules/form_builder/usage/tutorials/how_fb_works/
---

{% include open_section.html nav='fb_nav_usage.html' selected='tutorials' %}


  <h3>Quick-start tutorials / help</h3>

  <div class="row">
    <div class="col-lg-3">
      <a href="/modules/form_builder/usage/tutorials/how_fb_works/">How the Form Builder Works</a>
    </div>
    <div class="col-lg-9">
      This explains how the Form Builder works. For convenience, this information is also
      provided within the Form Builder window.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <a href="/modules/form_builder/usage/tutorials/publishing_first_form/">Publishing your first form with the Form Builder</a>
    </div>
    <div class="col-lg-9">
      This is for people who are totally new to Form Tools and the Form Builder. It explains how to create and
      publish simple "Contact Us" form on your site.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <a href="/modules/form_builder/usage/tutorials/tips_captcha/">Adding a reCAPTCHA to your Form Builder forms</a>
    </div>
    <div class="col-lg-9">
      It's very easy to add a CAPTCHA to your forms. This page explains how to do it.
    </div>
  </div>



{% include close_section.html %}
