---
layout: default
navPage: docs
heading: Form Builder
breadcrumbs:
  - Modules,/modules
  - Form Builder,/modules/form_builder
  - Usage,/modules/form_builder/usage
  - Publishing your First Form
prev: How the Form Builder works,/modules/form_builder/usage/tutorials/how_fb_works/
next: Adding a reCAPTCHA to your Form Builder forms,/modules/form_builder/usage/tutorials/tips_captcha/
---

{% include open_section.html nav='fb_nav_usage.html' selected='publishing_first_form' %}

<h3>Publishing your First Form</h3>

<p>
  Publishing your forms with the Form Builder is extremely easy. This page explains how
  to create and publish a form from scratch. We don't go into any great detail, but
  hopefully it's enough to get you started and see how the whole process works.
</p>

<table cellspacing="0" cellpadding="1" class="info" width="100%">
  <tbody><tr>
    <td width="20" class="bold" valign="top">1.</td>
    <td valign="top">
      Log into Form Tools as the administrator. There, click on the "Add Form" button in the
      left navigation. You should see a page that looks like the screenshot to the right.
      Click on the Form Builder option.
    </td>
    <td width="250">
      {% include screenshot.html item="i364.gif" source="docs" %}
      {% include screenshot.html item='another_file.jpg' source="module-form_builder" %}
    </td>
  </tr>
  <tr>
    <td class="bold" valign="top">2.</td>
    <td valign="top">
      On the next page, enter a name for your form - call it whatever you want, but make it
      descriptive. By default, all published forms will use that value as the page title.
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i369.gif" rel="lightbox[page]" class="fancybox" title="Form Builder -> Add Form"><img src="http://static1.formtools.org/site/screenshots/i369_th.gif" alt="Form Builder -> Add Form" title="Form Builder -> Add Form" border="0"></a><br>Form Builder -&gt; Add Form</div></td>
  </tr>
  <tr>
    <td class="bold" valign="top">3.</td>
    <td valign="top">
      After you submit the form, you will see a page like the screenshot to the right.
      The five tabs let you control everything about your form: what fields should be in
      (The Fields tab), what order they should be placed and how they are grouped (the
      Views tab), whether you want email notifications set up (Emails tab) and where
      you want them published on your site (Publish tab).
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i379.jpg" rel="lightbox[page]" class="fancybox" title="New Form Builder form created"><img src="http://static1.formtools.org/site/screenshots/i379_th.jpg" alt="New Form Builder form created" title="New Form Builder form created" border="0"></a><br>New Form Builder form created</div></td>
  </tr>
  <tr>
    <td class="bold" valign="top">4.</td>
    <td valign="top">
      Ordinarily, at this point you'd want to go to the Fields tab to customize
      what fields you want to appear in your form, and what field types they should be.
      But for the sake of this tutorial, we're going to skip that step and publish the form
      right away. Click on the "Publish" tab: you should see a page like the screenshot
      to the right.
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i380.jpg" rel="lightbox[page]" class="fancybox" title="Publish tab (empty)"><img src="http://static1.formtools.org/site/screenshots/i380_th.jpg" alt="Publish tab (empty)" title="Publish tab (empty)" border="0"></a><br>Publish tab (empty)</div></td>
  </tr>
  <tr>
    <td class="bold" valign="top">5.</td>
    <td valign="top">
      Click the "Publish this form" button. It will open up the Form Builder window. This
      is where you do all the customization of the form: what Template Set you want to use
      especially.
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i381.jpg" rel="lightbox[page]" class="fancybox" title="Publishing new Form - #1"><img src="http://static1.formtools.org/site/screenshots/i381_th.jpg" alt="Publishing new Form - #1" title="Publishing new Form - #1" border="0"></a><br>Publishing new Form - #1</div></td>
  </tr>
  <tr>
    <td class="bold" valign="top">6.</td>
    <td valign="top">
      Click the Publish button. This will open up a dialog as shown in the screenshot
      to the right. Enter whatever filename you want and click "Publish". This will actually
      create the form on your site.
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i382.jpg" rel="lightbox[page]" class="fancybox" title="Publishing new Form - #2"><img src="http://static1.formtools.org/site/screenshots/i382_th.jpg" alt="Publishing new Form - #2" title="Publishing new Form - #2" border="0"></a><br>Publishing new Form - #2</div></td>
  </tr>
  <tr>
    <td class="bold" valign="top">7.</td>
    <td valign="top">
      After publishing the form, assuming there are no problems (such as permissions),
      you will see the URL of your form listed. Click the "Open in new window" link.
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i383.jpg" rel="lightbox[page]" class="fancybox" title="Publishing new Form - #3"><img src="http://static1.formtools.org/site/screenshots/i383_th.jpg" alt="Publishing new Form - #3" title="Publishing new Form - #3" border="0"></a><br>Publishing new Form - #3</div></td>
  </tr>
  <tr>
    <td class="bold" valign="top">8.</td>
    <td valign="top">
      And there's your published form! At this point you'll want to start customizing it.
      For that, you'll probably want to visit the following locations:
      <ul>
        <li><b>Fields</b> tab. This is where you customize the actual form fields,
          and their types.</li>
        <li><b>Views</b> tab: The View lets you control which of the raw form fields
          actually appear in the published form and how they are arranged - by grouping and
          by page ("View tabs").</li>
      </ul>
    </td>
    <td><div class="screenshot" style="float:right"><a href="http://static1.formtools.org/site/screenshots/i384.jpg" rel="lightbox[page]" class="fancybox" title="Publishing new Form - #4"><img src="http://static1.formtools.org/site/screenshots/i384_th.jpg" alt="Publishing new Form - #4" title="Publishing new Form - #4" border="0"></a><br>Publishing new Form - #4</div></td>
  </tr>
  </tbody>
</table>



{% include close_section.html %}
