---
layout: default
navPage: docs
heading: Report Builder
breadcrumbs:
  - Modules,/modules
  - Report Builder,/modules/report_builder
  - Creating new reports
prev: Adding a Reports menu item,/modules/report_builder/adding_menu_item
next: Available settings,/modules/report_builder/available_settings/
---

{% include open_section.html nav='nav_report_builder.html' selected='creating_reports' %}

  <h3>Creating new reports</h3>

  <p>
    Because a Report is really just a form View, the nice thing is, you don't need to learn
    anything new! To create and manage your reports, just go to the Edit Form -&gt; Views tab
    and create new Views containing whatever fields and whatever filters you need. Views
    let you create any possible combination of your form fields, as well as reduce the
    results returned so that only those that match a particular criteria show up.
  </p>

  <p>
    To learn more about Views, take a look at <a href="{{site.baseurl}}/userdoc/views/">this section</a> of the user
      documentation.
  </p>

{% include close_section.html %}
