---
layout: default
navPage: docs
heading: Report Builder
breadcrumbs:
  - Modules,/modules
  - Report Builder,/modules/report_builder
  - Feature Suggestions
prev: Export Options,/modules/report_builder/export_options
category: modules
---

{% include open_section.html nav='nav_report_builder.html' selected='feature_suggestions' %}

  <h3>Feature Suggestions</h3>

  <p>
    We LOVE to get feature suggestions - and we take them very seriously. So if you have an
    idea on how to improve this module, or feel that a particular piece of functionality
    is conspicuously absent, <a href="https://github.com/formtools/module-report_builder/issues">create a new issue
    here</a>.
  </p>

  <p>
    We read all feature suggestions, and are particularly interested in expanding the
    functionality of our premium modules. So let us know!
  </p>

{% include close_section.html %}
