---
layout: default
navPage: docs
heading: Report Builder
breadcrumbs:
  - Modules,/modules
  - Report Builder,/modules/report_builder
  - How to install
prev: Requirements,/modules/report_builder/requirements/
next: Adding a Reports menu item,/modules/report_builder/adding_menu_item
---

{% include open_section.html nav='nav_report_builder.html' selected='how_to_install' %}

  <h3>How to install</h3>

  <p>
    Installing the module works just like any other module - very simply! <a href="/userdoc/modules/installing">Take a
    look at this page</a> for instructions.
  </p>

  <h4>Configuring the module</h4>

  {% include screenshot.html item="i249.gif" %}

  <p>
    After you've installed it, you're actually all done! Now, when you or your clients
    visit a form page, they will see a new icon appear at the top right of the submissions
    table. When clicked, it will open up a dialog window containing a list of all reports
    (i.e. Views) for your form. Take a look at the screenshot to the right for an example of
    how that looks.
  </p>

  <p>
    Although the Reports icon is a quick, convenient way to present an overview of all
    available Views, you want to add a link to the reports in the navigation menu. That
    way, looking at the reports for any form is just one click away - regardless
    of the page you're on.
  </p>

  <p>
    For that, continue reading...
  </p>

{% include close_section.html %}
