---
layout: default
navPage: docs
heading: Report Builder
breadcrumbs:
  - Modules,/modules
  - Report Builder
next: Requirements,/modules/report_builder/requirements
categories: modules
---

{% include open_section.html nav='nav_report_builder.html' selected='introduction' %}

  <h3>Reports, made simple</h3>

  {% include screenshot.html item="i246.gif" %}

  <p>
    One feature we've had requested again and again from our clients was to add a "Reports" page that listed all
    available reports. When we added Views in Form Tools 2.0.0, this provided exactly that, but from a usability
    perspective, we found that most of our clients simply didn’t realize that <i>Views == Reports</i>. They wanted
    a single page that listed all Views, but couched in an immediately familiar term: "Reports"; they wanted that page
    to contain all the various export options they needed (HTML, Excel, CSV etc) available as a single click away. In
    effect, they simply wanted an alternative, simpler interface to Form Tools Views, making their job of navigating and
    understanding the program that much simpler.
  </p>

  <p>
    Hence the Report Builder module!
  </p>

  {% include screenshot.html item="i250.gif" %}

  <p>
    From a usability perspective, this module is a very nice addition. Now, on the
    Submission Listing page you can choose to have a small reports icon appear which,
    when clicked, opens up a list of all reports (Views!) for the form and
    user account in a simple dialog window. It's attractive and simple to understand
    and use.
  </p>

  <p>
    The following pages explain the various functionality of the script, the available
    settings and how it appears in the user interface.
  </p>

{% include close_section.html %}
