---
layout: default
navPage: docs
heading: Report Builder
breadcrumbs:
  - Modules,/modules
  - Report Builder,/modules/report_builder
  - Requirements
prev: Introduction,/modules/report_builder/
next: How to install,/modules/report_builder/how_to_install
---

{% include open_section.html nav='nav_report_builder.html' selected='requirements' %}

  <h3>Requirements</h3>

  {% include screenshot.html item="i252.gif" %}

  <p>
    In order to use this module, you must have the following installed:
  </p>

  <ul>
    <li>Form Tools Core 2.1.0 (beta 20110802 or later)</li>
    <li><a href="/modules/export_manager/">Export Manager 2.0.3</a> or later. This comes pre-installed in all Form Tools
      installations.</li>
  </ul>

{% include close_section.html %}
