---
layout: default
navPage: docs
heading: Submission Accounts
breadcrumbs:
  - Modules,/modules
  - Submission Accounts,/modules/submission_accounts
  - Keeping track of who logs in
prev: "Edit Submission: what the user sees,/modules/submission_accounts/edit_submission"
categories: modules
---

{% include open_section.html nav='nav_submission_accounts.html' selected='who_logs_in' %}

  <h3>Keeping track of who logs in</h3>

  {% include screenshot.html item="i91.jpg" %}

  <p>
    One final feature that the module offers the option to log what user logs in and when.
  </p>

  <p>
    The functionality is very basic. In the Submission Accounts module pages, select the form
    you're interested in and click on the Users tab, as shown in the screenshot. That lists all
    users with the date at which they last logged in. Clicking on the View link will take you
    to the main administrator page to edit the submission.
  </p>

{% include close_section.html %}
