---
layout: default
navPage: docs
heading: Swift Mailer
breadcrumbs:
  - Modules,/modules
  - Swift Mailer,/modules/swift_mailer
  - Example Gmail Configuration
prev: Configuration,/modules/swift_mailer/configuration/
next: File Attachments,/modules/swift_mailer/file_attachments/
---

{% include open_section.html nav='nav_swift_mailer.html' selected='gmail' %}

  <h3>Configuration</h3>

  {% include screenshot.html item="i153.png" %}

  <p>
    For those of you with Gmail accounts, you may not know that you can use Gmail's SMTP
    server to send emails. I use it for all my own Form Tools installations. See the
    screenshot to the right for my own setup.
  </p>

{% include close_section.html %}
