---
layout: default
navPage: docs
heading: Swift Mailer
breadcrumbs:
- Modules,/modules
- Swift Mailer,/modules/swift_mailer
- Example Gmail Configuration
prev: Configuration,/modules/swift_mailer/configuration/
next: File Attachments,/modules/swift_mailer/file_attachments/
categories: modules
tags: emails
---

{% include open_section.html nav='nav_swift_mailer.html' selected='gmail' %}

<h3>Configuration</h3>

{% include screenshot.html item="i153.jpg" %}

<p>
    For those of you with Gmail accounts, you may not know that you can use Gmail's SMTP server to send emails. I use
    it for all my own Form Tools installations.
</p>

<ul>
    <li>
        First you'll need to enable <a href="https://www.google.com/landing/2step/">two-factor authentication</a>. This
        beefs up the security on your Gmail account a little, and is necessary first.
    </li>
    <li>
        Secondly you'll need to create an <a href="https://security.google.com/settings/security/apppasswords">app password</a>
        through Google. You will then use this password in lieu of your own gmail password.
    </li>
</ul>

{% include close_section.html %}
