<!DOCTYPE html>
<html>
<head>
	{% include core-head.html %}
	{% include docs-head.html %}
</head>
<body>

	{% include core-top_nav.html %}

	<section class="title-section title-band">
		<div class="container">
			<h4>DOCUMENTATION</h4>
		</div>
	</section>

	<section class="page-body">
		<div class="body-content">
			<section class="container doc-container">
				<div class="page-content">
					<div class="wrap">

						{% include breadcrumbs.html %}

						<header>
							<h1 id="page-title">{{page.heading}}</h1>
							{% include prev_next_nav.html %}
						</header>

                        <div id="doc-content">
						    {{ content }}
                        </div>
					</div>
				</div>

				{% include footer-docs.html %}
			</section>
		</div>

		{% include core-footer.html %}
		{% include docs-footer.html %}

	</section>

</body>
</html>
