<!DOCTYPE html>
<html>
<head>
	{% include core-head.html %}
  {% include docs-head.html %}
</head>
<body>

	{% include core-top_nav.html %}

	<section class="title-section main-color title-band">
		<div class="container">
			<h4>DOCUMENTATION</h4>
		</div>
	</section>

	<section class="container doc-container">
		<div class="page-content">
			<div class="wrap">

        {% include breadcrumbs.html %}

				<header>
					<h1>{{page.heading}}</h1>
					{% include prev_next_nav.html %}
				</header>

				{{ content }}
			</div>
		</div>

		{% include footer-docs.html %}

	</section>

	{% include core-footer.html %}

</body>
</html>
