---
layout: default
navPage: docs
heading: Anatomy of a Module
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Anatomy of a Module
prev: Module Development,/module_development/ft3/
next: Module.class.php,/module_development/ft3/module_class/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='anatomy' nav_width=4 %}

	<p>
		All right! Let's dissect a module. Personally I tend to learn better by viewing an example - so if you're
        anything like me you might want to take a look at our
        <a href="{{site.baseurl}}/module_development/example_modules/">"Hello World!" example modules</a> as well - that
        contains three modules you can upload to your Form Tools installation that show off how it works.
	</p>

	<p>
		All modules are located in the <b>[form tools root]/modules/</b> folder. Each module has a unique folder
		name made up of alphanumeric and underscore characters only. For the following page, our module is called
		"My Module" and its folder is named "my_module". The module name also defines your PHP class namespace, as we
        shall see.
	</p>


	<h3>Required Files &amp; Folders</h3>

	<p>
		These files are required for every module. All paths are relative to the module folder, which in our case is
        found at <code>[form tools root]/modules/my_module/</code>.
	</p>

    <div class="row">
        <div class="col-lg-3">
            <code>code/Module.class.php</code>
        </div>
        <div class="col-lg-9">
            <a href="{{site.baseurl}}/module_development/ft3/file_module" class="btn btn-sm btn-info pull-right">More Info</a>
            This is your main module class, which extends <code>global/code/Module.abstract.class.php</code> and contains
            the author information, name and description, the module navigation menu, your installation, uninstallation
            and upgrade code.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <code>index.php</code>
        </div>
        <div class="col-lg-9">
            <a href="{{site.baseurl}}/module_development/ft3/file_index" class="btn btn-sm btn-info pull-right">More Info</a>
            This is the first page the administrator will be linked to when clicking on the module on the Modules listing page.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <code>/templates/index.tpl</code>
        </div>
        <div class="col-lg-9">
            <a href="{{site.baseurl}}/module_development/ft3/file_index_tpl/" class="btn btn-sm btn-info pull-right">More Info</a>
            All HTML in Form Tools is rendered via Smarty templates. Other than the required .tpl extension, you can call
            your template files whatever you want and store whem somewhere in module folder. For consistency
            with the other modules, we recommend putting it in a <code>templates/</code> subfolder.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <code>library.php</code>
        </div>
        <div class="col-lg-9">
            <a href="{{site.baseurl}}/module_development/ft3/file_library/" class="btn btn-sm btn-info pull-right">More Info</a>
            All modules include a library.php file in their root that includes all PHP classes/code.
        </div>
    </div>
	<div class="row">
		<div class="col-lg-3">
			<code>/lang/en.php</code>
		</div>
		<div class="col-lg-9">
			<a href="{{site.baseurl}}/module_development/ft3/file_lang" class="btn btn-sm btn-info pull-right">More Info</a>
			All modules require a language file in the language of the developer. For US English,
            this file would be called <code>en_us.php</code>. We use the ISO 639-2 standard for the language
			file names.
		</div>
	</div>

	<h3>Optional</h3>

	<div class="row">
		<div class="col-lg-3">
			<code>smarty_plugins/</code>
		</div>
		<div class="col-lg-9">
			<a href="{{site.baseurl}}/module_development/ft3/smarty/" class="btn btn-sm btn-info pull-right">More Info</a>
			Any Smarty functions and modifiers should be placed in this subfolder. They will be automatically loaded
            and available within your module pages.
		</div>
	</div>

	<p>
		The following pages explain each of these files and folders in more depth.
	</p>


{% include close_section.html %}
