---
layout: default
navPage: docs
heading: Modules::checkModuleAvailable()
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Helper Methods,/module_development/ft3/helper_methods/
  - Modules::checkModuleAvailable()
prev: $module->setSettings(),/module_development/ft3/set_settings/
next: Modules::initModulePage(),/module_development/ft3/init_module_page/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='check_module_available' nav_width=4 %}

	<p>
		This function returns a boolean, and accepts a single string as a parameter: the folder name of the module.
        This function is generally used in conjunction with <b>ft_include_module</b> described above. Example usage:
	</p>

	{% codemirror php %}
if (Modules::checkModuleAvailable("pages")) {
    Modules::includeModule("pages");
}
	{% endcodemirror %}

{% include close_section.html %}
