---
layout: default
navPage: docs
heading: Code Hooks
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Hooks,/module_development/ft3/hooks/
  - Code Hooks
prev: Hook Methodology,/module_development/ft3/hooks_methodology/
next: Template Hooks,/module_development/ft3/template_hooks/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='code_hooks' nav_width=4 %}

	<p>
		Code hooks are specific locations in the Form Tools code where you can piggy-back your own code to be
        executed at the moment.
	</p>

{% include close_section.html %}
