---
layout: default
navPage: docs
heading: index.tpl
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Anatomy of a Module,/module_development/ft3/anatomy/
  - index.tpl
prev: index.php,/module_development/ft3/file_index/
next: Language files,/module_development/ft3/file_lang/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='file_index_tpl' nav_width=4 %}

    <p>
        All HTML within Form Tools is generated through the Smarty template language.
    </p>

	<p>
		Your <code>index.tpl</code> file is used to render the markup for your <code>index.php</code> file. As mentioned
        before, your template files can be located anywhere in your module folder, but we recommend putting them
        all within a <code>templates/</code> subfolder for consistency with the other modules.
	</p>

	<p>
		Here's the index.tpl file from the Hello World! module. All it does it output a localized "hello world!"
		string.
	</p>

	{% codemirror smarty %}
{ft_include file='modules_header.tpl'}

<div class="title">{$L.phrase_hello_world|upper}</div>

{ft_include file='modules_footer.tpl'}
	{% endcodemirror %}


    <p>
        The <code>ft_include</code> method is used to include other templates within the main theme. It
        does some clever stuff behind the scenes to first look for the file in the current users theme, then inherit
        from the default theme if it's not defined there.
    </p>

    <p>
        By and large you'll only ever be includes the header and footer as illustrated above. But if you want to include
        templates within your <b>own</b> module, you'll want to use the default Smarty <code>{include file="..."}</code>
        method.
    </p>

{% include close_section.html %}
