---
layout: default
navPage: docs
heading: module.php
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Anatomy of a Module,/module_development/ft3/anatomy/
  - Module.class.php
prev: Anatomy of a Module,/module_development/ft3/anatomy/
next: index.php,/module_development/ft3/file_index/
category: module_development
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='file_module' nav_width=4 %}

	<p>
        Every module contains a <code>/code/Module.class.php</code> file that handles the following:
	</p>

    <ul>
        <li>
            Contains various "meta" info about your module, like the author name, release date, module name and description
            (in your target language).
        </li>
        <li>
            Contains optional installation, uninstallation and upgrade code, should your module need it.
        </li>
        <li>
            Contains links to JS and CSS resources to get autoloaded in every one of your module pages (very handy!)
        </li>
        <li>
            Defines the module navigation that'll appear in the interface when the user enters your module.
        </li>
        <li>
            Contains any methods you need to expose to the outside world.
        </li>
    </ul>

	<p>
		Here's an example of the class contents.
	</p>

	{% codemirror php %}
<?php

namespace FormTools\Modules\YourModuleName;

use FormTools\Module as FormToolsModule;

class Module extends FormToolsModule
{
    protected $moduleName = "Your Module Name";
    protected $moduleDesc = "This is the description of your module name.";
    protected $author = "Your Name";
    protected $authorEmail = "you@something.com";
    protected $authorLink = "https://formtools.org";
    protected $version = "1.0.0";
    protected $date = "2018-02-20";
    protected $originLanguage = "en_us";
    protected $cssFiles = array(
        // list of CSS files to include here
    );
    protected $jsFiles = array(
        // list of CSS files to include here
    );

    protected $nav = array(
        "module_name"  => array("index.php", false),
        "word_submenu" => array("submenu.php", true)
    );

    public function install($module_id)
    {
        return array(true, "");
    }

    public function uninstall($module_id)
    {
        return array(true, "");
    }

    public function upgrade($module_id, $old_module_version)
    {
        return array(true, "");
    }
}
	{% endcodemirror %}

    <h3>Namespace</h3>

    <p>
        All Form Tools modules require their code to be namespaced. The namespace takes the form:
        <code>FormTools\Modules\YourModuleName</code>. Form Tools folder conventions use underscores in folder names,
        so here your module folder would be named <code>your_folder_name</code>. If your folder is named
        <code>svg_visualizations_lib</code> your namespace needs to be <code>FormTools\Modules\SvgVisualizationsLib</code>.
        If you don't enter the namespace correctly, Form Tools will not be able to load or find your module.
    </p>

    <h3>The Module abstract class</h3>

    <p>
        Take a look at <code>global/code/Module.abstract.class.php</code>
    </p>


	<div class="row">
		<div class="col-lg-4"><strong>Setting</strong></div>
		<div class="col-lg-8"><strong>Explanation</strong></div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			author
		</div>
		<div class="col-lg-8">
			(required) the name of the author, or company name.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			author_email
		</div>
		<div class="col-lg-8">
			(optional) the email address of the author / company email.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			author_link
		</div>
		<div class="col-lg-8">
			(optional) a URL to the author's website.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			version
		</div>
		<div class="col-lg-8">
			(required) the current module version. You can give your versions any numbering
			scheme you want. We use the commonly used technique of <b>X.Y.Z</b>, where X is the
			major release number, Y is the minor release and Z is for bug fix releases.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			date
		</div>
		<div class="col-lg-8">
			(optional) the release date of the module version in the format YYYY-MM-DD.
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			origin_language
		</div>
		<div class="col-lg-8">
			(required) the name of the language file, minus the .php extension.
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			supports_ft_versions
		</div>
		<div class="col-lg-8">
			A comma delimited list of supported Form Tools versions. This setting should ignore
			beta and release candidate releases - just the final versions.
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			nav
		</div>
		<div class="col-lg-8">
			(required) This setting defines your module's menu items. It is an array, whose
			keys correspond to entries in your language file. The values are an array with two
			indexes: the URL of the page, and whether it should appear as a submenu item or not.
		</div>
	</div>

	{% codemirror php %}
<?php
$MODULE["nav"] = array(
  "module_name"   => array('{$module_dir}/index.php', false),
  "word_settings" => array('{$module_dir}/settings/', false),
  "word_help"     => array('{$module_dir}/help/', false)
);
?>
	{% endcodemirror %}

	<div class="row">
		<div class="col-lg-4">

		</div>
		<div class="col-lg-8">
			The "module_name", "word_settings" and "word_help" have corresponding entries in the
			module's <b>lang/en_us.php</b> language file (i.e. $L["module_name"] = "Export Manager"
			etc.). The values each contain the <b>{$module_dir}</b> Smarty placeholder. This is a
			convenient way to refer to the module root URL. Often you find you won't need it, but if
			your module arranges its files in subfolders, this wards against invalid links.
		</div>
	</div>


{% include close_section.html %}
