---
layout: default
navPage: docs
heading: index.tpl
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Anatomy of a Module,/module_development/ft3/anatomy/
  - index.tpl
prev: index.php,/module_development/ft3/file_index/
next: lang/[lang file].php,/module_development/ft3/file_lang/
category: module_development
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='file_index_tpl' nav_width=4 %}

	<p>
		You're required to include at least <b>one</b> Smarty template to render your index.php page. This template
		can be located within the main module folder or any subfolder within it and named whatever you want. We
		suggest <b>index.tpl</b> to keep it simple.
	</p>

	<p>
		All HTML within Form Tools is generated through the Smarty template language.
	</p>

	<p>
		Here's the index.tpl file from the Hello World! module. All it does it output a localized "hello world!"
		string.
	</p>

	{% codemirror smarty %}
{include file='modules_header.tpl'}

<div class="title">{$L.phrase_hello_world|upper}</div>

{include file='modules_footer.tpl'}
	{% endcodemirror %}


{% include close_section.html %}
