---
layout: default
navPage: docs
heading: ft_get_module_hooks
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Helper Functions,/module_development/ft3/helper_functions/
  - ft_get_module_hooks
prev: ft_get_dhtml_page_nav,/module_development/ft3/ft_get_dhtml_page_nav/
next: ft_get_module_settings,/module_development/ft3/ft_get_module_settings/
category: module_development
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='ft_get_module_hooks' nav_width=4 %}

	<p>
		This function returns all hooks associated with this module. It's called like so:
	</p>

{% codemirror php %}
$hooks = ft_get_module_hooks("my_module");
{% endcodemirror %}

{% include close_section.html %}
