---
layout: default
navPage: docs
heading: ft_sanitize
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Helper Functions,/module_development/ft3/helper_functions/
  - ft_sanitize
prev: ft_register_hook,/module_development/ft3/ft_register_hook/
next: ft_set_module_settings,/module_development/ft3/ft_set_module_settings/
categories: module_development
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='ft_sanitize' nav_width=4 %}

	<p>
		This invaluable function "sanitizes" incoming data from - for example - a form. It ensures
		the data has been properly escaped for insertion into a database. It's used throughout
		Form Tools. Example usage:
	</p>

{% codemirror php %}
$_POST = ft_sanitize($_POST);
{% endcodemirror %}

{% include close_section.html %}
