---
layout: default
navPage: docs
heading: $module->getSettings()
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Helper Methods,/module_development/ft3/helper_methods/
  - $module->getSettings()
prev: $module->displayPage(),/module_development/ft3/display_page/
next: $module->setSettings(),/module_development/ft3/set_settings/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='get_settings' nav_width=4 %}

	<p>
		This function is the sister of <b>$module->setSettings()</b> described previously. It retrieves values stored
		in the database for your module. It accepts a single parameter: a string of the setting name (key), or an array of
		strings if you want to retrieve multiple values. For example:
	</p>

	{% codemirror php %}
// getting a single value
$age = $module->getSettings("age");

// getting multiple values
$info = array("age", "name");
list($age, $name) = $module->getSettings($info);
	{% endcodemirror %}

	<p>
		The <b>$module->setSettings()</b> and <b>$module->getSettings()</b> functions are good for small snippets
        of data. If you need to store larger quantities of data, we recommend you create your own database table.
	</p>


{% include close_section.html %}
