---
layout: default
navPage: docs
heading: General::getDhtmlPageNav()
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Helper Methods,/module_development/ft3/helper_methods/
  - General::getDhtmlPageNav()
prev: General::evalSmartyString(),/module_development/ft3/eval_smarty_string/
next: General::getPageNav(),/module_development/ft3/get_page_nav/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='get_dhtml_page_nav' nav_width=4 %}

	<p>
		This function is the JS counterpart of the <a href="{{site.baseurl}}/module_development/ft3/get_page_nav/">General::getPageNav()</a>
        method. It provides exactly the same functionality to the user - displaying the same <code>« 1 2 3 ...</code>
        links - but instead of requiring a page refresh when a link is clicked, it hides and shows the appropriate
        section from the page. For this function to work, every page of the data has to have been loaded into the
        page, and only one of which is displayed at any time.
	</p>

	<p>
		Using this function instead of <a href="{{site.baseurl}}/module_development/ft3/get_page_nav/">General::getPageNav()</a>
        can be a good or bad approach depending on your data set: it's primarily a question of volume. If you have a
        large amount of data to show, I wouldn't recommend using this. It will require you to load everything into the
        page - which can be extremely time consuming. It's really intended for situations that entail smaller data sets;
        for example, it's used to display pagination on the main Forms and Clients pages, since there will rarely be &gt;
        100 results (forms of clients) of either.
	</p>

	<p>
		The function is called in your PHP, like so:
	</p>

	{% codemirror php %}
$page_vars["pagination"] = General::getDhtmlPageNav($num_results, $num_per_page, $page);
	{% endcodemirror %}

	<p>
		The function parameters are the following:
	</p>

	<ol>
		<li>the number of results in the total result set (required)</li>
		<li>the number of lines that appear per page (required)</li>
		<li>the current page number (required)</li>
	</ol>

	<p>
		The "pagination" key has to be passed to the template via the ft_display_module_page
		function, like so:
	</p>

	{% codemirror php %}
$module->displayPage("your_template.tpl", $page_vars); // where $page_vars contains "pagination"
	{% endcodemirror %}

	<p>
		In your template just use the $pagination variable to display it:
	</p>

	{% codemirror smarty %}
{$pagination}
	{% endcodemirror %}

	<p>
		You also <b>must</b> include /global/scripts/general.js in your template page. That
		contains the JS used to hide/show the pages.
	</p>

	<p>
		From an HTML standpoint, the function works by detecting nodes in your page that have
		IDs of the form <b>page_X</b> - where X is a number corresponding to each page - and
		hiding and showing them depending on what's selected. e.g. if you just clicked "4" in
		the pagination links, it would (a) hide whatever page ID is currently selected
		(defaults to 1), and (b) show the element.
	</p>

	<p>
		Figuring out the template logic can be a bit tricky, so I'd suggest taking a look at the
		/themes/[any theme]/admin/clients/index.tpl and/or
		/themes/[any theme]/admin/forms/index.tpl templates. They provide a couple of real-life
		examples of how to get it going.
	</p>

{% include close_section.html %}
