---
layout: default
navPage: docs
heading: Module.class.php
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Anatomy of a Module,/module_development/ft3/anatomy/
  - Module.class.php
prev: Anatomy of a Module,/module_development/ft3/anatomy/
next: index.php,/module_development/ft3/file_index/
categories: module_development
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='file_module' nav_width=4 %}

	<p>
        Every module has a <code>/code/Module.class.php</code> file that contains the following:
	</p>

    <ul>
        <li>
            High level information about your module: the author name, release date, module name and description
            (in your target language).
        </li>
        <li>
            Installation, uninstallation and upgrade code, should your module require it.
        </li>
        <li>
            Links to JS and CSS resources to get autoloaded in every one of your module pages (very handy!)
        </li>
        <li>
            Defines the module navigation that'll appear in the interface when the user enters your module.
        </li>
        <li>
            Contains any methods you need to expose to the outside world.
        </li>
    </ul>

	<p>
		Let's start with an example.
	</p>

	{% codemirror php %}
<?php

namespace FormTools\Modules\MyModule;

use FormTools\Module as FormToolsModule;

class Module extends FormToolsModule
{
    protected $moduleName = "My Module";
    protected $moduleDesc = "This is the description of your module name.";
    protected $author = "Your Name";
    protected $authorEmail = "you@something.com";
    protected $authorLink = "https://yoursite.com";
    protected $version = "1.0.0";
    protected $date = "2018-02-20";
    protected $originLanguage = "en_us";
    protected $cssFiles = array(
        // list of CSS files to include here
    );
    protected $jsFiles = array(
        // list of JS files to include here
    );

    protected $nav = array(
        "module_name"  => array("index.php", false),
        "word_submenu" => array("submenu.php", true)
    );

    public function install($module_id)
    {
        return array(true, "");
    }

    public function uninstall($module_id)
    {
        return array(true, "");
    }

    public function upgrade($module_id, $old_module_version)
    {
        return array(true, "");
    }
}
	{% endcodemirror %}

    <h3>Namespace</h3>

    <p>
        Form Tools module code is namespaced to prevent naming conflicts with other modules and the core code. The
        namespace takes the form: <code>FormTools\Modules\YourModuleName</code>. Form Tools folder conventions use
        underscores in folder names, so here your module folder would be named <code>your_folder_name</code>. If your
        folder is named <code>svg_visualizations_lib</code> your namespace needs to be
        <code>FormTools\Modules\SvgVisualizationsLib</code>. If you don't enter the namespace correctly, Form Tools
        will not be able to load or find your module.
    </p>

    <h3>The Module class</h3>

    <p>
        Take a look at <code>global/code/Module.abstract.class.php</code>. All Form Tools modules must extend this
        class - if you forget that step, Form Tools will not recognize your module. Also, note that your class name
        is always <code>Module</code>. You can define as many classes as you want, but the primary module class
        that Form Tools needs to see must be named <code>Module</code>.
    </p>

    <h3>Member variables</h3>

    <div class="row">
        <div class="col-lg-3">
            <code>$moduleName</code>
        </div>
        <div class="col-lg-9">
            The name of your module in the language of your choice. You can also optionally provide a different name for
            people viewing the UI in different languages via your <a href="../file_lang/">language files</a>.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <code>$moduleDesc</code>
        </div>
        <div class="col-lg-9">
            A one-line description of your module in the language of your choice. Like with <code>$moduleName</code> you
            can also provide localization for this value via your <a href="../file_lang/">language files</a>.
        </div>
    </div>
	<div class="row">
		<div class="col-lg-3">
			<code>$author</code>
		</div>
		<div class="col-lg-9">
			Your name.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<code>$authorLink</code>
		</div>
		<div class="col-lg-9">
			A link to whatever site is relevant for the author.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<code>$version</code>
		</div>
		<div class="col-lg-9">
			The current module version. Please follow a simplified semver format of <b>X.Y.Z</b>, where X is the major
            release number, Y is the minor release and Z is for bug fix releases.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
            <code>$date</code>
		</div>
		<div class="col-lg-9">
			The release date of the module version in YYYY-MM-DD format.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<code>$originLanguage</code>
		</div>
		<div class="col-lg-9">
			The default language of the module. This maps to the filename of your language file. Set to <code>en_us</code>
            by default.
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<code>$cssFiles</code>
		</div>
		<div class="col-lg-8">
			This is a convenience option that lets you define CSS files to be included in all of your
            module pages. If you're not using it, just omit the member var altogether. It comes with a couple of handy
            placeholders so you can easily pinpoint the file you want.

            <ul>
                <li></li>
            </ul>
		</div>
	</div>

	{% codemirror php %}
<?php
$MODULE["nav"] = array(
    "module_name"   => array('{$module_dir}/index.php', false),
    "word_settings" => array('{$module_dir}/settings/', false)
);
?>
	{% endcodemirror %}

	<div class="row">
		<div class="col-lg-4">

		</div>
		<div class="col-lg-8">
			The "module_name", "word_settings" and "word_help" have corresponding entries in the
			module's <b>lang/en_us.php</b> language file (i.e. $L["module_name"] = "Export Manager"
			etc.). The values each contain the <b>{$module_dir}</b> Smarty placeholder. This is a
			convenient way to refer to the module root URL. Often you find you won't need it, but if
			your module arranges its files in subfolders, this wards against invalid links.
		</div>
	</div>


{% include close_section.html %}
