---
layout: default
navPage: docs
heading: Module Navigation
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Module Navigation
prev: Database Tables and Data,/module_development/ft3/database_tables/
next: Displaying your Pages,/module_development/ft3/display_pages/
categories: module_development
tags: menus
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='module_nav' nav_width=4 %}

	<p>
		Every module has its own navigation menu - just like the main Form Tools navigation
		menu. The contents and size of the menu is entirely up to you: each menu item can link
		to whatever page you wish - whether it be a page within your module, an external link
		or a link to another Form Tools page.
	</p>
	<p>
		How the module navigation appears in the UI depends on the theme. With the default theme,
		the module navigation appears at the top left, shifting the main navigation menu down
		beneath it.
	</p>

	<p>
		Your module menu items are defined in your
        <a href="{{site.baseurl}}/module_development/ft3/module_class/">Module.class.php</a> file, as discussed earlier.
	</p>

	<p>
		The protected class variable in that class defines your module's menu items. It is an array,
		whose keys correspond to entries in your language file. The values are an array with two
		indexes: the URL of the page, and whether it should appear as a submenu item or not.
	</p>

{% codemirror php %}
protected $nav = array(
    "module_name" => array("index.php", false),
    "word_settings" => array("settings/", false),
    "word_help" => array("help.php", false)
);
{% endcodemirror %}

	<p>
		The "module_name", "word_settings" and "word_help" have corresponding entries in the
		module's <code>lang/en_us.php</code> language file (e.g. $L["module_name"] = "Export Manager"
		etc). The paths are all relative to the module folder.
	</p>

	<p>
		After defining your module menu items as described above, your module's menu will be automatically added
        after your module is installed.
	</p>

{% include close_section.html %}
