---
layout: default
navPage: docs
heading: Hooks::registerHook()
breadcrumbs:
  - Module Development,/module_development/
  - Form Tools 3,/module_development/ft3/
  - Helper Methods,/module_development/ft3/helper_methods/
  - Hooks::registerHook()
prev: General::getPageNav(),/module_development/ft3/get_page_nav/
next: Hooks,/module_development/ft3/hooks/
categories: module_development
versions: FT3
---

{% include open_section.html nav='nav_module_development_ft3.html' selected='register_hook' nav_width=4 %}

	<p>
		This function registers a new hook in the database.
	</p>

{% codemirror php %}
Hooks::registerHook($module_folder, $when, $core_function, $hook_function, $priority = 50, $force_unique = false);
{% endcodemirror %}

	<p>
		The second <b>$when</b> parameter is the string identifying where in the core function
		the hook should be associated. See the <a href="{{site.baseurl}}/module_development/code_hooks/">code hooks</a>
		page for more information on this and the available core functions that can have hooks.
	</p>
	<p>
		The priority parameter determines the priority of the hook. It accepts any value from
		1-100. 50 is the default.
	</p>
	<p>
		The final parameter tells the function to ONLY register the hook if an identical hook
		doesn't already exist. Identity is determined by all the fields passed EXCEPT the priority
		field.
	</p>

{% include close_section.html %}
